<div class="modal fade" id="price_list_item_popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
        <div ng-class="{'whirl no-overlay':showLoader}"></div>
  <div ng-class="{'loader_pop':loader_pop}"></div>
    <div class="modal-dialog  modal-lg" ng-init="get_category_list();">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                <!-- Filter Start -->
                <div class="row" ng-init="get_brand_list(); get_uom_list();get_category_list();">
            <div class="col-md-12">
            <div class="col-md-4" >
              <label class="  control-label">Search </label>
              <div class="">
                <form autocomplete="off"  class="form-horizontal no-margin" role="form" ng-submit="getproducts()">
                <div class="input-symbol">
                  <input type="text"ng-blur="getproducts()"  
                 Placeholder="Search"  class="form-control"ng-model="searchKeyword_priceList.searchBox">
                  <span  id="date_msg_4" > <i class="fa fa-search"></i></span> </div>
               </form> </div>
            
            </div>
            <div class="col-md-2"  >
              <label class="  control-label">Category </label>
              <div class=" ">
              <select ng-model="searchKeyword_priceList.category_names"
                  ng-options="opt as opt.name for opt in cat_prodcut_arr"
                   class=" form-control"     ng-change="getproducts()"   >
                  <option style="display:block" value=""></option>
                </select>
              </div>
            </div>
            <div class="col-md-2" >
              <label class="  control-label">Brand </label>
              <div class=" "> 
                <!--  <select  ng-model="searchKeyword_priceList.brand_name"  id="brnd"  class=" form-control"    >
                  <option style="display:block" value=""></option>
                  <option ng-repeat="value in brand_prodcut_arr"
                      value="{{value.name}}"  label="{{value.name}}">{{value.name}} </option>
                </select>-->
                <select ng-model="searchKeyword_priceList.brand_names"
                  ng-options="opt as opt.name for opt in brand_prodcut_arr"
                   class=" form-control"     ng-change="getproducts()"   >
                  <option style="display:block" value=""></option>
                </select>
              </div>
            </div>
            <div class="col-md-2" >
              <label class="  control-label">Unit </label>
              <div class=" "> 
               <select ng-model="searchKeyword_priceList.units"
                  ng-options="opt as opt.title for opt in uni_prooduct_arr"
                   class=" form-control"     ng-change="getproducts()"   >
                  <option style="display:block" value=""></option>
                </select>
              </div>
            </div>
            
            <div class="col-md-2" >
              <label class="  control-label"> </label>
              <div class=" ">
                <button type="button" class="btn btn-default pull-right" ng-click="getproducts(77,1);"
               ng-model="strict" >Clear</button>
              </div>
            </div>
          </div>
          <div class="col-md-12">
      <!--paging options start-->
      <div class="page-options" style="margin-top:5px">
        <div class="col-xs-4">
          <div class="form-group" >
            <label class="col-md-6 show_record">Show Entries </label>
            <div class="col-md-4">
              <select ng-model="item_paging.pagination_limit"
                ng-options="opt as opt.label for opt in pagination_arry"
                  class="in-t-1"    ng-change="getproducts()"   >
              </select>
            </div>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="text-center total_paging_center" ng-if="products.length > 0">{{total_paging_record}} </div>
        </div>
        <div class="col-xs-4">
          <div class="text-right total_paging_record" ng-if="products.length > 0">Total: {{total}}</div>
        </div>
      </div>
      <!--paging options end-->
    </div>
                </div>
                <!-- Filter End -->   
                <div class="col-md-12 ">
                    <div class="panel-body" style="  overflow-y: scroll;    max-height:200px;">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover no-margin">
                                <thead>
                                <tr class="bg-col">
                                    <th ng-repeat="column in columns"
                                        ng-show="column.title != 'Id' && column.title != 'Current Stock' && column.title != 'Brand Id' && column.title != 'Category Id' && column.title != 'Unit Id' ">
                                        {{column.title}}
                                    </th>
                                </tr>
                                </thead>
                                <tbody class="courser table-body"><!--  | filter:searchKeyword_priceList:strict  track by $index  -->
                                <tr ng-repeat="prod in   products"
                                    ng-click="confirm2(prod)">
                                    <td ng-repeat="column in columns"
                                        ng-show="column.title != 'Id' && column.title != 'Current Stock' && column.title != 'Brand Id' && column.title != 'Category Id' && column.title != 'Unit Id' ">
                                        <span> {{prod[column.field]}}</span>

                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12"  ng-if="products.length > 0">
              <div class="form-group" style="text-align: left;">
                <ul class="pagination" style="margin: 0px !important;" ng-show="item_paging.total_pages > 1">
                  <li ng-class="{'disabled': item_paging.cpage == 1}" class=""> <a ng-click="itemselectPage(item_paging.ppage); getproducts();" href="javascript: void(0);" class="">«</a> </li>
                  <li ng-repeat="(key,value) in item_paging.pages" ng-class="{'active': value == item_paging.cpage}"> <a ng-click="itemselectPage(value); getproducts();" href="javascript: void(0);"><span ng-bind="value"></span></a> </li>
                  <li ng-class="{'disabled': item_paging.cpage == item_paging.total_pages}"> <a ng-click="itemselectPage(item_paging.npage); getproducts();" href="javascript: void(0);" >»</a> </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
            </div>
            <div class="modal-footer">
                Selected:&nbsp;{{(products | filter: {chk: true}).length}}
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


