<div class="widget">
    <div class="widget-body">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3 col-md-3">
                    <div class="form-group">
                        <label class="col-md-4 control-label" title="Quotation Code">Quot. Code</label>
                        <div class="col-md-8">
                            <input type="text" ng-model="rec.quotation_code"
                                   class="form-control ng-pristine ng-untouched ng-valid"
                                   ng-readonly="product_type || rec.id > 0">
                            <input type="hidden" ng-model="rec.code_type" class="ng-pristine ng-untouched ng-valid">
                            <input type="hidden" ng-model="rec.quotation_no"
                                   class="form-control ng-pristine ng-untouched ng-valid">
                        </div>
                        <!-- <div class="col-md-8">
                                      <input type="text" id="code" ng-model="code" class="form-control" readonly="readonly" tabindex="1"/>
                                      <input type="hidden" id="quotation_no" ng-model="rec.quotation_no" class="form-control"/>
              
                                    </div> -->
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" title="Customer Number">Cust. No.<span
                                class="required">*</span></label>
                        <div class="col-md-8">
                            <input type="text" required ng-model="rec.sell_to_cust_no" id="sell_to_cust_no"
                                   class="form-control" style="cursor: pointer !important;" ng-click="getCustomer()"
                                   ng-disabled="check_readonly"/>
                            <input type="hidden" id="currency_id" class="currency_id" ng-model="rec.currency_id"
                                   name="currency_id">
                            <input type="hidden" id="hdn_currency_code" class="hdn_currency_code"
                                   ng-model="hdn_currency_code" name="hdn_currency_code">
                            <input type="hidden" id="sell_to_cust_id" ng-model="rec.sell_to_cust_id"
                                   name="sell_to_cust_id">
                            <input type="hidden" id="hdn_gen_bus_posting_group" ng-model="hdn_gen_bus_posting_group"
                                   name="hdn_gen_bus_posting_group">
                            <input type="hidden" id="hdn_vat_bus_posting_group" ng-model="hdn_vat_bus_posting_group"
                                   name="hdn_vat_bus_posting_group">
                            <input type="hidden" id="hdn_customer_posting_group" ng-model="hdn_customer_posting_group"
                                   name="hdn_customer_posting_group">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" title="Customer Name">Cust. Name</label>
                        <div class="col-md-8">
                            <input type="text" ng-model="rec.sell_to_cust_name" id="sell_to_cust_name"
                                   class="form-control" readonly="readonly"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Address </label>
                        <div class="col-md-8">
                            <input type="text" ng-model="rec.sell_to_address" id="sell_to_address" class="form-control"
                                   readonly="readonly"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Address 2</label>
                        <div class="col-md-8">
                            <input type="text" ng-model="rec.sell_to_address2" id="sell_to_address2"
                                   class="form-control" readonly="readonly"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-md-3">
                    <div class="form-group">
                        <label class="col-md-4 control-label">City</label>
                        <div class="col-md-8">
                            <input type="text" ng-model="rec.sell_to_city" id="sell_to_city" class="form-control"
                                   readonly="readonly"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">County</label>
                        <div class="col-md-8">
                            <input type="text" ng-model="rec.sell_to_county" id="sell_to_county" class="form-control"
                                   readonly="readonly"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Postcode</label>
                        <div class="col-md-8">
                            <input type="text" ng-model="rec.sell_to_post_code" id="sell_to_post_code"
                                   class="form-control" readonly="readonly"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Country </label>
                        <div class="col-md-8">
                            <select ng-model="rec.country_ids" ng-options="opt as opt.name for opt in country_type_arr track by opt.id"
                                    class="select2me form-control" ng-disabled="1">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" title="Contact Person">Cont. Person</label>
                        <div class="col-md-8">
                            <input type="text" ng-model="rec.sell_to_contact_no" style="cursor: pointer !important;" id="sell_to_contact_no"
                                   class="form-control" ng-click="getAltContact()" ng-disabled="check_readonly"/>
                            <input type="hidden" id="sell_to_contact_id" ng-model="rec.sell_to_contact_id"
                                   name="sell_to_contact_id">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-md-3">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Telephone </label>
                        <div class="col-md-8">
                            <input type="text" ng-model="rec.cust_phone" id="cust_phone" class="form-control"
                                   readonly="readonly"/>
                        </div>
                    </div>
                    <!--<div class="form-group">
                                  <label class="col-md-4 control-label">Fax</label>
                                  <div class="col-md-8">
                                    <input type="text" ng-model="rec.cust_fax" id="cust_fax" class="form-control" readonly="readonly"  />
                                  </div>
                                </div>-->
                    <div class="form-group">
                        <label class="col-md-4 control-label">Email</label>
                        <div class="col-md-8">
                            <input type="text" ng-model="rec.cust_email" id="cust_email" class="form-control"
                                   readonly="readonly"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Salesperson</label>
                        <div class="col-md-8">
                            <input type="text" ng-model="rec.sale_person" id="sale_person" style="cursor: pointer !important;" class="form-control"
                                   ng-click="getSalePerson()" ng-disabled="check_readonly"/>
                            <input type="hidden" ng-model="rec.sale_person_id" id="sale_person_id"
                                   class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" title="Customer Quote No.">Cust. Qt. No.</label>
                        <div class="col-md-8">
                            <input type="text" ng-model="rec.cust_order_no" id="cust_order_no" class="form-control"
                                   ng-readonly="check_readonly"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-md-3">
                    <div class="form-group">
                        <label class="col-md-4 control-label ">Currency </label>
                        <div class="col-md-8"><!--|| checked_value-->
                            <select ng-model="rec.currency_id"
                                    ng-disabled="check_readonly"
                                    ng-options="opt as opt.code +' - '+ opt.name for opt in arr_sublistcurrency"
                                    class="form-control">
                                <option style="display:block" value=""></option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label">Quote Date<span class="required">*</span></label>
                        <div class="col-md-8">
                            <input jqdatepicker class="form-control  " id="quote_date"
                                   ng-model="rec.quote_date"
                                   ng-change="testdate_by_id('quote_date', 'requested_delivery_date', 'date_msg_end')"
                                   required readonly>
                            <span class="fa fa-calendar  new_ca  form-control-feedback"></span></div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" title="Requested Delivery Date">Req. Del. Date</label>
                        <div class="col-md-8">
                            <input jqdatepicker class="form-control" id="requested_delivery_date"  ng-model="rec.requested_delivery_date"
                                   ng-change="testdate_by_id('quote_date', 'requested_delivery_date', 'date_msg_end')"
                                   readonly>

                            <span class="fa fa-calendar  new_ca  form-control-feedback"></span>
                            <span id="date_msg_end" style="color: rgb(255, 0, 0); display: none;" class="">Delivery Date is
                                earlier then Quotation Date</span></div>

                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Delivery Date</label>
                        <div class="col-md-8">
                            <input jqdatepicker class="2date-picker form-control" id="delivery_date" ng-model="rec.delivery_date"
                                   required
                                   readonly>
                            <span class="fa fa-calendar  new_ca  form-control-feedback"></span></div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Delivery Time</label>
                        <div class="col-md-8">
                            <input type="text" ng-model="rec.delivery_time" id="t_time" jqtimepicker
                                   class="form-control"
                                   readonly/>
                            <span class="fa fa-clock-o  new_ca  form-control-feedback"></span></div>
                    </div>
                    <!--<div class="form-group">
                        <label class="col-md-4 control-label" title="Link to Purchase Order">Link to PO</label>
                        <div class="col-md-8">
                            <input type="text" ng-model="rec.purchase_order" ng-click="getPurchaseOrders()" id="purchase_order" class="form-control" ng-readonly="check_readonly"  />
                            <input type="hidden" ng-model="rec.purchase_order_id" id="purchase_order_id" class="form-control"  />
                        </div>
                    </div>-->
                </div>
                <div class="col-md-12" style="margin-top:10px;">
                    <div class="pull-right">
                        <button class="btn btn-delete active-btns" type="button" ng-click="delete()"
                                ng-show="rec.id > 0 && !check_readonly"> Delete
                        </button>
                        <button class="btn btn_add pic_block" type="submit"
                                ng-show="!check_readonly"><i
                                class="fa fa-check fa_display" aria-hidden="true"></i> Add Details
                        </button>
                        <button class="btn btn-edit" type="button" ng-click="showEditForm()"
                                ng-show="check_readonly"> Edit
                        </button>

                        <button class="btn btn-cancel" type="button" ui-sref="app.quotes()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include="'app/views/_listing_modal.html'"></div>
<div ng-include="'app/views/_listing_modal_2.html'"></div>