<!-- <div class="row">
<div class="col-md-4 pull-right">
  <button class="btn btn-primary pull-right" ng-hide="check_readonly" style="margin-top:10px;" type="button" ng-click="selectItem()"><em class="fa fa-plus-circle fa-fw mr-sm"></em>Add Item</button>
   <select style="margin-top:10px; margin-right:10px; width:40%;" ng-hide="check_readonly" ng-model="item_types" ng-options="opt as opt.label for opt in arrItems" class="form-control col-md pull-right"></select>

</div>
</div> -->

<!-- START table-responsive-->
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover narrow_table">
        <thead>
        <tr class="bg-col">
            <th width="8%">Type</th>
            <th width="8%">Code.</th>
            <th width="16%">Description</th>
            <th width="5%">Qty.</th>
            <th width="8%">Unit Of Measure</th>
            <th width="8%">Location</th>
            <th width="8%">Unit Price</th>
            <th width="8%">Discount Type</th>
            <th width="8%">Discount</th>
            <th width="8%">VAT</th>
            <th width="8%">Total</th>
            <th width="3%">Action</th>
        </tr>
        </thead>
        <tbody class="courser table-body">
        <tr ng-repeat="item in items track by $index">

            <td ng-if="item.item_type == 0"><select disabled="disabled" class="form-control col-md">
                <option>Item</option>
            </select></td>
            <td ng-if="item.item_type == 2"><select disabled="disabled" class="form-control col-md">
                <option>Service</option>
            </select></td>
            <td ng-if="item.item_type == 1"><select disabled="disabled" class="form-control col-md">
                <option>G/L No.</option>
            </select></td>
            <td ng-if="item.item_type == 0 || item.item_type == 1">{{item.product_code}}</td>
            <td ng-if="item.item_type == 2">{{item.code}}</td>

            <td ng-if="item.item_type == 0 || item.item_type == 1"><input type="text" ng-model="item.description"
                                                                          class="form-control input_text"></td>

            <td><input type="text" ng-model="item.qty" class="form-control col-md" ng-readonly="check_readonly"
                       style="color:#000000" required data-parsley-type="digits" min="1"></td>

            <td><select ng-model="item.units" ng-if="item.item_type == 0"
                        ng-options="opt as opt.name+'('+opt.quantity+')' for opt in item.arr_units"

                        ng-readonly="check_so_readonly" class="form-control" required>
                <option style="display:none" value=""></option>
            </select>
                <select ng-model="item.units" ng-if="item.item_type == 1"
                        ng-options="opt as opt.title for opt in gl_arr_units"
                        ng-readonly="check_so_readonly" class="form-control" required>
                    <option style="display:none" value=""></option>
                    <!--+'('+opt.quantity+')'-->
                </select></td>
            <td ng-if="item.item_type == 2">
                <select ng-model="item.units" ng-options="opt as opt.title for opt in arr_service_units"
                        ng-readonly="check_so_readonly" class="form-control">
                    <option style="display:none" value=""></option>
                </select></td>
            <td ng-if="item.item_type == 0">
                <select ng-model="item.warehouses" ng-change="checkDuplWHItem(item, $index)"
                        ng-options="opt as opt.name for opt in item.arr_prod_warehouse"
                        class="form-control">
                    <option style="display:none" value=""></option><!--arr_warehouse-->
                </select>
                <!--     ng-disabled="check_so_readonly || item.sale_status == 2"-->
            </td>


            <td ng-if="item.item_type == 1">&nbsp</td>
            <td>
                <div class="input-symbol">
                    <input type="text" ng-model="item.standard_price" ng-readonly="check_readonly"
                           class="form-control col-md" style="color:#000000"><span>{{rec.currency_id.code}}</span>
                </div>
            </td>

            <td>
                <select ng-model="item.discount_type_id" ng-options="opt as opt.name for opt in arr_discount_type"
                        ng-readonly="check_readonly" class="form-control">
                    <option style="display:none" value=""></option>
                </select>
            </td>

            <td>
                <div class="input-symbol">
                    <input type="number" ng-model="item.discount" class="form-control col-md"
                           ng-readonly="check_readonly" style="color:#000000"
                           ng-required="item.discount_type_id.id && item.discount_type_id.id !='None'"
                           data-parsley-type="digits"
                           ng-min="item.discount_type_id.id && item.discount_type_id.id !='None'?1:''">
                    <span ng-show="item.discount_type_id.id == 'Percentage'">&#37;</span>
                </div>
            </td>

            <td>
                <select ng-model="item.vats" ng-options="opt as opt.name for opt in arr_vat"
                        ng-readonly="check_readonly" class="form-control">
                    <option style="display:none" value=""></option>
                </select>

                <!-- <input type="text" ng-model="item.vat" class="form-control col-md" ng-readonly="check_readonly" style="color:#000000"> -->
            </td>
            <td>{{item.total_price = rowTotal(item) | number:decimal_range}}&nbsp{{rec.currency_id.code}}
                <ul class="parsley-errors-list filled" ng-show="item.total_price <= 0 || !item.total_price">
                    <li class="parsley-type">This value should be greater than zero.</li>
                </ul>
            </td>
            <!-- <td><span title="Delete" style="color:red;" ng-click="delete($index,item.update_id)" ng-hide="check_readonly"><i class="fa fa-trash-o"></i></span></td> -->
            <td><a ng-click="delete($index, item.update_id)" title="Delete" class="btn"><i class="fa fa-times"></i></a>
            </td>
        </tr>

        <tr ng-hide="check_readonly">

            <td class="text-left">
                <select ng-model="rec.item_types" ng-change="selectItem(rec)"
                        ng-options="opt as opt.label for opt in arrItems"
                        class="form-control col-md pull-left"></select>
            </td>
            <td>N/A</td>
            <td>N/A</td>
            <td><input type="text" value="0" class="form-control col-md" readonly="readonly" style="color:#000000"></td>
            <td><input type="text" ng-class="{'dont-click':check_readonly}" readonly="readonly" value="N/A"
                       class="form-control col-md" style="color:#000000"></td>
            <td><input type="text" value="N/A" readonly="readonly" class="form-control col-md" style="color:#000000">
            </td>
            <td><input type="text" value="0" readonly="readonly" class="form-control col-md" style="color:#000000"></td>
            <td>
                <select disabled="disabled" ng-readonly="check_readonly" class="form-control">
                    <option style="display:none" value=""></option>
                </select>
            </td>

            <td>
                <div class="input-symbol">
                    <input type="text" value="0" class="form-control col-md" readonly="readonly" style="color:#000000">
                </div>
            </td>
            <td><input type="text" ng-class="{'dont-click':check_readonly}" readonly="readonly" value="N/A"
                       class="form-control col-md" style="color:#000000"></td>
            <td>0</td>
            <td>&nbsp;</td>

        </tr>
        </tbody>
    </table>
</div>
<!-- END table-responsive-->

<div class="col-md-9" style="padding-left: 0;">
    <textarea ng-model="rec.note" class="in-t-1" style="width:100%; height:77px;resize: none;" rows="4" cols="30"
              ng-change="showWordsLimits_invoice()" maxlength="500"
              placeholder="Add Note">{{rec.note}}</textarea>
    <span class="word-counter">{{wordsLength}}/500</span>
</div>
<div class="col-md-3 no-padding" id="total-amout">
    <div class="w-55">Amount Exc. VAT</div>
    <div class="w-45">{{netTotal() | number:decimal_range}}&nbsp{{rec.currency_id.code}}</div>

    <div class="w-55">VAT</div>
    <div class="w-45">{{calcVat() | number:decimal_range}}&nbsp{{rec.currency_id.code}}</div>
    <!-- <tr>
      <th>Discount</th>
      <td align="right">0.00 {{calcDiscount() | number:2}}&nbsp{{rec.currency_id.code}} </td>
    </tr> -->
    <div class="w-55">Amount Inc. VAT</div>
    <div class="w-45">{{grandTotal() | number:decimal_range}}&nbsp{{rec.currency_id.code}}</div>
</div>

<div class="clearfix">&nbsp;</div>
<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <button type="button" id="goToNewQuote" ng-show="0" ui-sref="app.addQuote()"></button>
            <button class="btn  btn-default"
                    ng-class="{'btn_blue':enable_btn_submit,'btn_blue low-op dont-click':!enable_btn_submit}"
                    ng-show="items[0].update_id > 0" type="button" ng-click="postOrder()" ng-show="!check_readonly">Post
                Order
            </button>
            <button class="btn"
                    ng-class="{'btn-submit':enable_btn_submit,'btn-submit low-op dont-click':!enable_btn_submit}"
                    type="submit" ng-show="!check_readonly">Save
            </button>
            <button class="btn btn-edit" type="button" ng-click="showEditForm()" ng-show="check_readonly">Edit</button>
            <button class="btn btn-cancel" type="button" ui-sref="app.quotes()">Cancel</button>
        </div>
    </div>
</div>
<!-- <div class="row">
<div class="col-md-12 panel-footer">
    <div class="form-group">
  <label class="col-md-4 control-label">&nbsp;</label>
      <div class="col-md-offset-2 col-md-10">
         <button class="btn btn-sm btn-success" ng-hide="check_readonly" type="button" ng-click="add()">Submit</button>
         <button class="btn btn-sm btn-success" ng-show="check_order_complete" type="button" ng-click="orderCompete()">Order Complete</button>
      </div>
  </div>
</div>
</div> -->


<!-- END panel-->

<style type="text/css">
    .table-body input.ng-invalid {
        border: 1px solid red;
    }

    .table-body .parsley-errors-list.filled {
        position: absolute !important;
        z-index: 1111;
    }

    /*input.ng-valid {
    border: 1px solid green;
    }*/
</style>
