<style type="text/css">
    .ngdialog.ngdialog-theme-default .ngdialog-content {
        width: 600px !important;
    }
    </style>
    <div class="modal-header">
      <h4 class="modal-title">Add {{popup_title}}</h4>
    </div>
    <div class="clearfix"></div>
    <br/>
    <form autocomplete="off"  class="form-horizontal no-margin" role="form" ng-submit="addForm.$valid && add(pedefined)" name="addMethodForm" validate-form="" novalidate="">
        <div class="row animated fadeIn">
            <div class="col-md-12 col-md-12">
              <div class="widget" style="background:none;">
                <div class="widget-body" style="background:none;">
                  <div class="row">
                    <div class="col-md-12">
                    
                      <div class="col-md-5">       

                        <div class="form-group">
                          <label class="col-md-4 control-label">Location To <span class="required">*</span></label>
          
                          <div class="col-md-8" ng-if="rec_area.locOptionTo.id == 1">
          
                            <ui-select ng-model="rec_area.validTo" ng-disabled="haulierFormReadonly">
                              <ui-select-match placeholder="Select Location">{{$select.selected.name +' - '+
                                                      $select.selected.code +' - '+
                                                      $select.selected.address}}
                              </ui-select-match>
                              <ui-select-choices repeat="opt in location_from | filter: $select.search">
                                <div ng-bind-html="opt.name | highlight: $select.search"></div>
                                <small ng-bind-html="opt.code | highlight: $select.search"></small>
                                <small ng-bind-html="opt.address | highlight: $select.search"></small>
                              </ui-select-choices>
                            </ui-select>
                          </div>
          
                          <div class="col-md-8" ng-if="rec_area.locOptionTo.id == 2">
                            <div class="panel-info" ng-click="getHaulierLoc(2)" ng-class="{'dont-click readonly':haulierFormReadonly }" >
                              <div class="panel-body"><!--  style="background-color: white;" -->
                                <span ng-repeat="sp in areasLocTo track by $index">
                                  <span ng-if="areasLocTo.length == 1">{{sp.title}}</span>
                                  <span ng-if="areasLocTo.length > 1">{{sp.title}}<span
                                      ng-if="$index < areasLocTo.length && $index!=0">;&nbsp;</span></span>
                                </span>
                                <aside></aside>
                              </div>
                            </div>
                          </div>
                        </div>
      
                        <div class="form-group">
                            <label class="col-md-4 control-label">Price Date</label>
          
                              <div class="col-md-8">
                                  <input jqdatepicker
                                      class="form-control"
                                      id="priceDate"
                                      placeholder="dd/mm/yyyy"
                                      ng-disabled="haulierFormReadonly"
                                      ng-model="rec_area.priceDate"
                                      ng-class="{'pickdate':!haulierFormReadonly}"
                                      ng-change="validConvrate(rec_area.price, rec_area.currency_id.id,rec_area.priceDate)"
                                      
                                      readonly>
                                  <span class="fa fa-calendar new_ca form-control-feedback"
                                      aria-hidden="true"></span>
                              </div>
                          </div>
          
                        <div class="form-group">
                          <label class="col-md-4 control-label">Price</label>
          
                          <div class="col-md-4 padr6">
                            <div class="input-symbol">
          
                              <input type="text" ng-model="rec_area.price" class="form-control" ng-disabled="haulierFormReadonly"
                                data-parsley-trigger="keyup" data-parsley-minlength-message="Invalid Value"
                                data-parsley-type-message="Invalid Value" data-parsley-error-message="Invalid Value"
                                pattern="[0-9]+([\.,][0-9]+)*" ng-change="validConvrate(rec_area.price, rec_area.currency_id.id,rec_area.priceDate)" />
                              <!--   data-parsley-pattern="/^(?=.*[1-9])\d{0,25}(?:\.\d{0,25})?$/"-->
                              <span>{{rec_area.currency_id.code}}</span>
                            </div>
                          </div>
                          <div class="col-md-4 padl6">
                            <ui-select ng-model="rec_area.currency_id"
                              ng-change="validConvrate(rec_area.price, rec_area.currency_id.id,rec_area.priceDate)" ng-disabled="haulierFormReadonly">
                              <ui-select-match placeholder="Select Currency">{{$select.selected.code}}
                              </ui-select-match>
                              <ui-select-choices repeat="opt in arr_currency | filter: $select.search">
                                <div ng-bind-html="opt.code | highlight: $select.search"></div>
                              </ui-select-choices>
                            </ui-select>
                          </div>
                        </div>
          
                        
                        <div class="form-group">
                          <label class="col-md-4 control-label"> Converted Price</label>
          
                          <div class="col-md-8">
                            <div class="input-symbol">
          
                              <input type="text" ng-model="rec_area.price_lcy" class="form-control"
                                data-parsley-trigger="keyup" data-parsley-minlength-message="Invalid Value"
                                data-parsley-type-message="Invalid Value" data-parsley-error-message="Invalid Value"
                                pattern="[0-9]+([\.,][0-9]+)*" readonly />
                              <span><!-- {{rec_area.currency_id.code}} -->{{defaultCurrencyCode}}</span>
                            </div>
                            <!--{{defaultCurrencyCode}}-->
                          </div>
                        </div>
          
                      </div>
                      <div class="col-md-5 col-md-offset-2">
                        <!-- <div class="form-group">
                          <label class="col-md-4 control-label">Offer Method</label>
          
                          <div class="col-md-8">
                            <ui-select ng-model="rec_area.offer_methods" ng-disabled="haulierFormReadonly">
                              <ui-select-match placeholder="Select Offer Method">{{$select.selected.title}}</ui-select-match>
                              <ui-select-choices repeat="opt in arr_offer_method | filter: $select.search">
                                <div ng-bind-html="opt.title | highlight: $select.search"></div>
                              </ui-select-choices>
                            </ui-select>
          
                          </div>
                        </div> -->
                        <div class="form-group">
                          <label class="col-md-4 control-label">Shipping Method</label>
          
                          <div class="col-md-8">
                            <ui-select ng-model="rec_area.haulierShippingMethod_Name" ng-disabled="haulierFormReadonly">
                              <ui-select-match placeholder="Select Shipping Method">{{$select.selected.name}}</ui-select-match>
                              <ui-select-choices repeat="opt in haulierShippmentMethodsArray | filter: $select.search">
                                <div ng-bind-html="opt.name | highlight: $select.search"></div>
                              </ui-select-choices>
                            </ui-select>
                          </div>
          
                        </div>
          
                        <div class="form-group">
                          <label class="col-md-4 control-label">Notes</label>
          
                          <div class="col-md-8">
                            <textarea name="notes" cols="160" rows="4" id="note" ng-model="rec_area.notes" class="form-control"
                              ng-readonly="haulierFormReadonly" maxlength="250"
                              style="height:100px !important;resize:none;"></textarea>
                          </div>
                        </div>
          
                        <div class="form-group">
                          <label class="col-md-4 control-label">Status <span class="required">*</span></label>
          
                          <div class="col-md-8">
                            <ui-select ng-model="rec_area.status" ng-disabled="haulierFormReadonly">
                              <ui-select-match placeholder="Select Status">{{$select.selected.title}}</ui-select-match>
                              <ui-select-choices repeat="opt in status_list | filter: $select.search">
                                <div ng-bind-html="opt.title | highlight: $select.search"></div>
                              </ui-select-choices>
                            </ui-select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
          
                  <div class="row">
                    <div class="col-md-12">
                      <div class="col-md-12">
                        <div class="pull-right">
                          <button class="btn btn-delete" type="button" 
                              ng-click="deleteHaulier(rec_area.id)"
                              ng-if="rec_area.id >0 && deleteHaulierTabPermission"
                              ng-show="!haulierFormReadonly">Delete
                          </button>
                          <button class="btn btn-submit" type="button" 
                              ng-click="addHaulier(rec_area)"
                              ng-show="!haulierFormReadonly">Save
                          </button>
                          <button class="btn btn-edit" type="button" 
                              ng-click="gotoeditHaulierForm()"
                              ng-if="editHaulierTabPermission" 
                              ng-show="haulierFormReadonly">Edit
                          </button>
                          <button class="btn btn-cancel" type="button" 
                              ng-click="getHaulierListing()">Cancel
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      <div class="clearfix"></div>
      <br/>
      <div class="modal-footer">
        <div class="col-md-12">
          <div class="pull-right"><!---->
            <button class="btn btn-submit" ng-class="{'btn-submit':addMethodForm.name.$valid,'btn-submit dont-click':!addMethodForm.name.$valid}" type="button" ng-click="confirm(pedefined)"><i class="fa fa-check fa_display"></i> Submit</button>
            <button class="btn btn-cancel" type="button" ng-click="closeThisDialog()"><i class="fa fa-undo fa_display"></i> Cancel</button>
          </div>
        </div>
      </div>
    </form>
     