<style>
    .ngdialog.ngdialog-theme-default .ngdialog-content {
        width: 350!important;
    }
    .ngdialog.ngdialog-theme-default .ngdialog-message {
    margin-bottom: .5em;
    padding: 10px;
}
.ngdialog.ngdialog-theme-default {
    padding-bottom: 160px;
    padding-top: 160px !important;
}
</style>
<div>
    <div class="col-md-12">
        <div class="panel-title2">
            Category
        </div>
        <div class="col-md-5">

            <div class="form-group">
                <label class="col-md-4 control-label">Name<span class="required">*</span></label>

                <div class="col-md-8">
                    <input type="text" ng-model="rec.name" id="name" name="name" class="form-control" ng-readonly="check_readonly" required tabindex="1"
                    />
                </div>
            </div>

            <!-- <div class="form-group">
                <label class="col-md-4 control-label">Description<span class="required">*</span></label>

                <div class="col-md-8">
                    <input type="text" ng-model="rec.description" id="description" name="description" class="form-control" ng-readonly="check_readonly"
                        required tabindex="1" />
                    <textarea name="rec.description" cols="160" rows="10" id="description" ng-model="rec.description" class="form-control" required="1" ng-readonly="check_readonly" tabindex="2"></textarea>
                </div>
            </div> -->

            <div class="form-group">
                <label class="col-md-4 control-label">Brands</label>

                <div class="col-md-8">
                    <div title="{{SelbrandTooltip}}">
                        <div class="panel-info pi2" ng-class="{'dont-click readonly':check_readonly}" ng-click="getBrands()">
                            <div class="panel-body" ng-class="{'dont-click readonly':check_readonly}">
                                <span ng-repeat="sp in brandSelArray track by $index">
                                    <!-- <span ng-if="$index == 0"><span>{{sp.title}}</span></span>
                                    <span ng-if="$index > 0">;&nbsp;<span>{{sp.title}}</span></span> -->
                                    <span ng-if="brandSelArray.length == 1"> {{sp.title}} </span>
									<span ng-if="brandSelArray.length > 1"> {{sp.title}} <span ng-if="$index < brandSelArray.length && $index!=0">;&nbsp;</span></span>
                                </span>
                                <aside></aside>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="form-group">
                <label class="col-md-4 control-label">Status<span class="required">*</span></label>

                <div class="col-md-8">

                    <ui-select ng-model="rec.status">
                        <ui-select-match placeholder="Select Status">{{$select.selected.label}}</ui-select-match>
                        <ui-select-choices repeat="opt in arr_status | filter: $select.search">
                            <div ng-bind-html="opt.label | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div> -->
        </div>
    </div>
</div>

<div ng-include="'app/views/category/brandsModal.html'"></div>
<!--<div class="row" ng-show="warehouse_allocation_cost">
    <div class="col-md-12">
        <div class="col-md-12">
            <div class="col-md-6">
                <button class="btn btn-default " type="button" title="(If Applicable)"
                        ng-click="warehouse_allocation_cost_popup(rec.id)">
                    <i class="fa fa-check fa_display"></i> Warehouse Allocation Costs
                </button>
            </div>
        </div>
    </div>
</div>-->

<!-- <form class="form-horizontal" role="form" ng-submit="add(rec)" name="addForm" validate-form="" novalidate="" form-wizard="">
<div class="row">
<div class="form-group">
  <label class="col-md-2 control-label">Name<span class="required">*</span></label>
  <div class="col-md-6">
     <input type="text" ng-model="rec.name" id="name" name="name" class="form-control" ng-readonly="check_readonly" required tabindex="1" />
  </div>
  </div>
  </div>
  <div class="row">
<div class="form-group">
  <label class="col-md-2 control-label">Description <span class="required">*</span></label>
  <div class="col-md-6">
    <textarea name="rec.description" cols="160" rows="10" id="description" ng-model="rec.description" class="form-control" required="1" ng-readonly="check_readonly" tabindex="2"></textarea>  </div>
  </div>
  </div>
</form>-->