<style type="text/css">
.ngdialog-content {
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.ngdialog.ngdialog-theme-default .ngdialog-content {
	width: 600px !important;
}
</style>
<div class="modal-header">
  <h4 class="modal-title">Add {{popup_title}}</h4>
</div>
<form autocomplete="off"  class="form-horizontal no-margin" role="form" ng-submit="addForm.$valid && add(pedefined)" name="addForm" validate-form="" novalidate="">
  <div class="row">
    <div class="col-md-12 col-md-12">
      <div class="row" style="padding-left: 20px; padding-right: 20px !important;">
        <div class="col-md-12">
          <div class="form-group">
            <label class="col-md-3 control-label" style="padding-right: 0px !important;">Description <span class="required">*</span></label>
            <div class="col-md-9">
              <input type="text" ng-model="pedefined.name" id="name" name="name" class="form-control" ng-readonly="check_readonly" required  />
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label class="col-md-3 control-label">Days<span class="required">*</span></label>
            <div class="col-md-9">
              <input type="number" ng-model="pedefined.days"
             required  id="days" name="days" class="form-control" ng-readonly="check_readonly"  />
            </div>
          </div>
        </div>
        <!-- <div class="col-md-6 col-md-6">
          <div class="form-group">
            <label for="userName" class="col-md-3 control-label">Select Type</label>
            <div class="col-md-7">
              <select ng-model="rec.predefine_type" ng-options="opt as opt.label for opt in predefine_types" class="select2me form-control" ng-disabled="check_readonly"   tabindex="7" > </select>
            </div>
          </div>
      </div> --> 
      </div>
      
      <!-- <div class="row">
      <div class="col-md-6 col-md-6">
          <div class="form-group">
            <label for="userName" class="col-md-3 control-label">Description</label>
            <div class="col-md-7">
              <input type="text" ng-model="rec.description" id="description" name="description" class="form-control" ng-readonly="check_readonly" required tabindex="1"/>

            </div>
          </div>
      </div>
</div> --> 
      
    </div>
  </div>
  <div class="col-md-12 modal-footer">
    <div class="pull-right">
      <button class="btn btn-submit" type="button" ng-click="confirm(pedefined)"><i class="fa fa-check fa_display"></i> Submit</button>
      <button class="btn btn-cancel" type="button" ng-click="closeThisDialog()"><i class="fa fa-undo fa_display"></i> Cancel</button>
    </div>
  </div>
</form>
