api/classes/Config.Inc.php
api/classes/adodb
api/classes/adodb__
api/classes/adodb2
/api/classes/Config.Inc.php
api/libraries
api/meta_files
api/Slim
api/tests
api/vendor
app/vendor
app/js/angular-unsavedChanges
upload/company_logo_temp
node_modules
node_modules/*
.vscode/launch.json
upload/attachments/*
csvs/*
