<div id="productModal" class="modal fade" role="dialog">
   <div ng-class="{'whirl no-overlay':showLoader}"></div>
  <div ng-class="{'loader_pop':loader_pop}"></div>
  <div class="modal-dialog"  style="width:65% !important;">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h4 class="modal-title">{{title}}</h4> 
      </div>
      <div class="modal-body">
        <tabset>
        <tab heading="Item(s)" id="crmPromoItems" ng-click="getProducts(recs,'all')" ng-show="showItms">
        <div class="row"  ng-init="get_category_list();get_brand_list(); get_uom_list();">
        
        <!-- Filter Start -->
           <div class="col-md-12">
            <div class="col-md-4" >
              <label class="  control-label">Search </label>
              <div class="">
                <form autocomplete="off"  class="form-horizontal no-margin" role="form" ng-submit="getproducts()">
                <div class="input-symbol">
                  <input type="text"ng-blur="getproducts()"  
                 Placeholder="Search"  class="form-control"ng-model="searchKeyword_price.searchBox">
                  <span  id="date_msg_4" > <i class="fa fa-search"></i></span> </div>
               </form> </div>
            
            </div>
            <div class="col-md-2"  >
              <label class="  control-label">Category </label>
              <div class=" ">
              <select ng-model="searchKeyword_price.category_names"
                  ng-options="opt as opt.name for opt in arr_categories"
                   class=" form-control"     ng-change="getproducts()"   >
                  <option style="display:block" value=""></option>
                </select>
              </div>
            </div>
            <div class="col-md-2" >
              <label class="  control-label">Brand </label>
              <div class=" "> 
                <!--  <select  ng-model="searchKeyword_price.brand_name"  id="brnd"  class=" form-control"    >
                  <option style="display:block" value=""></option>
                  <option ng-repeat="value in brand_prodcut_arr"
                      value="{{value.name}}"  label="{{value.name}}">{{value.name}} </option>
                </select>-->
                <select ng-model="searchKeyword_price.brand_names"
                  ng-options="opt as opt.name for opt in brand_prodcut_arr"
                   class=" form-control"     ng-change="getproducts()"   >
                  <option style="display:block" value=""></option>
                </select>
              </div>
            </div>
            <div class="col-md-2" >
              <label class="  control-label">Unit </label>
              <div class=" "> 
               <select ng-model="searchKeyword_price.units"
                  ng-options="opt as opt.title for opt in uni_prooduct_arr"
                   class=" form-control"     ng-change="getproducts()"   >
                  <option style="display:block" value=""></option>
                </select>
              </div>
            </div>
            
            <div class="col-md-2" >
              <label class="  control-label"> </label>
              <div class=" ">
                <button type="button" class="btn btn-default pull-right" ng-click="getproducts(77,1);"
               ng-model="strict" >Clear</button>
              </div>
            </div>
          </div>
          <div class="col-md-12">
      <!--paging options start-->
      <div class="page-options" style="margin-top:5px">
        <div class="col-xs-4">
          <div class="form-group" >
            <label class="col-md-6 show_record">Show Entries </label>
            <div class="col-md-4">
              <select ng-model="item_paging.pagination_limit"
                ng-options="opt as opt.label for opt in pagination_arry"
                  class="in-t-1"    ng-change="getproducts()">
              </select>
            </div>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="text-center total_paging_center" ng-if="products.length > 0">{{total_paging_record}} </div>
        </div>
        <div class="col-xs-4">
          <div class="text-right total_paging_record" ng-if="products.length > 0">Total: {{total}}</div>
        </div>
      </div>
      <!--paging options end-->
    </div>
        <!-- Filter End -->
        <!--<div class="col-md-12 col-md-12">
            <div class="form-group">
              <div class="col-sm-4">
                <select ng-model="recs.category" id="prod_category" ng-options="opt as opt.name for opt in arr_categories"  class="form-control"><option style="display:none;" value=""></option> </select>
              </div>
              <div class="col-sm-4">
                <input type="text" ng-model="recs.search_data" id="search_data"  class="form-control"  />                
              </div>
              <a id="prompt" ng-click="getProducts(recs,'')" class="btn btn_blue margin_bottom width_80"><i class="fa fa-search fa_display"></i>Search</a>
              <a id="prompt" ng-click="getProducts(recs,'all')" class="btn btn_blue margin_bottom width_80">Show All</a>
            </div>
        </div>-->
  </div>
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default"  >
              <div class="panel-body" style="  overflow-y: scroll;    max-height: 325px;">
                <div class="table-responsive">
               <table class="table table-striped table-bordered table-hover">
                  <thead>
                     <tr class="bg-col">
                        <th><input type="checkbox" class="checkAll"></th>
                        <th>Item Code</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Brand</th>
                        <th>Unit Of Measure</th>
                        <th>Unit Price</th>
                     </tr>
                  </thead>
                  <tbody class="courser table-body">
                     <tr ng-repeat="prod in products" ng-if="prod.standard_price !='' && prod.standard_price > 0">
                        <td><input type="checkbox" ng-checked="prod.chk" ng-click="selectProd(prod.id)"></td>
                        <td>{{prod.code}}</td>
                        <td>{{prod.name}}</td>
                        <td>{{prod.category_name}}</td>
                        <td>{{prod.brand_name}}</td>
                        <td>{{prod.unit_name}}</td>
                        <td>{{prod.standard_price}}</td>
                     </tr>
                     <tr ng-if="products.length == 0"><td colspan="7" class="text-center" >No record found!</td></tr>
                  </tbody>
               </table>
             </div>
              </div>
            </div>
          </div>
<div class="col-lg-12"  ng-if="products.length > 0">
              <div class="form-group" style="text-align: left;">
                <ul class="pagination" style="margin: 0px !important;" ng-show="item_paging.total_pages > 1">
                  <li ng-class="{'disabled': item_paging.cpage == 1}" class=""> <a ng-click="itemselectPage(item_paging.ppage); getproducts();" href="javascript: void(0);" class="">«</a> </li>
                  <li ng-repeat="(key,value) in item_paging.pages" ng-class="{'active': value == item_paging.cpage}"> <a ng-click="itemselectPage(value); getproducts();" href="javascript: void(0);"><span ng-bind="value"></span></a> </li>
                  <li ng-class="{'disabled': item_paging.cpage == item_paging.total_pages}"> <a ng-click="itemselectPage(item_paging.npage); getproducts();" href="javascript: void(0);" >»</a> </li>
                </ul>
              </div>
            </div>
    </div>
  </tab>
  <tab heading="Service(s)" id="crmPromoService" ng-click="getServices(recs,'all')" ng-show="showServices && showServ">
        <div class="row">
        <div class="col-md-12 col-md-12">
            <div class="form-group">
              <div class="col-sm-4">
                <select ng-model="recs.category" id="prod_category" ng-options="opt as opt.name for opt in arr_categories"  class="form-control"><option style="display:none;" value=""></option> </select>
              </div>
              <div class="col-sm-4">
                <input type="text" ng-model="recs.search_data" id="search_data"  class="form-control"  />                
              </div>
              <a id="prompt" ng-click="getServices(recs,'')" class="btn btn_blue margin_bottom"><i class="fa fa-search fa_display"></i>Search</a>
              <a id="prompt" ng-click="getServices(recs,'all')" class="btn btn_blue margin_bottom width_80">Show All</a>
            </div>
        </div>
  </div>
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default"  >
              <div class="panel-body" style="  overflow-y: scroll;    max-height: 325px;">
                <div class="table-responsive">
               <table class="table table-striped table-bordered table-hover">
                  <thead>
                     <tr class="bg-col">
                        <th><input type="checkbox" class="checkAll"></th>
                        <th>Service Code</th>
                        <th>Description</th>
                        <th>Category</th>
                        <th>Brand</th>
                        <th>Unit Of Measure</th>
                        <th>Unit Price</th>
                     </tr>
                  </thead>
                  <tbody class="courser table-body">
                     <tr ng-repeat="prod in products" ng-if="prod.standard_price !='' && prod.standard_price > 0">
                        <td><input type="checkbox" ng-checked="prod.chk" ng-click="selectProd(prod.id)"></td>
                        <td>{{prod.code}}</td>
                        <td>{{prod.description}}</td>
                        <td>{{prod.category_name}}</td>
                        <td>{{prod.brand_name}}</td>
                        <td>{{prod.unit_of_measure_name}}</td>
                        <td>{{prod.standard_price}}</td>
                     </tr>
                     <tr ng-if="products.length == 0"><td colspan="7" class="text-center" >No record found!</td></tr>
                  </tbody>
               </table>
             </div>
              </div>
            </div>
          </div>

 
    </div>
  </tab>
</tabset>
  </div>
      <div class="modal-footer">
        <span class="pull-left">Selected:&nbsp;{{(products | filter: {chk: true}).length}}</span>
        <button type="button" class="btn default pull-right width_80" data-dismiss="modal">Cancel</button>
        <button class="btn btn_blue pull-right width_80" style="margin:0 5px;" type="button" ng-click="addPromoProd(prod)"><i class="fa fa-check fa_display"></i>Add</button>
      </div>
</div>