<div ng-controller="PromotionSelectedProductsController as table">

 <!-- Row starts -->
  <div class="row">

    <div class="col-md-12 col-md-12" >
      <div class="panel panel-default">
        <div class="panel-heading"> 
            <h3 class="panel-title">Items</h3> 
        </div> 
        <div class="panel-body">
            <div id="dt_example" class="example_alt_pagination">


    <table ng-table="table.tableParams6" class="table table-bordered table-striped" show-filter="true">
      <thead>
        <tr class="bg-col">
        <!-- <th check-all="check-all"><em class="fa icon-basket-loaded" title="Existed products in {{promotion_name}}"></em>
               </th> -->
          <th ng-repeat="column in columns" ng-show="column.visible"
                    class="sortable" ng-class="{
                    'sort-asc': table.tableParams6.isSortBy(column.field, 'asc'),
                    'sort-desc': table.tableParams6.isSortBy(column.field, 'desc')
                  }"
                    ng-click="table.tableParams6.sorting(column.field, tableParams.isSortBy(column.field, 'asc') ? 'desc' : 'asc')"> {{column.title}} </th>
        </tr>
        <!-- <tr>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
          <th ng-repeat="column in columns"
                    ng-show="column.visible"
                    class="sortable"
                        > <input type="text" class="form-control"
                           ng-model="MyCustomeFilters[column.title] "/>
          </th>
        </tr> -->
      </thead>
      <tbody>
        <tr ng-repeat="prod in $data" ng-init="chkDisabled = selection.indexOf(prod.id) == -1">
          <td ng-repeat="column in columns" ng-show="column.visible" sortable="column.field"> {{prod[column.title]}}</td>
        </tr>
      </tbody>
    </table>

</div>
</div>
</div>
</div>
</div>
</div>


<!--ng-controller="PromotionSelectedProductsController as table"-->
<!--<div class="panel panel-default" ng-controller="PromotionProductsController as table">
    <h4>Products ({{promotion_name}})</h4>
    <table ng-table="table.tableParams6" class="table table-bordered table-striped" show-filter="true">
      <thead>
        <tr class="bg-col">
        <th check-all="check-all">
                  <div data-toggle="tooltip" data-title="Check All" class="checkbox c-checkbox">
                     <label>
                        <input type="checkbox" />
                        <span class="fa fa-check"></span>
                     </label>
                  </div>
               </th>
          <th ng-repeat="column in columns" ng-show="column.visible"
                    class="sortable" ng-class="{
                    'sort-asc': table.tableParams6.isSortBy(column.field, 'asc'),
                    'sort-desc': table.tableParams6.isSortBy(column.field, 'desc')
                  }"
                    ng-click="table.tableParams6.sorting(column.field, tableParams.isSortBy(column.field, 'asc') ? 'desc' : 'asc')"> {{column.title}} </th>
        </tr>
        <tr>
        <th>&nbsp;</th>
          <th ng-repeat="column in columns"
                    ng-show="column.visible"
                    class="sortable"
                        > <input type="text" class="form-control"
                           ng-model="MyCustomeFilters[column.title] "/>
          </th>
        </tr>
      </thead>
      <tbody> 
        <tr ng-repeat="user in $data" ng-if="selection.indexOf(user.id) != -1">
            <td>
              <div class="checkbox c-checkbox">
                 <label>
                    <input type="checkbox" />
                    <span class="fa fa-check"></span>
                 </label>
              </div>
           </td>
          <td ng-repeat="column in columns" ng-show="column.visible" sortable="column.field"> {{user[column.title]}} </td>
        </tr>
      </tbody>
    </table>
<div class="row">
    <div class="col-md-12 panel-footer">
        <div class="form-group">
         <label class="col-md-4 control-label">&nbsp;</label>
          <div class="col-md-offset-2 col-md-10">
             <button type="submit" class="btn btn-sm btn-success" tabindex="18">Submit</button>&nbsp;
          </div>
      </div>
   </div>
</div>
</div>-->
  