<div class="modal fade" id="OopCycleFrequencyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" dragable>
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{title}}</h4>

            </div>
            <div class="modal-body" style="overflow-x:hidden">

                <div class="row">
                    <div class="col-md-12 col-md-12">
                        <div>
                            <div>
                                <form autocomplete="off" id="OopCycleFrequency" name="OopCycleFrequency" class="form-horizontal" role="form" validate-form=""
                                    novalidate="">

                                    <h4 style="padding-left: 15px;">Monthly Spread</h4>

                                    <div ng-if="frequency==1">
                                        <div class="col-md-4">
                                            <div ng-repeat="month in startMonthArr | startFrom : start_month | orderBy:'id' track by $index" ng-if="$index < 6">
                                                <div class="form-group">
                                                    <label ng-class="($index < 6) ? 'col-md-3 control-label2' : 'col-md-4 control-label2'">{{month.title}}</label>
                                                    <div class="col-md-8">

                                                        <div class="input-symbol">
                                                            <input type="number" ng-model="recFrequency.monthlySpreadArr[month.title]" id="recFrequency.month.title" ng-change="toggleEqualSpread(recFrequency.equalSpread,month.title)"
                                                                class="form-control" ng-readonly="check_readonly_opp"  ng-model-options='{ debounce: 1000 }' />
                                                            <span>{{defaultCurrencyCode}}</span>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div ng-repeat="month in startMonthArr | startFrom : start_month | orderBy:'id' track by $index" ng-if="$index >= 6">
                                                <div class="form-group">
                                                    <label ng-class="($index < 6) ? 'col-md-3 control-label2' : 'col-md-4 control-label2'">{{month.title}}</label>
                                                    <div class="col-md-8">

                                                        <div class="input-symbol">
                                                            <input type="number" ng-model="recFrequency.monthlySpreadArr[month.title]" id="recFrequency.month.title" ng-change="toggleEqualSpread(recFrequency.equalSpread,month.title)"
                                                                class="form-control" ng-readonly="check_readonly_opp" ng-model-options='{ debounce: 1000 }' />
                                                            <span>{{defaultCurrencyCode}}</span>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>


                                        <div class="col-md-3">
                                            <label class="control-label2">Start Month</label>
                                            <ui-select  ng-disabled="check_readonly_opp" ng-model="recFrequency.startmonth"   ng-change="changeOppCycleMonthSequence()">
                                                <ui-select-match  placeholder="Select Start Month">{{$select.selected.title}}</ui-select-match>
                                                <ui-select-choices repeat="opt in startMonthSelectionArr | filter: $select.search">
                                                    <div  ng-bind-html="opt.title | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>

                                    <div ng-if="frequency==2">
                                        <div class="col-md-8">

                                            <div class="form-group">
                                                <label class="col-md-8 control-label2">First Month</label>
                                                <div class="col-md-8">
                                                    <div class="input-symbol">
                                                        <input type="number" ng-model="recFrequency.firstquartermonth" id="firstquartermonth" ng-change="toggleEqualSpread(recFrequency.equalSpread,month.title)"
                                                            class="form-control" ng-readonly="check_readonly_opp" ng-model-options='{ debounce: 1000 }' />
                                                        <span>{{defaultCurrencyCode}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-8 control-label2">Second Month</label>
                                                <div class="col-md-8">
                                                    <div class="input-symbol">
                                                        <input type="number" ng-model="recFrequency.secondquartermonth" id="secondquartermonth" ng-change="toggleEqualSpread(recFrequency.equalSpread,month.title)"
                                                            class="form-control" ng-readonly="check_readonly_opp" ng-model-options='{ debounce: 1000 }' />
                                                        <span>{{defaultCurrencyCode}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-8 control-label2">Third Month</label>
                                                <div class="col-md-8">
                                                    <div class="input-symbol">
                                                        <input type="number" ng-model="recFrequency.thirdquartermonth" id="thirdquartermonth" ng-change="toggleEqualSpread(recFrequency.equalSpread,month.title)"
                                                            class="form-control" ng-readonly="check_readonly_opp" ng-model-options='{ debounce: 1000 }' />
                                                        <span>{{defaultCurrencyCode}}</span>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Row ends -->
            </div>
            <div class="modal-footer">
                <!-- <button class="btn btn_add2" ng-click="equalSpreadFrequency(recFrequency)" type="button">/button> -->
                <!-- <label class="pull-left" style="    margin: 3px 14px;">
                    <input id="equalSpread" type="checkbox"
                        ng-model="recFrequency.equalSpread" 
                        ng-disabled="check_readonly_opp" 
                        ng-checked="recFrequency.equalSpread>0"
                        ng-click="equalSpreadFrequency(recFrequency.equalSpread)">Equal Spread
                </label> -->
                <div class="pull-left">
                    <button class="btn btn-default2" type="button" id="equalSpread"
                        ng-disabled="check_readonly_opp" 
                        ng-click="equalSpreadFrequency(recFrequency.equalSpread)">Equal Spread</button>
                    <button class="btn btn-default2" type="button"
                        ng-click="equalSpreadRemainingFrequency()" id="equalSpreadRemaining"
                        ng-disabled="check_readonly_opp" >Equal Spread Remaining</button>
                    <button class="btn btn-default2"
                            type="button"
                            ng-click="clearFields()"
                            id="clearFields"
                            ng-disabled="check_readonly_opp">Clear Fields</button>
                </div>
                
                <button class="btn btn_add2" ng-click="add_OopCycleFrequency(recFrequency)" type="button" ng-disabled="check_readonly_opp">Add</button>
              
                <button type="button" class="btn btn-cancel2" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>