<div class="row">
    <div class="col-md-3">
        <div class="input-symbol">
            <input type="text" ng-model="Serachkeywordoop" placeholder="Search" class="in-t-1" />
            <!-- <input type="submit"  style="display:none"   />-->
            <span id="date_msg_4">
                <i class="fa fa-search"></i>
            </span>
        </div>
    </div>
    <div class="col-md-9">
        <a id="prompt" ng-if="addOppCyclePermission" ng-click="showOppCycleForm()" class="btn pull-right btn_add">Add
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-md-12">
        <div class="widget">
            <div class="widget-body1 ">
                <!-- ng-controller="CrmOpportunityCycleController as table"-->
                <div id="dt_example" class="example_alt_pagination">
                    <div class="table-responsive">
                        <table class="table table-condensed table-striped table-hover table-bordered" id="data-table"
                            ng-show="viewOppCyclePermission == 1" ng-if="all_opp_cyles.length > 0">
                            <thead class="fixit">
                                <tr class="bg-col">
                                    <!-- <th ng-repeat="column in columns_oop" ng-if="	column.title != 'Id' && column.field != 'child_id' && column.title != 'Stage Id' && column.field != 'is_complete' && column.field != 'history'">
                                        {{column.title}}
                                    </th> -->
                                    <th> Opp Code</th>
                                    <th> Code</th>
                                    <th> Name</th>
                                    <th> Forecast Amount</th>
                                    <th> Probability</th>
                                    <th> Stage</th>
                                    <th> Expected Date</th>
                                    <th> Creation Date</th>
                                    <th> Action</th>
                                </tr>
                            </thead>
                            <tbody class="table-body fixit">
                                <tr ng-repeat="record in all_opp_cyles| filter:Serachkeywordoop" ng-if="all_opp_cyles.length > 0">
                                    <td>{{record.opp_code}}</td>
                                    <td>{{record.code}}</td>
                                    <td>{{record.name}}</td>
                                    <td>{{record.forecast_amount}}</td>
                                    <td>{{record.probability}}</td>
                                    <td>{{record.stage}}</td>
                                    <td>{{record.expected_date}}</td>
                                    <td>{{record.creation_date}}</td>
                                    <td>
                                        <span ng-if="record.crm_type == 1">
                                            <a title="Open" class="btn" target="_blank" ui-sref="app.editCrm({id:record.crm_id, isOppCycle:record.open_code})" ng-class="{'dont-click':deleteOppCyclePermission == 0}">
                                                <i class="fa fa-external-link"></i>
                                            </a>
                                        </span>
                                        <span ng-if="record.crm_type != 1">
                                            <a title="Open" class="btn" target="_blank" ui-sref="app.editCustomer({id:record.crm_id, isOppCycle:record.open_code})" ng-class="{'dont-click':deleteOppCyclePermission == 0}">
                                                <i class="fa fa-external-link"></i>
                                            </a>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                            <div ng-show="!all_opp_cyles.length > 0" class="no-record"></div>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>