<div id="productModal"
     class="modal fade"
     role="dialog">
    <div class="modal-dialog modal-lg"
         draggable>
        <div class="modal-content">
            <div class="modal-header">
                <button type="button"
                        class="close"
                        data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Select Item(s)</h4>
            </div>
            <div class="modal-body"
                 style="overflow:hidden !important;">
                <div class="row"
                     style="    margin-bottom: 0px !important;">
                    <div class="col-md-12">
                        <div ng-if="moduleType == 'ItemDetail'">
                            <div class="flexiTable"
                                 x-report-modal="'true'"
                                 x-generate-table
                                 x-data="tableData.data"
                                 x-controller-initiate
                                 x-forget-filters="true"
                                 x-table-name="itemDetailModal"
                                 x-filter-function="selectItem()"
                                 x-checked-records="selectedRecFromModalsItem"
                                 x-selected-record-preview="product_code"
                                 x-filter-object="searchKeywordItem"
                                 x-read-only="{{product_readonly}}"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <span class="pull-left">
                    <!-- Selected:&nbsp;{{PendingSelectedItems.length}} --></span>
                <div class="pull-right">
                    <button class="btn btn_add"
                            type="button"
                            ng-if="rec.id == undefined || !(rec.id > 0)"
                            ng-click="addProduct()">Add</button>
                    <button type="button"
                            class="btn btn-cancel"
                            ng-click="clearPendingPurchaseItems()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>