<div class="modal fade" id="marginDateModal"   >
  <div class="modal-dialog"   >
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"   aria-label="Close"> <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Set Overall Margin Date</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12">
            <div class="widget">
              <div class="widget-body">
                <div class="row">
                  <div class="col-lg-12 col-md-12">
                    <div class="form-group">
                      <label class="col-lg-3 control-label">Start Date<span class="required">*</span></label>
                      <div class="col-lg-7">
                        <input jqdatepicker class="2date-picker form-control" ng-model="margin.margin_start_date" ng-change="checkDate(margin.margin_start_date,margin.margin_end_date,'margin_start_date')" required readonly >

                      </div>
                    </div>
                    <div class="form-group">
                    <label class="col-lg-3 control-label">End Date<span class="required">*</span></label>
                    <div class="col-lg-7">
                      <input jqdatepicker class="2date-picker form-control" ng-model="margin.margin_end_date" ng-change="checkDate(margin.margin_start_date,margin.margin_end_date,'margin_end_date')" required readonly >
                    </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn pic_block" ng-class="{'btn-info btn_blue':isBtnMargin,'default dont-click':!isBtnMargin}" type="button" ng-click="addMarginDate(margin)" ><i class="fa fa-check"></i> Submit</button>
        <!--<button class="btn btn-info btn_blue" type="button" ng-click="showEditForm()"
        ng-show="check_hrvalues_readonly"><i class="fa fa-edit"></i> Edit</button>-->
        <button type="button" class="btn btn-default" data-dismiss="modal"  >Cancel</button>
      </div>
    </div>
  </div>
</div>
<!-- ng-click="reload_popup(7,'model_vol_1')" -->