<div id="itemPopupItemJournal"
     class="modal fade"
     role="dialog">
    <div class="modal-dialog modal-lg"
         dragable
         style="    width: 91%;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button"
                        class="close"
                        data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Select Item</h4>
            </div>
            <div class="modal-body"
                 style="overflow:hidden !important;">

                <div class="row" style="    margin-bottom: 0px !important;">
                    <div class="col-md-12">
                        <div class="flexiTable" 
                            x-report-modal="'true'" 
                            x-generate-table 
                            x-data="itemTableData.data" 
                            x-controller-initiate 
                            x-forget-filters="true"
                            x-table-name="itemDetailPriceModal" 
                            x-filter-function="getItemList()" 
                            x-row-click="addProduct(file)"
                            x-filter-object="searchKeywordItem"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <!-- <span class="pull-left">Selected:&nbsp;{{(itemTableData.data| filter: {chk: true}).length}}</span> -->
                <div class="pull-right">
                    <button type="button"
                            class="btn btn-cancel"
                            ng-click="clearPendingOrderItems()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>