<div class="row" style="margin-top:-18px;">
  <input type="hidden" ng-model="formData_price_data.product_id ">
  <input type="hidden" ng-model="formData_price_data.product_code" />
  <input type="hidden" ng-model="formData_price_data.item_description">
  <input type="hidden" ng-model="formData_price_data.update_id" />
  <div class="col-md-12 col-md-12">
    <div class="widget">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title" style="padding-left: 14px;"> Purchase Volume Discount </h3>
        </div>
        <div class="clearfix"></div>
        <div class="panel-body animated fadeIn">
          <div id="dt_example" class="example_alt_pagination">
            <div class="row">
              <div class="col-md-12">
                <div class="col-md-6 col-md-6">
                  <div class="  form-group">
                    <label class="control-label col-md-4"> Volume {{formData_price_data.volume_type}} <span class="required">*</span></label>
                    <div class="col-md-8">
                      <select ng-model="formData_price_data.volume_id" ng-options="opt as opt.name for opt in arr_volume_id" class="form-control"
                        ng-disabled="check_item_readonly_volume" required ng-change="onChange_volume_price(1,'sale',formData_price_data.volume_type)"
                        id="vol_1_id">
                      <option style="display:none" value=""></option>
                    </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-4"> Purchase Cost <span class="required">*</span></label>
                    <div class="col-md-8  ">
                      <div class="input-symbol">
                        <input readonly type="text" data-parsley-trigger="keyup" required ng-model="formData_price_data.purchase_price" id="purchase_price"
                          ng-change="show_price_price(1,formData_price_data);change_discount_price()" class="form-control input_text"
                          data-parsley-minlength-message="Invalid Value" data-parsley-type-message="Invalid Value" data-parsley-error-message="Invalid Value"
                          data-parsley-pattern="/^(?=.*[1-9])\d{0,25}(?:\.\d{0,25})?$/">
                        <span><!--{{customerCurrencyCode}}    {{priceFormData.sale_currency}} /   {{priceFormData.purchase_measure.name}}{{defaultCurrencyCode}}  -->

                      {{priceFormData.currency_id.code}}  /  {{priceFormData.purchase_measure.name}} </span>                        </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="  control-label col-md-4  "> Discount Type<span class="required">*</span></label>
                    <div class="  col-md-8">
                      <select ng-disabled="check_item_readonly_volume" required ng-model="formData_price_data.supplier_type" ng-options="opt as opt.name for opt in list_type"
                        id="type_1" ng-change="setSymbol(1);show_price_price(1,formData_price_data);change_discount_price()"
                        class=" form-control">
                      <option style="display:none" value=""></option>
                    </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class=" control-label col-md-4"> Discount <span class="required">*</span></label>
                    <div class="  col-md-8  ">
                      <div class=" input-symbol">
                        <input ng-readonly="check_item_readonly_volume" required type="text" data-parsley-trigger="keyup" ng-change="show_price_price(1);change_discount_price()"
                          ng-model="formData_price_data.discount_value" id="discount_value_1" class="form-control input_text"
                          data-parsley-minlength-message="Invalid Value" data-parsley-type-message="Invalid Value" data-parsley-error-message="Invalid Value"
                          data-parsley-pattern="/^(?=.*[1-9])\d{0,25}(?:\.\d{0,25})?$/">
                        <!--   <span  id="date_msg_1"  style=" display: none;" >&#37;</span>-->

                        <span ng-show="percentage_sign">&#37;</span> <span ng-show="curency_sign"> {{priceFormData.currency_id.code}} </span>                        </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="  control-label col-md-4"> Discounted  Price </label>
                    <div class="  col-md-8">
                      <div class="input-symbol">
                        <input readonly type="text" data-parsley-trigger="keyup" ng-model="formData_price_data.discount_price" id="discount_price_1"
                          ng-change="show_price_price(1,formData_price_data);change_discount_price()" class="form-control input_text"
                          data-parsley-minlength-message="Invalid Value" data-parsley-type-message="Invalid Value" data-parsley-error-message="Invalid Value"
                          data-parsley-pattern="/^(?=.*[1-9])\d{0,25}(?:\.\d{0,25})?$/">
                        <span><!--{{customerCurrencyCode}}    {{priceFormData.sale_currency}} /   {{priceFormData.purchase_measure.name}}{{defaultCurrencyCode}}  -->

                      {{priceFormData.currency_id.code}}  /  {{priceFormData.purchase_measure.name}} </span>                        </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-md-6">

                  <!--   <p class="input-group">
              <input readonly ng-model="formData_price_data.start_date" type="text" class="form-control"
id="datePickerItem"  ng-change="testdate(formData_price_data.start_date,formData_price_data.end_date,20);check_dates($index,formData_price_data)"
datepicker-popup="{{datePicker.format}}" datepicker-options="datePicker.options"
 is-open="formData_price_data['opened_start']"
current-text="Today"  clear-text="Clear" close-text="Close"
 data-parsley-pattern="/^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}|(?:(0[1-9]|1[012])[\- \/.](0[1-9]|[12][0-9]|3[01])[\- \/.](19|20)[0-9]{2})|[0-9]{4}/(0[1-9]|1[0-2])/(0[1-9]|[1-2][0-9]|3[0-1])$/"  />
              <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="openDatePicker($event, formData_price_data)"> <i class="glyphicon glyphicon-calendar"></i> </button>
              </span> </p>
            <p class="input-group">
              <input readonly ng-model="formData_price_data.end_date" type="text" class="form-control"
id="datePickerItem"
 ng-change="testdate(formData_price_data.start_date,formData_price_data.end_date,20);check_dates($index)"
datepicker-popup="{{datePicker.format}}" datepicker-options="datePicker.options"
 is-open="formData_price_data['opened_end']"
current-text="Today"  clear-text="Clear" close-text="Close"
 data-parsley-pattern="/^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}|(?:(0[1-9]|1[012])[\- \/.](0[1-9]|[12][0-9]|3[01])[\- \/.](19|20)[0-9]{2})|[0-9]{4}/(0[1-9]|1[0-2])/(0[1-9]|[1-2][0-9]|3[0-1])$/"  />
              <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="openDatePicker_end($event, formData_price_data)"> <i class="glyphicon glyphicon-calendar"></i> </button>
              </span> </p>-->

                  <div class="form-group">
                    <label class="col-md-4 control-label">Start Date <span class="required">*</span></label>
                    <div class="col-md-8">
                      <!--;checkDate_volume_info(formData_price_data.start_date,formData_price_data.end_date,'snd_date1')-->
                      <input jqdatepicker class="2date-picker form-control " id="vl_sdate" ng-model="formData_price_data.start_date" ng-change="testdate_by_id('vl_sdate','vl_edate','date_msg_leave_order');
testdate_between_two_dates_by_id('ck_sdate','ck_edate','vl_sdate','date_blocke')" required readonly>
                      <span class="fa fa-calendar  new_ca  form-control-feedback"></span>
                      <span id="date_msg_leave_order" style="color:#F00; display: none;">Start Date is earlier  then End Date</span>

                      <!--<div class="input-group">

                      <input type="text" class="form-control" required ng-model="formData_price_data.start_date" datepicker-popup="{{datePicker.format}}" datepicker-options="datePicker.options" is-open="datePicker.instances['snd_date1']"  close-text="Close"
         id="vl_sdate"  ng-change="check_dates(1,formData_price_data); checkDate_volume_info(formData_price_data.start_date,formData_price_data.end_date,'start_date1')"
            readonly data-parsley-pattern="/^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}|(?:(0[1-9]|1[012])[\- \/.](0[1-9]|[12][0-9]|3[01])[\- \/.](19|20)[0-9]{2})|[0-9]{4}/(0[1-9]|1[0-2])/(0[1-9]|[1-2][0-9]|3[0-1])$/" />
                      <span class="input-group-btn">
                      <button type="button"     ng-disabled="check_item_readonly_volume" class="btn btn-default date_block_end_validation " ng-click="datePicker.open($event, 'snd_date1')"    ><i class="fa fa-calendar"></i></button>
                      </span> </div>-->
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-4 control-label">End Date<span class="required">*</span> </label>
                    <div class="col-md-8">
                      <!--;checkDate_volume_info(formData_price_data.start_date,formData_price_data.end_date,'vl_edate')"-->
                      <input jqdatepicker class="2date-picker form-control " id="vl_edate" ng-model="formData_price_data.end_date" ng-change="testdate_by_id('vl_sdate','vl_edate','date_msg_leave_order');testdate_between_two_dates_by_id('ck_sdate','ck_edate','vl_edate','date_blocke')"
                        required readonly>
                      <span class="fa fa-calendar  new_ca  form-control-feedback"></span>
                      <span id="date_blocke" style="color:#F00; display: none;"> Date Must be between Start and End Date of Supplier Item Level</span>
                      <!--<div class="input-group">

                      <input type="text" class="form-control" required ng-model="formData_price_data.end_date" datepicker-popup="{{datePicker.format}}" datepicker-options="datePicker.options" is-open="datePicker.instances['end_date1']"  close-text="Close"
         id="vl_edate"  ng-change="check_dates(2,formData_price_data); checkDate_volume_info(formData_price_data.start_date,formData_price_data.end_date,'end_date1')"
            readonly data-parsley-pattern="/^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}|(?:(0[1-9]|1[012])[\- \/.](0[1-9]|[12][0-9]|3[01])[\- \/.](19|20)[0-9]{2})|[0-9]{4}/(0[1-9]|1[0-2])/(0[1-9]|[1-2][0-9]|3[0-1])$/" />
                      <span class="input-group-btn">
                      <button type="button"  ng-disabled="check_item_readonly_volume"   class="btn btn-default date_block_start_validation" ng-click="datePicker.open($event, 'end_date1')"    ><i class="fa fa-calendar"></i></button>
                      </span> </div>-->
                      <span id="date_msg_leave_212" style="color:#F00; display: none;">End Date is earlier  then Start Date</span>                      </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="pull-right">
                  <button class="btn btn-submit   pic_block b_date_blocks b_date_blocke" id="date_block_start_new" ng-show="!check_item_readonly_purchase_volume"
                    type="submit" ng-disabled="isAdded" ng-class="{'':!isAdded,'btn-submit dont-click':isAdded}"><i class="fa fa-check   fa_display"></i> Save</button>
                  <button class="btn btn-edit" type="button" ng-click="showEditPurchasevolume_form()" ng-show="check_item_readonly_volume"><i class="fa fa-edit   fa_display"></i> Edit</button>
                  <button class="btn btn-cancel" type="button" ng-click="get_price_sale_volume(priceFormData.sale_id)"><i class="fa fa-undo   fa_display"></i> Cancel</button>
                </div>
                <!--ng-click="get_price_sale_volume(priceFormData.sale_id)"

                    ng-click="cancal_msg(first_array,formData,redirect_purchase,3,priceFormData.sale_id)"

                -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>