<div class="widget">

    <div class="widget-body widget_media_ipad">

        <div class="row">

            <div class="col-md-12">

                <h5 class="sales_heading" style="float:left;" ng-if="show_order">Purchase Order</h5>

                <h5 class="sales_heading" style="float:left;" ng-if="show_invoice">Purchase Invoice</h5>



                <h5 class="sales_heading" style="float:right;margin-right: 16px; color:green; font-style: italic;" ng-if="approvals_lock_order==1">Approved</h5>

                <h5 class="sales_heading" style="float:right;margin-right: 16px; color:red; font-style: italic;" ng-if="show_order && approvals_lock_order!=1 && purchase_order_approval_req > 0">Not Approved</h5>

                <!-- <div class="pull-right" ng-if="showReceiveStuff">

                    <span class="margin-right">
                                        <i class="fa fa-circle" style="color:#ef7372;"></i> Partially Allocated </span>

                    <span class="margin-right">
                                        <i class="fa fa-circle" style="color:#25b726;"></i> Allocated Stock </span>

                    <span class="margin-right">
                                        <i class="fa fa-circle" style="color:#ffd351;"></i> Stock Recieved</span>
                </div> -->
            </div>

        </div>

        <div class="row">

            <div class="col-md-12">

                <!-- <h5 class="sales_heading">Purchase Order</h5> -->

                <div class="col-md-3 col-md-3">

                    <div class="form-group">

                        <label class="col-md-4 control-label">Pay to Suppl. No.

						</label>

                        <div class="col-md-8">

                            <div class="input-symbol" ng-class="{'dont-click':check_srm_readonly}" ng-click="!check_srm_readonly && get_suppliers_invoicing(1)">

                                <input type="text" id="bill_to_cust_no" class="form-control" ng-model="rec.bill_to_cust_no" readonly ng-class="{'white_bg':!check_srm_readonly}" />

                                <span><i class="fa fa-external-link"></i></span>

                            </div>

                        </div>

                    </div>

                    <div class="form-group">

                        <label class="col-md-4 control-label">Name</label>

                        <div class="col-md-8">

                            <input type="text" id="bill_to_name" class="form-control" ng-readonly="bill_anonymousSupplierFlag || check_srm_readonly" ng-model="rec.bill_to_name" />

                        </div>

                    </div>

                    <div class="form-group">

                        <label class="col-md-4 control-label">Address Line 1</label>

                        <div class="col-md-8">

                            <input type="text" id="bill_to_address" class="form-control" ng-readonly="bill_anonymousSupplierFlag || check_srm_readonly" ng-model="rec.bill_to_address" />

                        </div>

                    </div>

                    <div class="form-group">

                        <label class="col-md-4 control-label">Address Line 2</label>

                        <div class="col-md-8">

                            <input type="text" id="bill_to_address2" class="form-control" ng-readonly="bill_anonymousSupplierFlag || check_srm_readonly" ng-model="rec.bill_to_address2" />

                        </div>

                    </div>

                    <div class="form-group">

                        <label class="col-md-4 control-label">City</label>

                        <div class="col-md-8">

                            <input type="text" id="bill_to_city" class="form-control" ng-readonly="bill_anonymousSupplierFlag || check_srm_readonly" ng-model="rec.bill_to_city" />

                        </div>

                    </div>

                </div>

                <div class="col-md-3 col-md-3">

                    <div class="form-group">

                        <label class="col-md-4 control-label">County</label>

                        <div class="col-md-8">

                            <input type="text" id="bill_to_county" class="form-control" ng-readonly="bill_anonymousSupplierFlag || check_srm_readonly" ng-model="rec.bill_to_county" />

                        </div>

                    </div>

                    <div class="form-group">

                        <label class="col-md-4 control-label" title="Postcode/Country">Postcode/Co.</label>

                        <div class="col-md-4 pr0">

                            <input type="text" id="bill_to_post_code" class="form-control text-uppercase" ng-readonly="bill_anonymousSupplierFlag || check_srm_readonly" ng-model="rec.bill_to_post_code" />

                        </div>

                        <div class="col-md-4" style="padding-left: 5px;">

                            <input type="text" value="{{rec.billToSupplierCountry.code}}" class="form-control" ng-readonly="bill_anonymousSupplierFlag || check_srm_readonly">

                        </div>

                    </div>

                    <!-- <div class="form-group">

                        <label class="col-md-4 control-label">Country</label>

                        <div class="col-md-8">

                            <select class="form-control" disabled

                                ng-model="rec.country" 

                                ng-options="opt as opt.name for opt in country_type_arr">

                            </select>

                        </div>

					</div> -->

                    <div class="form-group">

                        <label class="col-md-4 control-label">Contact Person </label>

                        <div class="col-md-8">

                            <div class="input-symbol" ng-class="{'dont-click':check_srm_readonly}" ng-click="!check_srm_readonly && getAltContact(2)">

                                <input type="text" style="padding-right: 29px;" class="form-control" id="bill_to_contact_no" ng-model="rec.bill_to_contact_no" ng-readonly="bill_anonymousSupplierFlag || check_srm_readonly" ng-class="{'white_bg':!check_srm_readonly}" />

                                <input type="hidden" id="bill_to_contact_id" class="form-control" ng-model="rec.bill_to_contact_id" />

                                <span><i class="fa fa-external-link"></i></span>

                            </div>

                        </div>

                    </div>

                    <div class="form-group">

                        <label class="col-md-4 control-label">Telephone</label>

                        <div class="col-md-8">

                            <input type="text" id="bill_phone" class="form-control" ng-readonly="bill_anonymousSupplierFlag || check_srm_readonly" ng-model="rec.bill_phone" />

                        </div>

                    </div>



                    <div class="form-group">

                        <label class="col-md-4 control-label">Email</label>

                        <div class="col-md-8">

                            <input type="text" id="bill_email" class="form-control" ng-readonly="bill_anonymousSupplierFlag || check_srm_readonly" ng-model="rec.bill_email" />

                        </div>

                    </div>

                </div>

                <div class="col-md-3">



                    <div class="form-group">

                        <label class="col-md-4 control-label">Payable Bank </label>

                        <div class="col-md-8">

                            <div class="input-symbol" ng-class="{'dont-click':check_srm_readonly && !check_pi_readonly || !allowedit_supplier_finance_tab}" ng-click="getBankAccount()">

                                <input type="text" readonly style="padding-right: 29px;" ng-model="rec.payable_bank" id="bank_name" class="form-control" ng-disabled="(check_srm_readonly && !check_pi_readonly) || !allowedit_supplier_finance_tab" ng-class="{'white_bg':(!check_srm_readonly || check_pi_readonly) && allowedit_supplier_finance_tab}"
                                />

                                <input type="hidden" ng-model="rec.bank_account_id" id="bank_account_id" class="form-control" />

                                <span><i class="fa fa-external-link"></i></span>

                            </div>

                        </div>

                    </div>



                    <div class="form-group">

                        <label class="col-md-4 control-label">Payment Terms</label>

                        <div class="col-md-8">

                            <!-- <select ng-model="rec.payment_terms_codes" ng-options="opt as opt.name for opt in arr_payment_terms" class="select2me form-control"

							 ng-disabled="check_srm_readonly">

								<option style="display:none" value=""></option>

							</select> -->

                            <!-- -->

                            <select class="form-control" ng-model="rec.payment_terms_codes" ng-disabled="(check_srm_readonly && !check_pi_readonly) || !allowedit_supplier_finance_tab" ng-change="updateDueDate(rec.invoice_date)" ng-options="paymentTerm as paymentTerm.name for paymentTerm in arr_srm_payment_terms track by paymentTerm.id">

								<option value=""

										disabled

										selected>Select Payment Terms</option>

							</select>

                        </div>

                    </div>





                    <div class="form-group">

                        <label class="col-md-4 control-label">Due Date</label>

                        <div class="col-md-8">

                            <!-- ng-disabled="check_srm_readonly" -->

                            <input jqdatepicker disabled class="2date-picker form-control " id="due_date" ng-model="rec.due_date" readonly ng-class="{'pickdate':!check_srm_readonly || check_pi_readonly}">

                            <span class="fa fa-calendar  new_ca  form-control-feedback"></span>

                        </div>

                    </div>





                    <div class="form-group">

                        <label class="col-md-4 control-label">Payment Method</label>

                        <div class="col-md-8">

                            <!-- <select ng-model="rec.payment_method_ids" ng-options="opt as opt.name for opt in arr_payment_methods" class="select2me form-control"

							 ng-disabled="check_srm_readonly">

								<option style="display:none" value=""></option>

							</select> -->

                            <select class="form-control" ng-model="rec.payment_method_ids" ng-disabled="(check_srm_readonly && !check_pi_readonly)  || !allowedit_supplier_finance_tab" ng-options="paymentMethod as paymentMethod.name for paymentMethod in arr_srm_payment_methods track by paymentMethod.id">

								<option value=""

										disabled

										selected>Select Payment Method</option>

							</select>

                        </div>

                    </div>





                </div>

                <div class="col-md-3 col-md-3">

                    <div class="form-group">

                        <label class="col-md-4 control-label ">Currency </label>

                        <div class="col-md-8">

                            <select class="form-control" disabled ng-model="rec.currency_id" ng-options="currency as currency.code +' - '+ currency.name for currency in arr_currency track by currency.id">

								<option style="display:block"

										value=""></option>

							</select>

                        </div>

                    </div>

                    <!-- <div class="form-group">
                        <label class="col-md-4 control-label ">Conversion Rate {{currencyConversionRatePO}}</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-disabled="check_srm_readonly && !check_pi_readonly" ng-model="rec.currency_rate" id="currency_rate" name="currency_rate">
                        </div>
                    </div> -->

                    <div class="form-group">

                        <label class="col-md-4 control-label ">Previous Code</label>

                        <div class="col-md-8">

                            <input type="text" class="form-control" ng-disabled="check_srm_readonly && !check_pi_readonly" ng-model="rec.prev_code" id="prev_code" name="prev_code">

                            <!-- <select class="form-control" disabled ng-model="rec.prev_code"></select> -->

                        </div>

                    </div>

                    <div class="form-group">

                        <label class="col-md-4 control-label">Link to Customer</label>

                        <div class="col-md-8">

                            <div class="input-symbol" ng-class="{'dont-click':check_srm_readonly && !check_pi_readonly}" ng-click="!check_srm_readonly || check_pi_readonly && getCustomer(1);">

                                <input type="text" class="form-control" required ng-model="rec.linktoCustName" ng-class="{'white_bg':!check_srm_readonly || check_pi_readonly}" readonly />

                                <span><i class="fa fa-external-link"></i></span>

                            </div>

                        </div>

                    </div>

                    <div class="form-group">

                        <div class="col-md-4">

                            <label for="marketPromotion" style="line-height: 14px;">Deduct from Rebate 

							</label>

                        </div>

                        <div class="col-md-8">

                            <input ng-true-value="'1'" ng-false-value="'0'" type="checkbox" ng-disabled="check_srm_readonly && !check_pi_readonly" name="marketPromotion" ng-model="rec.marketingProm" id="marketingProm">

                        </div>

                    </div>

                    <!-- <div class="form-group">

						<label class="col-md-4 control-label">Link To Customer</label>

						<div class="col-md-8">

							<div class="input-symbol" ng-class="{'dont-click':check_srm_readonly}" ng-click="getlinkToCUST()">

								<input type="text" readonly

									ng-model="rec.linktoCustName" id="linktoCustName" class="form-control"									 

									ng-disabled="check_srm_readonly"

									ng-class="{'white_bg':!check_srm_readonly}" />

								<span><i class="fa fa-external-link"></i></span>

							</div>

						</div>

					</div> 	

					

					<div class="form-group">

						<label class="col-md-4 control-label" style="white-space: normal;">Marketing Promotion</label>

						<div class="col-md-8 pl0">

							<div class="input-symbol">

								<label class="col-md-4" style="margin-top: 6px;">

									<input type="checkbox" name="marketingProm" id="marketingProm"

										ng-model="rec.marketingProm1"                                   

										ng-checked="rec.marketingProm1" 

										ng-disabled="check_srm_readonly" ></label>

							</div>

						</div>

					</div> -->

                    <!-- <div class="form-group">{{arr_posting_group_ids}}

						<label class="col-md-4 control-label" title="Posting Group">Posting Group</label>

						<div class="col-md-8">

							<select class="select2me form-control"

								ng-model="rec.posting_group_ids"

								 

								ng-options="opt as opt.posting_group for opt in arr_posting_group_ids">

								<option style="display:none;" value=""></option>

							</select>

						</div>

					</div> -->

                </div>

            </div>

        </div>

    </div>

</div>



<div ng-include="'app/views/orders/_listing_modal_bank_order.html'"></div>

<div ng-include="'app/views/srm_order/_listingCustomerDetailModal.html'"></div>