<div ng-class="{'whirl no-overlay':showLoader || generatePdf.showLoader}"></div>
<div style="margin-bottom: 13px;">
    <!-- <div class="row"
         style="margin-bottom: 7px !important;">
        <div class="col-md-5"
             ng-hide="rec.type2==2">
            <button type="button"
                    class="btn btn-default2"
                    ng-click="selectItem(1)"
                    ng-disabled="approvals_lock_order == 1 || check_so_readonly || (hide_dispatch_btn && items.length && show_btn_dispatch_stuff) || !(rec.sell_to_cust_no.length>0)"
                    style="color:#2196F3;margin-left: 0;">Select Item</button>

            <span ng-if="rec.type == 0 && rec.sale_quote_code"
                  style="margin-left: 4px;"
                  ng-controller="SetupController"
                  ng-init="callbackAfterMigration = callbackAfterItemsMigration; callbackBeforeMigration = callbackBeforeItemsMigration"
                  class="ib"
                  ng-class="{'disable-el2':approvals_lock_order == 1 || check_so_readonly || (hide_dispatch_btn && items.length && show_btn_dispatch_stuff) || !(rec.sell_to_cust_no.length>0)}">
                <button type="button"
                        class="btn btn-default2"
                        ng-click="show_migrate_pop('Sales-Quotes-Items')"
                        style="color:#2196F3;margin-left: 0;">Upload Items</button>
                <div ng-include="'app/views/import_file.html'"></div>
            </span>

            <span ng-if="rec.type == 1 && rec.sale_order_code"
                  style="margin-left: 4px;"
                  ng-controller="SetupController"
                  ng-init="callbackAfterMigration = callbackAfterItemsMigration; callbackBeforeMigration = callbackBeforeItemsMigration"
                  class="ib"
                  ng-class="{'disable-el2':approvals_lock_order == 1 || check_so_readonly || (hide_dispatch_btn && items.length && show_btn_dispatch_stuff) || !(rec.sell_to_cust_no.length>0)}">
                <button type="button"
                        class="btn btn-default2"
                        ng-click="show_migrate_pop('Sales-Orders-Items')"
                        style="color:#2196F3;margin-left: 0;">Upload Items</button>
                <div ng-include="'app/views/import_file.html'"></div>
            </span>

            <button class="btn btn-default2"
                    type="button"
                    ng-click="selectGL(1, rec)"
                    ng-disabled="approvals_lock_order == 1 || check_so_readonly || !(rec.sell_to_cust_no.length>0)"
                    style="color:#2196F3">Select G/L</button>
        </div>
    </div> -->
    <table class="table table-striped table-bordered table-hover narrow_table no-readonly"
           ng-class="{'margin-top33':rec.type2==2}">
        <thead class="fixit">
            <tr class="bg-col">
                <th style="width: 44px;">Type</th>
                <th style="width: 75px;">No.</th>
                <th style="width: 180px;">Description</th>
                <th class="text-right">Qty.</th>
                <th style="width: 62px;">U.O.M</th>
                <th style="width:10%;"
                    ng-if="rec.type2 != '0'">Warehouse</th>
                <th class="text-right">Unit Price</th>
                <th style="width: 7%;">Discount<br />Type</th>
                <th class="text-right">Discount</th>
                <th class="text-right">Profit<br />(LCY)</th>
                <th class="text-right">Profit %</th>
                <th>VAT Rate</th>
                <th class="text-right">Original<br />Amount</th>
                <th class="text-right">Discount<br />Amount </th>
                <th class="text-right">Total<br />Amount </th>
                <th class="text-right">VAT</th>
                <th style="width: 60px;">Action</th>
            </tr>
        </thead>
        <tbody class="fixit">
            <tr ng-repeat="(key,item) in items track by $index"
                style="position: relative;"
                class="rightMoreOptions"
                ng-class="{
                't-partiallycllocated' : item.sale_status = 1 && item.allocated_stock > 0 && item.allocated_stock < item.qty, 
                't-stockreceived ' : hide_dispatch_btn && show_btn_dispatch_stuff && item.item_type ==0,
                't-allocatedstock': (item.sale_status = 1 && item.remainig_qty == 0 && item.qty>0) || (item.allocated_stock == item.qty && item.qty>0),
                }">
                <td ng-if="item.item_type == 0"
                    style=" width: 44px;">
                    <select disabled="disabled"
                            class="form-control"
                            style="background: none;
                                    border: 0;
                                    padding: 0;">
                        <option>Item</option>
                    </select>
                </td>
                <td ng-if="item.item_type == 2"
                    style="width: 44px;">
                    <select disabled="disabled"
                            class="form-control"
                            style="background: none;
                    border: 0;
                    padding: 0;">
                        <option>Service</option>
                    </select>
                </td>
                <td ng-if="item.item_type == 1"
                    style=" width: 44px;">

                    <select disabled="disabled"
                            class="form-control"
                            style="background: none;
                    border: 0;
                    padding: 0;">
                        <option>G/L</option>
                    </select>
                </td>
                <td style="width: 75px;"
                    ng-if="item.item_type == 0 || item.item_type == 1"
                    title="{{item.product_code}}">{{item.product_code}}
                </td>
                <td style="width: 75px;"
                    ng-if="item.item_type == 2"
                    title="{{item.code}}">{{item.code}}
                </td>
                <td ng-if="item.item_type == 0 || item.item_type == 1"
                    title="{{item.description}}"
                    style="width: 180px;">
                    <input type="text"
                           ng-model="item.description"
                           class="form-control input_text"
                           ng-readonly="approvals_lock_order == 1 || check_so_readonly || (hide_dispatch_btn && show_btn_dispatch_stuff)">
                </td>

                <td ng-if="  item.item_type == 2">
                    <input type="text"
                           ng-model="item.product_name"
                           class="form-control input_text">
                </td>
                <td class="text-right">
                    <input type="hidden"
                           ng-model="item.max_quantity"
                           ng-if="item.item_type == 0">
                    <input type="hidden"
                           ng-model="item.min_quantity"
                           ng-if="item.item_type == 0">
                    <!-- data-parsley-trigger="keyup" style="color:black" data-parsley-minlength-message="Invalid Value" data-parsley-type-message="Invalid Value"
                        data-parsley-error-message="Invalid Value" data-parsley-pattern="/^(?=.*[1-9])\d{0,25}(?:\.\d{0,25})?$/"-->
                    <!-- item.remainig_qty == 0 ||  -->
                    <input ng-readonly="approvals_lock_order == 1 || (hide_dispatch_btn && show_btn_dispatch_stuff && item.item_type == 0)"
                           ng-change="check_min_max(item); calcVolume(items)"
                           ng-blur="OnBlurQuantity(item)"
                           type="number"
                           step="any"
                           ng-if="!check_so_readonly"
                           ng-model="item.qty"
                           min="0"
                           oninput="validity.valid||(value='');"
                           class="form-control input_text text-right">

                    <span ng-if="check_so_readonly">{{item.qty | numberNoDecimalsIfZeroFilter:2:''}}</span>
                </td>
                <td style="    width: 62px;">
                    <!-- +'('+opt.quantity+')' -->
                    <span ng-if="item.item_type == 0">{{item.unit_of_measure_name}}</span>
                    <!-- <select ng-model="item.units"
                            ng-if="item.item_type == 0"
                            ng-options="opt as opt.name for opt in item.arr_units"
                            ng-readonly="item.item_type == 0 || approvals_lock_order == 1 || check_so_readonly || (hide_dispatch_btn && show_btn_dispatch_stuff && item.item_type == 0)"
                            class="form-control"
                            ng-disabled="item.item_type == 0 || approvals_lock_order == 1 || check_so_readonly || (hide_dispatch_btn && show_btn_dispatch_stuff)">
                        <option style="display:none"
                                value=""></option>
                    </select> -->
                    <select ng-model="item.units"
                            ng-if="item.item_type == 1"
                            ng-options="units as units.title for units in gl_arr_units track by units.id"
                            ng-readonly="approvals_lock_order == 1 || check_so_readonly"
                            class="form-control">
                        <option value=""></option>
                        <!--+'('+opt.quantity+')'-->
                    </select>
                </td>
                <td ng-if="item.item_type == 2">
                    <select ng-model="item.units"
                            ng-options="opt as opt.title for opt in arr_service_units"
                            ng-readonly="approvals_lock_order == 1 || check_so_readonly || (hide_dispatch_btn && show_btn_dispatch_stuff)"
                            class="form-control">
                        <option style="display:none"
                                value=""></option>
                    </select>
                </td>

                <td ng-if="item.item_type == 0 && rec.type2 != '0'"
                    style="width:10%;"
                    ng-attr-title="{{item.warehouse_name_qty}}">
                    <!-- <select class="form-control"
                            ng-if= "!check_so_readonly"
                            ng-disabled="item.sale_status || approvals_lock_order == 1 || check_so_readonly || (hide_dispatch_btn && show_btn_dispatch_stuff) ||  item.allocated_stock > 0"
                            ng-change="checkDuplWHItem(item, $index)"
                            ng-model="item.warehouses">
                        <option ng-repeat="opt in item.arr_warehouse"
                                ng-disabled="opt.disabled"
                                ng-selected="{{opt.id == item.warehouses}}"
                                value="{{opt.id}}"> {{opt.name}} ({{opt.available_quantity}}) </option>
                    </select> -->
                <span style="white-space: nowrap;"
                  ng-if = "check_so_readonly"
                    title="{{item.selectedWarehouse.name}} ({{item.selectedWarehouse.available_quantity}})">
                    {{item.selectedWarehouse.name}}
                  </span>
                </td>
                <!--<td ng-if="item.item_type == 1 || item.item_type == 2 ">&nbsp</td>-->
                <td ng-if="item.item_type == 2"
                    style="width:10%;">&nbsp</td>
                <td ng-if="item.item_type == 1 && rec.type2 != '0'"
                    style="width:10%;">&nbsp</td>
                <td class="text-right">
                    <!--  -->
                    <input type="text"
                           ng-model="item.standard_price"
                           ng-readonly="approvals_lock_order == 1 || check_so_readonly"
                           ng-blur="OnChangeUnitPrice(item);"
                           oninput="validateDecimalPoints(this, 3)"
                           class="form-control col-md text-right"
                           style="color:black"
                           ng-if="!check_so_readonly">

                    <!-- <x-expression-eval step="any" ng-if="!check_so_readonly" id="standard_price" x-value='item.standard_price' enable-percentage='1'
                            title="Add expression * + - () / % and press tab to recalculate Unit Price">
                        </x-expression-eval> -->
                    <span ng-if="check_so_readonly"
                          title="{{item.standard_price | unitPriceFilter}}">{{item.standard_price | unitPriceFilter}}</span>
                </td>
                <td style="width: 7%;">
                    <select ng-model="item.discount_type_id"
                            ng-change="onChangeDiscountType(item);"
                            ng-options="discountType as discountType.name for discountType in arr_discount_type track by discountType.id"
                            ng-if="!(item.ref_prod_id > 0) && item.isGLVat==false"
                            ng-readonly="approvals_lock_order == 1 || check_so_readonly"
                            ng-disabled="approvals_lock_order == 1 || check_so_readonly"
                            class="form-control">
                        <option style="display:none"
                                value=""></option>
                    </select>
                </td>
                <td class="text-right">
                    <div class="input-symbol">
                        <input type="number"
                               step="any"
                               data-parsley-trigger="keyup"
                               ng-model="item.discount"
                               ng-readonly="approvals_lock_order == 1 || check_so_readonly || item.discount_type_id == undefined || item.discount_type_id.id == 'None'"
                               ng-change="onChangeDiscountType(item);"
                               style="color:black"
                               class="form-control input_text text-right"
                               data-parsley-minlength-message="Invalid Value"
                               data-parsley-type-message="Invalid Value"
                               data-parsley-error-message="Invalid Value"
                               data-parsley-pattern="/^(?=.*[1-9])\d{0,25}(?:\.\d{0,25})?$/"
                               data-parsley-type="digits"
                               ng-min="item.discount_type_id.id && item.discount_type_id.id !='None'?0:''"
                               ng-if="!check_so_readonly">

                        <!-- <span ng-show="item.discount_type_id.id == 'Percentage' && !check_so_readonly">&#37;</span> -->
                    </div>
                    <span ng-if="check_so_readonly">{{item.discount | currency:""}}</span>
                    <span ng-show="item.discount_type_id.id == 'Percentage' && check_so_readonly">&#37;</span>

                </td>
                <td class="text-right">
                    <!--  ng-if="item.item_type==0" -->
                    <span ng-if="item.item_type == 0 || (item.item_type == 1 && item.ref_id == 0)"
                          title="{{calcRowProfit(item) | currency:'' }} ">{{calcRowProfit(item) |
                        currency:"" }} </span>
                    <!-- <span ng-if="item.item_type!=0">- </span> -->
                </td>
                <td class="text-right">
                    <!--  ng-if="item.item_type==0" -->
                    <span ng-if="item.item_type == 0 || (item.item_type == 1 && item.ref_id == 0)"
                          title="{{item.profit_percentage | currency:'' }} %">{{item.profit_percentage |
                        currency:"" }}</span>
                    <!-- <span ng-if="item.item_type!=0">- </span> -->
                </td>
                <td>
                    <!-- title="{{item.vats.name}}"  -->
                    <select ng-model="item.vats"
                            ng-options="opt as opt.name for opt in arr_vat_post_grp_sales"
                            ng-readonly="approvals_lock_order == 1 || check_so_readonly"
                            ng-if="!check_so_readonly && item.isGLVat==false"
                            class="form-control">
                        <option style="display:none"
                                value=""></option>
                    </select>
                            <!-- {{arr_vat_post_grp_sales}} == {{item.vat_id}} -->
                    <span ng-if="check_so_readonly && item.isGLVat==false">
                        {{item.vats.name}}
                        <!-- {{item.vats.vat_value}}<span ng-if="item.vats.name">% </span> -->
                    </span>
                    <!-- <input type="text" ng-model="item.vat" class="form-control col-md" ng-readonly="check_so_readonly" style="color:black"> -->
                </td>

                <td class="text-right"
                    title="{{(item.isGLVat==true) ? 0 :item.standard_price * item.qty | currency:''}}">
                    {{(item.isGLVat==true) ? 0 : item.standard_price * item.qty | currency:""}}</td>
                <td class="text-right"
                    title="{{rowDiscount(item) | currency:'' }}"> {{rowDiscount(item) | currency:""
                    }} </td>
                <td class="text-right"
                    title="{{rowTotal(item) | currency:''}}">
                    <!-- || !item.total_price || item.total_price!=''-->
                    {{rowTotal(item) | currency:""}}
                    <!-- <ul class="parsley-errors-list filled" ng-show="item.total_price < 0 && item.item_type == 0">
                        <li class="parsley-type">This value should be greater than zero.</li>
                    </ul> -->
                </td>
                <td class="text-right"
                    title="{{item.vatPrice = rowVat(item) | currency:''}}"> {{item.vatPrice = rowVat(item) |
                    currency:""}}
                    <!-- vat total-->
                </td>
                <td style="width: 60px;padding-right: 15px;padding-left: 2px;">
                    <!-- <script>
                        $('#moreOption').popover({
                            html: true,
                            content: function () {
                                return $("#moreOptionContent").html();
                            }
                        });
                    </script> -->
                    <!-- <div id="moreOptionContent" style="width: 200px" class="hide">
                        <form style="width: 200px;">
                            <label class="control-label2">EU Goods/Services</label>
                            <select class="form-control">
                                <option>Please select</option>
                                <option>Goods (and related services)</option>
                                <option>Services (standalone)</option>
                            </select>
                            <label class="control-label2">EU Sales Description</label>
                            <select class="form-control">
                                <option>Please select</option>
                                <option>This supply is an intra-community supply</option>
                                <option>This supply is exempt from VAT</option>
                                <option>This is a Zero rated EC Supply</option>
                                <option>This supply is outside the scope of VAT</option>
                            </select>
                        </form>
                    </div> -->

                    <a class="moreOptionsArrow"
                       data-toggle="modal"
                       data-target="#myModal_{{item.update_id}}">
                        <span class="fa fa-arrow-right"></span>
                    </a>

                    <div id="myModal_{{item.update_id}}"
                         class="modal fade"
                         role="dialog">
                        <div class="modal-dialog modal-sm"
                             dragable>

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button"
                                            class="close"
                                            data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">{{item.description}} ({{item.product_code}})</h4>
                                </div>
                                <div class="modal-body"
                                     style="    min-height: 140px;">
                                    <form>
                                        <label class="control-label2"
                                               style="float:left;">EU Goods/Services</label>
                                        <select ng-model="item.ec_goods"
                                                ng-options="opt as opt.title for opt in ec_goods_list"
                                                ng-readonly="approvals_lock_order == 1 || check_so_readonly"
                                                ng-disabled="approvals_lock_order == 1 || check_so_readonly"
                                                class="form-control">
                                        </select>
                                        <!-- <label class="control-label2">EU Sales Description</label>
                                        <select ng-model="item.ec_description"
                                                ng-options="opt as opt.title for opt in ec_description_list"
                                                ng-readonly="check_so_readonly"
                                                ng-disabled="check_so_readonly"
                                                class="form-control">
                                        </select> -->
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button"
                                            style="padding: 6px 12px !important;"
                                            class="btn btn_add"
                                            data-dismiss="modal">OK</button>
                                </div>
                            </div>

                        </div>
                    </div>

                    <a ng-if="item.item_type == 0 && item.stock_check == 1 && (rec.type2 == 1 || rec.type2 == 2)"
                       ng-click="allocateStock(item.warehouses, item);"
                       style="padding:3px 9px; "
                       ng-title="{{ item.sale_status && item.remainig_qty == 0 ? 'Stock Allocation Completed' : 'Allocate Stock'}}"
                       class="btn">
                        <i class="fa fa-cubes"
                           ng-class="{
                        'in-comp-alloc' : item.sale_status = 1 && item.allocated_stock > 0 && item.allocated_stock < item.qty, 
                        'item-dispatch' : hide_dispatch_btn && show_btn_dispatch_stuff,
                        'comp-alloc': (item.sale_status = 1 && item.remainig_qty == 0 && item.qty>0) || (item.allocated_stock == item.qty && item.qty>0),
                        }"></i>
                    </a>
                    <!-- <a ng-if="item.item_type == 0 && item.stock_check == 0  && (rec.type2 == 1 || rec.type2 == 2)"
                       style="padding:3px 9px;  "
                       ng-title="{{ item.sale_status && item.remainig_qty == 0 ? 'Stock Allocation Completed' : 'Allocate Stock'}}"
                       class="btn">
                        <i class="fa fa-stop"
                           style="
                                position: relative;
                                top: 0px "
                           ng-class="
                        {'item-dispatch' : hide_dispatch_btn && show_btn_dispatch_stuff }"></i>
                    </a> -->
                    <x-flexi-select ng-if="items.length && item.item_type == 1 && item.promotion_id ==0"
                                    class="link-item"
                                    x-flexi-select-title="'Select Item'"
                                    x-flexi-select-modal-id="'LinkItemSelection_'+item.update_id"
                                    x-flexi-select-match-param="'update_id'"
                                    x-flexi-select-output="item.ref_id"
                                    x-flexi-select-show-cols="linkedItemShowCols"
                                    x-flexi-select-filters="{item_type:0}"
                                    x-flexi-select-data="items"
                                    x-flexi-callback-function="LinkGLToItem(param,item)"
                                    x-flexi-select-readonly="check_so_readonly"
                                    x-flexi-select-html-template='<a class="btn"><i class="fa fa-link"></i></a>'
                                    x-flexi-select-obj-return
                                    x-flexi-radio>
                    </x-flexi-select>

                    <a ng-click="!check_so_readonly ?delete($index, item): return;"
                       style="float: right;margin-right: 3px;"
                       ng-class="{'dont-click':approvals_lock_order == 1 || check_so_readonly}"
                       ng-if="(rec.type2 == 1 && !hide_dispatch_btn && show_btn_dispatch_stuff) ||
                                             item.item_type != 0 || (item.stock_check == 0 && !show_btn_dispatch_stuff) || rec.type == 0"
                       title="Delete"
                       class="btn">
                        <i class="fa fa-times"></i>
                    </a>
                    <!-- || item.stock_check == 0 -->
                </td>

            </tr>
            <tr ng-show="items.length ==0 ">
                <!-- rec.type2 == 1 -->
                <td>
                    <!-- <select ng-model="rec.item_types" ng-change="selectItem(rec)" ng-options="opt as opt.label for opt in arrItems"
                        class="form-control col-md pull-left">
                    </select> -->
                    <select ng-disabled="1"
                            class="form-control col-md pull-left">
                        <option selected="selected">&nbsp; </option>
                    </select>
                </td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>
                    <input type="text"
                           value=""
                           class="form-control col-md"
                           readonly="readonly"
                           style="color:black">
                </td>
                <td>&nbsp;</td>
                <td>
                    <input type="text"
                           value=""
                           readonly="readonly"
                           class="form-control col-md"
                           style="color:black">
                </td>
                <td>
                    <input type="text"
                           value=""
                           readonly="readonly"
                           class="form-control col-md"
                           style="color:black">
                </td>
                <td>
                    <input type="text"
                           value=""
                           readonly="readonly"
                           class="form-control col-md"
                           style="color:black">
                </td>
                <td>
                    <div class="input-symbol">
                        <input type="text"
                               value=""
                               class="form-control col-md"
                               readonly="readonly"
                               style="color:black">
                    </div>
                </td>
                <td>
                    <input type="text"
                           ng-class="{'dont-click':check_so_readonly}"
                           readonly="readonly"
                           value=""
                           class="form-control col-md"
                           style="color:black">
                </td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </tbody>
    </table>
</div>
<div ng-class="{'col-md-7': showVolumeWeight>0, 'col-md-9': !(showVolumeWeight>0)}"
     style="padding-left: 0;">
    <textarea ng-model="rec.note"
              class="form-control"
              style="width:100%;height:91px !important ;resize: none;    margin-bottom: 10px;"
              rows="4"
              cols="30"
              ng-change="showWordsLimits_invoice()"
              ng-disabled="check_so_readonly"
              maxlength="500"
              placeholder="Add Note">{{rec.note}}</textarea>
    <span class="word-counter">{{wordsLength}}/500</span>
</div>
<div class="col-md-2 no-padding"
     id="total-amout" ng-if="showVolumeWeight>0">
    <table class="invoice_total">
        <tr ng-if="volume !=0 && volume_permission>0">
            <td class="text-left">Total Volume</td>
            <td class="text-right">{{TOTAL_VOLUME | quantityNum:2:''}} <span ng-if="volume_unit == 'cm3'">cm&sup3;</span><span ng-if="volume_unit != 'cm3'">{{volume_unit}}</span></td>
        </tr>
        <tr ng-if="weight !=0 && weight_permission>0">
            <td class="text-left">Total Weight</td>
            <td class="text-right">{{TOTAL_WEIGHT | quantityNum:2:''}} {{weightunit}}</td>
        </tr>
    </table>
    <div>
    </div>
    <div class="clearfix">&nbsp;</div>
</div>
<div class="col-md-3 no-padding"
     id="total-amout">
    <table class="invoice_total">
        <tr ng-if="calcDiscount()>0">
            <td class="text-right">Discount</td>
            <td class="text-right">{{calcDiscount() | currency:""}} &nbsp;{{rec.currency_id.code}} </td>
        </tr>
        <tr>
            <td class="text-right">Amount</td>
            <td class="text-right"> {{netTotal() | currency:""}}&nbsp{{rec.currency_id.code}}</td>
        </tr>
        <tr>
            <td class="text-right">VAT</td>
            <td class="text-right">{{calcVat() | currency:""}}&nbsp{{rec.currency_id.code}}</td>
        </tr>
        <tr>
            <td class="text-right">Amount Incl. VAT</td>
            <td class="text-right">{{grandTotal() | currency:""}}&nbsp{{rec.currency_id.code}}</td>
        </tr>
    </table>
    <div>
    </div>
    <div class="clearfix">&nbsp;</div>
</div>
</div>
</div>
<div class="row">
    <!-- ng-show="rec.type2 == 1" -->
    <div class="col-md-12"
         ng-show="submit_show_invoicee">
        <div class="hr_line2"></div>
        <div class="pull-left"
             style="margin-top: 5px;"
             ng-if="show_btn_dispatch_stuff && rec.type2 != 0">
            <span class="margin-right">
                <i class="fa fa-circle"
                   style="color:#ef7372"></i> Partial Allocated Stock </span>
            <span class="margin-right">
                <i class="fa fa-circle"
                   style="color:#25b726"></i> Allocated Stock </span>
            <span class="margin-right">
                <i class="fa fa-circle"
                   style="color:#ffd351"></i> Dispatched Stock </span>

        </div>
        <div class="pull-right">
        </div>
    </div>
</div>

<style type="text/css">
    .table-body input.ng-invalid {
        border: 1px solid red;
    }

    .table-body .parsley-errors-list.filled {
        position: absolute !important;
        z-index: 1111;
    }
</style>