<div class="row">
  <div class="col-md-12">
      <div class="col-md-12">
      <input type="hidden" ng-model="rec.id"  class="form-control"   ng-readonly="check_readonly" />
      <div class="col-lg-5">
        <!-- <div class="form-group">
          <label class="col-lg-4 control-label">Code <span class="required">*</span></label>
          <div class="col-lg-8">
            <input type="text" ng-model="rec.code"  class="form-control"  required ng-readonly="check_readonly" />
          </div>
        </div> -->
        <div class="form-group">
          <label class="col-lg-4 control-label"> Name<span class="required">*</span></label>
          <div class="col-lg-8">
            <input required type="text" ng-model="rec.name"  class="form-control" ng-readonly="check_readonly" />
          </div>
        </div>
        <!--  <div class="form-group">
            <label class="col-lg-4 control-label">Status </label>
            <div class="col-lg-8">
              <select ng-model="rec.status" ng-options="opt as opt.label for opt in arr_status" class="select2me form-control"  ng-disabled="check_readonly" id="status"  >
                
              </select>
            </div>
          </div>
      </div>  -->
  </div>
</div>

</div>