<div class="row"
     style="margin-bottom: 0 !important;">
  <div class="col-md-12">
    <div class="col-md-12">
      <div class="col-md-5">
        <div class="form-group">
          <label class="col-md-4 control-label">Document Type<span class="required">*</span></label>
          <div class="col-md-8">
            <select id="status"
                    class="select2me form-control"
                    required
                    ng-disabled="check_readonly || rec.id>0"
                    ng-options="opt as opt.name for opt in inventorySetupType"
                    ng-model="rec.type">
              <option value=""
                      disabled
                      selected>Select Document Type</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label">Posting Group<span class="required">*</span></label>
          <div class="col-md-8">
            <select class="select2me form-control"
                    required
                    ng-options="opt as opt.posting_group for opt in postingGroup"
                    ng-model="rec.postingGroup"
                    ng-disabled="check_readonly || rec.id>0">
              <option value=""
                      disabled
                      selected>Select Posting Group</option>
            </select>
          </div>
        </div>

        <div ng-if="rec.type.id==1">

          <div class="form-group">
            <label class="col-md-4 control-label">Debtors<span class="required">*</span></label>
            <div class="col-md-8">
              <div class="input-symbol">
                <input type="text"
                       required
                       class="form-control"
                       readonly
                       ng-class="{pickdate:!check_readonly}"
                       ng-model="rec.salesAccountDebatorsCode"
                       ng-click="getGLAccountCode('salesAccountDebators')"
                       ng-disabled="check_readonly" />
                <span><i class="fa fa-external-link"></i></span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">Sales<span class="required">*</span></label>
            <div class="col-md-8">
              <div class="input-symbol">
                <input type="text"
                       class="form-control"
                       required
                       readonly
                       ng-class="{pickdate:!check_readonly}"
                       ng-model="rec.salesAccountSalesCode"
                       ng-click="getGLAccountCode('salesAccountSales')"
                       ng-disabled="check_readonly" />
                <span><i class="fa fa-external-link"></i></span><!--  title="{{rec.salesAccountSalesCode}}" -->
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">Sales Discount<span class="required">*</span></label>
            <div class="col-md-8">
              <div class="input-symbol">
                <input type="text"
                       required
                       readonly
                       ng-class="{pickdate:!check_readonly}"
                       class="form-control"
                       ng-model="rec.salesAccountSalesDiscountCode"
                       ng-disabled="check_readonly"
                       ng-click="getGLAccountCode('salesAccountSalesDiscount')" />
                       <!-- vat_scheme_not_registered ||  -->
                <span><i class="fa fa-external-link"></i></span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">Sales VAT Account<span class="required">*</span></label>
            <div class="col-md-8">
              <div class="input-symbol">
                <input type="text"
                       required
                       ng-class="{pickdate:!check_readonly}"
                       readonly
                       class="form-control"
                       ng-model="rec.salesAccountSalesVATCode"
                       ng-disabled="check_readonly"
                       ng-click="getGLAccountCode('salesAccountSalesVAT')" />
                       <!-- vat_scheme_not_registered ||  -->
                <span><i class="fa fa-external-link"></i></span>
              </div>
            </div>
          </div>
          <div class="form-group"
               ng-if="inventorySetupSystemType==1">
            <label class="col-md-4 control-label">Cost of Goods Sold<span class="required">*</span></label>
            <div class="col-md-8">
              <div class="input-symbol">
                <input type="text"
                       class="form-control"
                       required
                       ng-class="{pickdate:!check_readonly}"
                       readonly
                       ng-model="rec.salesAccountCostOfGoodsSoldCode"
                       ng-click="getGLAccountCode('salesAccountCostOfGoodsSold')"
                       ng-disabled="check_readonly" />
                <span><i class="fa fa-external-link"></i></span>
              </div>
            </div>
          </div>
          <div class="form-group"
               ng-if="inventorySetupSystemType==1">
            <label class="col-md-4 control-label">Stock
              <!-- (Balance Sheet) --><span class="required">*</span></label>
            <div class="col-md-8">
              <div class="input-symbol">
                <input type="text"
                       class="form-control"
                       required
                       ng-class="{pickdate:!check_readonly}"
                       readonly
                       ng-model="rec.salesAccountStockCode"
                       ng-click="getGLAccountCode('salesAccountStock')"
                       ng-disabled="check_readonly" />
                <span><i class="fa fa-external-link"></i></span>
              </div>
            </div>
          </div>

        </div>
        <div ng-if="rec.type.id==2">

          <div class="form-group">
            <label class="col-md-4 control-label">Creditors<span class="required">*</span></label>
            <div class="col-md-8">
              <div class="input-symbol">
                <input type="text"
                       required
                       readonly
                       ng-class="{pickdate:!check_readonly}"
                       class="form-control"
                       ng-model="rec.purchaseAccountCreditorsCode"
                       ng-click="getGLAccountCode('purchaseAccountCreditors')"
                       ng-disabled="check_readonly || check_readonly" />
                <span><i class="fa fa-external-link"></i></span>
              </div>
            </div>
          </div>
          <div class="form-group"
               ng-if="inventorySetupSystemType==1">
            <label class="col-md-4 control-label">Stock (Balance Sheet)
              <!-- Purchases --><span class="required">*</span></label>
            <div class="col-md-8">
              <div class="input-symbol">
                <input type="text"
                       required
                       readonly
                       ng-class="{pickdate:!check_readonly}"
                       class="form-control"
                       ng-model="rec.purchaseAccountStockCode"
                       ng-click="getGLAccountCode('purchaseAccountStock', '1')"
                       ng-disabled="check_readonly || check_readonly" /><!-- purchaseAccountPurchases -->
                <span><i class="fa fa-external-link"></i></span><!-- Purchase_gl_ac_uk_purch -->
              </div>
            </div>
          </div>

          <div class="form-group"
               ng-if="inventorySetupSystemType==2">
            <label class="col-md-4 control-label">Purchases<span class="required">*</span></label>
            <div class="col-md-8">
              <div class="input-symbol">
                <input type="text"
                       required
                       readonly
                       ng-class="{pickdate:!check_readonly}"
                       class="form-control"
                       ng-model="rec.purchaseAccountStockCode"
                       ng-click="getGLAccountCode('purchaseAccountStock', '2')"
                       ng-disabled="check_readonly || check_readonly" /><!-- purchaseAccountPurchases -->
                <span><i class="fa fa-external-link"></i></span><!-- Purchase_gl_ac_uk_purch -->
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label">Purchase Discount<span class="required">*</span></label>
            <div class="col-md-8">
              <div class="input-symbol">
                <input type="text"
                       required
                       readonly
                       ng-class="{pickdate:!check_readonly}"
                       class="form-control"
                       ng-model="rec.purchaseAccountPurchasesDiscCode"
                       ng-disabled="check_readonly"
                       ng-click="getGLAccountCode('purchaseAccountPurchasesDisc')" />
                       <!-- vat_scheme_not_registered ||  -->
                <span><i class="fa fa-external-link"></i></span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">Purchase VAT Account<span class="required">*</span></label>
            <div class="col-md-8">
              <div class="input-symbol">
                <input type="text"
                       required
                       readonly
                       ng-class="{pickdate:!check_readonly}"
                       class="form-control"
                       ng-model="rec.purchaseAccountPurchasesVATCode"
                       ng-disabled="check_readonly"
                       ng-click="getGLAccountCode('purchaseAccountPurchasesVAT')" />
                       <!-- vat_scheme_not_registered ||  -->
                <span><i class="fa fa-external-link"></i></span>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
<div ng-include="'app/views/company/_finance_setting_gl_account_modal.html'"></div>