<div ng-controller="RolesController as table">
  <div ng-include="'app/views/_breadcrumb.html'"></div>

    <div class="row" style="margin-bottom: 0 !important;">
        <div class="col-md-12">
          <div class="nav nav-tabs" style="padding:8px;">
              <div class="col-md-11">
                <div class="search-wrapper">
                    <input type="text" Placeholder="Search in Roles and Permissions" class="form-control"
                    ng-model="searchKeyword.search">
                  <i class="fa fa-search search-icon" aria-hidden="true"></i>
                </div>
              </div>
              <div class="col-md-1">
                  <a id="prompt" ui-sref="app.addRoles()" class="btn btn_add pull-right margin_bottom"> Add</a>
              </div>
          </div>
      </div>
      </div>

    <div class="row">
      <div class="col-md-12">
        <div class="widget-body">
          <div id="dt_example" class="example_alt_pagination">
            <table ng-table="table.tableParams5" class="table table-condensed table-striped table-hover table-bordered" id="data-table"
              show-filter="true">
              <thead>
                <tr class="bg-col" ng-show="columns.length > 0">
                  <th ng-repeat="column in columns" class="sortable sort-asc" ng-class="{ 'sort-asc': table.tableParams5.isSortBy(column.field, 'asc'),   'sort-desc': !table.tableParams5.isSortBy(column.field, 'desc')   }"
                    ng-click="table.tableParams5.sorting(column.field, tableParams.isSortBy(column.field, 'asc') ? 'desc' : 'asc')"
                    ng-if="column.title!= 'Id'" sortable="column.title"> {{column.title}} </th>

                  <!-- <tr >
                  <th ng-repeat="column in columns"

                            class="sortable"
                                > <input type="text" class="form-control"
                                   ng-model="MyCustomeFilters[column.field] "/>
                  </th>
                </tr> -->

                  <th class="ShowHideAction" style="text-align: center !important;width: 10%;">Action</th>
                </tr>
              </thead>
              <tbody class="table-body courser ">
                <tr ng-repeat="rec in $data | filter:searchKeyword.search" ng-show="columns.length > 0">
                  <td ng-repeat="column in columns" sortable="column.title" ui-sref="app.viewRoles({id:rec.id})" ng-if="column.title!= 'Id'">
                  {{rec[column.field]}} </td>
                  <td class="ShowHideAction" style="text-align: center !important;">
                    <!-- <a title="Assign Role" ng-click="show_popup_assign(rec.id,rec.name,1)" class="tooltips_clss btn ">
                      <i class="fa fa-history"> </i>
                    </a> -->
                    <a title="Edit" ui-sref="app.viewRoles({id:rec.id})" class="tooltips_cls btn ">
                      <i class="fa fa-edit"></i>
                    </a>
                    <a title="Delete" ng-click="delete_role(rec.id,$index,$data)" class="tooltips_cls btn ">
                      <i class="fa fa-times"></i>
                    </a>
                  </td>
                </tr>
                <div ng-show="!columns.length > 0" class="no-record"></div>
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="show_popup_assign" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Assign {{title_role}} Role</h4>
        </div>
        <div class="modal-body">

          <!-- Filter Start -->
          <div ng-init="get_employee_type_list();get_department_list(1)">
            <div class="nav nav-tabs " style="    padding-top: 14px !important; padding-bottom: 0px !important;">
              <div class="col-md-3">
                <form class="form-horizontal no-margin" ng-submit="show_popup_assign()">
                  <div class="form-group">
                    <div class="col-md-12">
                      <div class="input-symbol">
                        <input type="text" Placeholder="Code, Name" class="in-t-1" ng-model="searchKeyword.$" style="padding-left:4px;">
                        <span id="date_msg_4">
                          <i class="fa fa-search"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="col-md-4  control-label" title="Employment Type">Emp. Type</label>
                  <div class="col-md-8 ">
                    <select ng-model="searchKeyword.emp_type" ng-options="opt as opt.name for opt in emp_type_arr" class="in-t-1" ng-change="show_popup_assign()">
                      <option style="display:block" value=""></option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label class="col-md-4  control-label" title="Department">Dept.</label>
                  <div class="col-md-8 ">
                    <select ng-model="searchKeyword.deprtment" ng-options="opt as opt.name for opt in deprtment_arr" class="in-t-1" ng-change="show_popup_assign()">
                      <option style="display:block" value=""></option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-1">
                <button type="button" class="btn btn-default m0auto" ng-click="searchKeyword='';show_popup_assign()" ng-model="strict" style="padding-top:5px;padding-bottom:5px;">
                  <i class="fa fa-trash-o" aria-hidden="true" title="Clear Fields"></i>
                </button>
              </div>
              <div class="col-md-1">
                <a ng-if="allowaddhr==1" id="prompt" ui-sref="app.add_hr_values" class="btn pull-right btn_add"> Add</a>
              </div>
            </div>
          </div>
          <!-- Filter End -->

          <div class="row">
            <div class="col-md-12">
              <!--paging options start-->
              <div class="page-options" style="margin-top: -8px;">
                <div class="col-xs-4">
                  <div class="form-group">
                    <label class="col-md-6 show_record">Show Entries </label>
                    <div class="col-md-4">
                      <select ng-model="item_paging.pagination_limit" ng-options="opt as opt.label for opt in pagination_arry" class="in-t-1" ng-change="show_popup_assign()">
                        <option style="display:block" value=""></option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-xs-4">
                  <div class="text-center total_paging_center" ng-if="columnsp.length > 0">{{total_paging_record}} </div>
                </div>
                <div class="col-xs-4">
                  <div class="text-right total_paging_record" ng-if="columnsp.length > 0">Total: {{total}}</div>
                </div>
              </div>
              <!--paging options end-->
            </div>
            <div class="col-md-12">
              <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover" ng-if="columnsp.length > 0">
                  <thead>
                    <tr class="bg-col">
                      <th>
                        <input type="checkbox" class="checkAllSalesperson">
                      </th>
                      <th> Name </th>
                      <th> Job Title </th>
                      <th> Department </th>
                      <th> Employment Type </th>
                      <th> Already Assigned </th>
                    </tr>
                  </thead>
                  <tbody class="courser table-body">
                    <tr ng-repeat="sp in salepersons  track by $index ">
                      <td>
                        <input type="checkbox" ng-checked="sp.chk" ng-click="selectSaleperson(sp,0)">
                      </td>
                      <td> {{sp.first_name +' '+ sp.last_name}} </td>
                      <td> {{sp.job_title}} </td>
                      <td> {{sp.department}} </td>
                      <td> {{sp.employee_type}} </td>
                      <td>
                        <a ng-if="sp.role_count>0" title=" Already Assigned" ng-click="get_employee_role_list(sp.id)" class="tooltips_clss btn ">
                          <i style="  font-size: 20px;	position: relative;	top: 3px;" class="material-icons">&#xE89D;</i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-lg-12" ng-show="item_paging.total_pages > 1">
              <div class="form-group" style="text-align: left;">
                <ul class="pagination" style="margin: 0px !important;" ng-show="item_paging.total_pages > 1">
                  <li ng-class="{'disabled': item_paging.cpage == 1}" class="">
                    <a ng-click="itemselectPage(item_paging.ppage); show_popup_assign();" href="javascript: void(0);" class="">«</a>
                  </li>
                  <li ng-repeat="(key,value) in item_paging.pages" ng-class="{'active': value == item_paging.cpage}">
                    <a ng-click="itemselectPage(value); show_popup_assign();" href="javascript: void(0);">
                      <span ng-bind="value"></span>
                    </a>
                  </li>
                  <li ng-class="{'disabled': item_paging.cpage == item_paging.total_pages}">
                    <a ng-click="itemselectPage(item_paging.npage); show_popup_assign();" href="javascript: void(0);">»</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <span class="pull-left">Selected:&nbsp;{{(salepersons | filter: {chk: true}).length}}</span>
          <button class="btn btn-submit" ng-click="add_assign_roles(1)" data-dismiss="modal" type="button">Assign </button>
          <button type="button" class="btn btn-cancel" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <div id="show_role_all_employee" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"> Roles</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover" ng-if="selectedrolesrecord.length > 0">
                  <thead>
                    <tr class="bg-col">
                      <th> Name </th>
                    </tr>
                  </thead>
                  <tbody class="courser table-body">
                    <tr ng-repeat="sp in selectedrolesrecord  track by $index ">
                      <td> {{sp.name}} </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-cancel" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <div ng-include="'app/views/_confirm_modal.html'"></div>
  <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
</div>