<div class="row">
  <div class="col-md-3">
    <div class="input-symbol">
      <input type="text" Placeholder="Search" class="form-control" ng-model="searchKeyword.search">
      <span id="date_msg_4"><i class="fa fa-search"></i></span>
    </div>
  </div>
  <div class="col-md-9">
    <a id="prompt" ng-click="showBankFrom()" class="btn btn_add pull-right">
          </i> Add</a>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-md-12">
    <div>
      <div>
        <div id="dt_example" class="example_alt_pagination">
          <div class="table-responsive">
            <table class="table table-condensed table-striped table-hover table-bordered" id="data-table" ng-show="columns.length > 0">
              <thead class="fixit">
                <tr class="bg-col">
                  <th ng-repeat="column in columns" ng-if="column.title != 'Id'"> {{column.title}} </th>
                  <th class="ShowHideAction" ng-show="columns.length > 0">Action</th><!--  && column.title != 'Sort Code' -->
                </tr>

              </thead>
              <tbody class="fixit">
                <tr ng-repeat="rec in bankData  | filter:searchKeyword.search">
                  <td ng-repeat="column in columns" ng-if="column.title != 'Id' " sortable="column.title" ng-click="showViewBankForm(rec.id)">
                    {{rec[column.field]}} </td><!-- && column.title != 'Sort Code' -->
                  <td ng-show="columns.length > 0" class="ShowHideAction">
                    <a ng-click="showBankEditForm(rec.id)" class="btn " title="Edit"><i class="fa fa-edit"></i></a>
                    <a ng-click="deleteBankAccount(rec.id,$index,bankData)" title="Delete" class="btn "><i class="fa fa-times"></i></a>
                  </td>
                </tr>
                <div ng-show="!columns.length > 0" class="no-record">
                  </div>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>