<div class="row">
  <div class="col-md-3">
    <div class="input-symbol">
      <input type="text" Placeholder="Search" class="form-control" ng-model="searchKeyword.search">
      <span id="date_msg_4"><i class="fa fa-search"></i></span>
    </div>
  </div>
  <div class="col-md-9">
    <a id="prompt" ng-click="fnAddrForm()" class="btn btn_add pull-right">Add</a>
  </div>
</div>

<!-- Row starts -->
<div class="row">
  <div class="col-md-12 col-md-12">
    <div>
      <!-- <div class="widget-header">
          <div class="title">
            Additional Address(es)
          </div>
        </div> -->
      <div>
        <div id="dt_example" class="example_alt_pagination">
          <div ng-show="columns.length > 0">
            <table class="table table-condensed table-striped table-hover table-bordered" id="data-table">
              <thead class="fixit">
                <tr class="bg-col">
                  <th ng-repeat="column in columns" ng-if="column.field != 'id'">
                    <span ng-if="column.title == 'Address 1'">Address Line 1</span>
                    <span ng-if="column.title != 'Address 1'">{{column.title}}</span>
                    
                  </th>
                  <th class="ShowHideAction" >Action</th>
                </tr>
                <!-- <tr >
                <th ng-repeat="column in columns"
                ng-show="column.visible"
                class="sortable"
                > <input type="text" class="form-control"
                ng-model="MyCustomeFilters[column.field] "/>
                </th>
                </tr> -->
              </thead>
              <tbody class="fixit ">
                <tr ng-repeat="record in compAddrData | filter:searchKeyword.search">
                  <td ng-repeat="column in columns" ng-click="showViewAddrForm(record.id)" ng-if="column.field != 'id'"> {{record[column.field]}} </td>
                  <td class="ShowHideAction" ng-show="columns.length > 0">

                    <a ng-click="showEditAddrForm(record.id)" class="btn" title="Edit"><i class="fa fa-edit"></i></a>
                    <a ng-click="deleteCompanyAdddress(record.id,$index,compAddrData)" title="Delete" class="btn"><i class="fa fa-times"></i></a>
                  </td>
                </tr>
                <tr ng-show="columns.length == 0 && !showLoader">
                  <td>No record found agaist this entity! Please add.</td>
                </tr>
                <div ng-show="!columns.length > 0" class="no-record"></div>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>