<div class="row">
    <div class="col-md-12 col-md-12">
        <div class="widget animated fadeIn">
            <div class="widget-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-10">
                            <div class="form-group">
                                <label class="col-md-4 control-label ">Expiry time of passwords</label>
                                <div class="col-md-3">
                                    <div class="input-symbol">
                                        <!-- 16-> shift, 69-> e, 107-> plus, 109-> minus, 187-> equal, 189-> dash, 190-> dot -->
                                        <input type="number"
                                               step="1"
                                               onkeydown="javascript: return (event.keyCode == 16 || event.keyCode == 69 || event.keyCode == 107  || event.keyCode == 109 || event.keyCode == 187 || event.keyCode == 189 || event.keyCode == 190)? false : true"
                                               class="form-control"
                                               oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                               maxlength="3"
                                               
                                               ng-model="password_setting.password_expiry_days"
                                               ng-readonly="password_setting_readonly">
                                        <span>
                                            Days
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label ">Start date of daily reminders of expiry due
                                    date</label>
                                <div class="col-md-3">
                                    <div class="input-symbol">
                                        <input type="number"
                                               step="1"
                                               oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                               maxlength="3"
                                               
                                               onkeydown="javascript: return (event.keyCode == 16 || event.keyCode == 69 || event.keyCode == 107  || event.keyCode == 109 || event.keyCode == 187 || event.keyCode == 189 || event.keyCode == 190)? false : true"
                                               class="form-control"
                                               ng-model="password_setting.password_reminder_days"
                                               ng-readonly="password_setting_readonly" />
                                        <span>
                                            Days
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label ">Grace period to 1st login with old password
                                    after expiry</label>
                                <div class="col-md-3">
                                    <div class="input-symbol">
                                        <input type="number"
                                               step="1"
                                               
                                               oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                               maxlength="3"
                                               onkeydown="javascript: return (event.keyCode == 16 || event.keyCode == 69 || event.keyCode == 107  || event.keyCode == 109 || event.keyCode == 187 || event.keyCode == 189 || event.keyCode == 190)? false : true"
                                               class="form-control"
                                               ng-model="password_setting.password_grace_period"
                                               ng-readonly="password_setting_readonly" />
                                        <span>
                                            Days
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label ">Maximum consecutive login fails before
                                    lock-out</label>
                                <div class="col-md-3">
                                    <input type="number"
                                           oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                           maxlength="3"
                                           
                                           onkeydown="javascript: return (event.keyCode == 16 || event.keyCode == 69 || event.keyCode == 107  || event.keyCode == 109 || event.keyCode == 187 || event.keyCode == 189 || event.keyCode == 190)? false : true"
                                           class="form-control"
                                           ng-model="password_setting.account_lock_attempts"
                                           ng-readonly="password_setting_readonly" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button class="btn btn-submit"
                                        ng-if="!password_setting_readonly"
                                        type="submit">
                                    Save
                                </button>
                                <button class="btn btn-edit"
                                        ng-if="password_setting_readonly"
                                        ng-click="ShowPasswordEditForm()"
                                        type="button">
                                    Edit
                                </button>
                                <a class="btn btn-cancel"
                                   type="button"
                                   ui-sref="app.company">
                                    Cancel
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>