<div ng-include="'app/views/_breadcrumb2.html'"></div>
<div class="row">
    <div class="col-md-10">
        <div class="widget">
            <div class="widget-body">
                <div class="row">
                    <input type="hidden" ng-model="open_tab_tabs" id="open_tab_tabs" name="open_tab_tabs" class="form-control" />
                    <input type="hidden" ng-model="formData.eid" />
                    <input type="hidden" ng-model="formData.employee_id" />
                    <input type="hidden" ng-model="formData.tab_id_2" value="1" />

                    <div class="col-md-12">
                        <div class="panel-title2">General Information</div>
                        <div class="col-md-5 ">
                            <div class="form-group">
                                <label class="col-md-4 control-label "> Employee No.
                                    <span ng-show="moduleCodeData == 'external'" class="required">*</span>
                                </label>

                                <div class="col-md-8">
                                    <input ng-required="moduleCodeData == 'external'" ng-readonly="moduleCodeData != 'external' ||  check_hrvalues_readonly" type="text" ng-model="formData.user_code" class="form-control" />
                                    <input type="hidden" ng-model="formData.code_type" />
                                    <input type="hidden" ng-model="formData.user_no" />
                                </div>
                            </div>
                            <!-- <div class="form-group">
                              <label class="col-md-4 control-label">Previous Employee Code </label>
                              <div class="col-md-8">
                                <input type="text" ng-model="formData.prev_code" id="prev_code" class="form-control"
                                                         ng-readonly="check_hrvalues_readonly"/>
                              </div>
                            </div> -->

                            <div class="form-group">
                                <label class="col-md-4 control-label "> User Email
                                    <span class="required">*</span>
                                </label>
                                <!--Login-->

                                <div class="col-md-8">
                                    <input ng-readonly="check_hrvalues_readonly" type="email" required ng-model="formData.user_email" data-parsley-required="true"
                                        data-parsley-type="email" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label "> Password
                                    <span class="required">*</span>
                                </label>

                                <div class="col-md-8">
                                    <input ng-readonly="check_hrvalues_readonly" type="{{inputType}}" ng-change="checkPassword()" required ng-model="formData.user_password" ng-focus="clearPassword();" class="form-control"
                                    x-validity="regx.password"
                                    data-parsley-error-message="The password should contain atleast 
                                                                1 Capital alphabet, 
                                                                1 Small alphabet, 
                                                                1 Numeric, 
                                                                1 Special Character and 
                                                                length must be atleast 8 Characters"
                                    />
                                    <!-- <span class="show_password" ng-mousedown="eye_symbol_close=1; inputType='text'" ng-mouseup="eye_symbol_close=0; inputType='password'"
                                        ng-mouseleave="eye_symbol_close=0; inputType='password'">
                                        <i class="fa fa-eye f5" ng-show="eye_symbol_close==0 && !check_hrvalues_readonly" aria-hidden="true"> </i>
                                        <i class="fa fa-eye-slash f5" ng-show="eye_symbol_close>0  && !check_hrvalues_readonly" aria-hidden="true"> </i>
                                    </span> -->
                                </div>
                                <!--ng-checked="formData.user_password.length>0"-->
                                <!--<div class="col-md-4">
                                    <input type="checkbox" ng-model="formData.passwordCheckbox"
                                           ng-click="hideShowPassword()"/>
                                    <label for="checkbox" ng-if="formData.passwordCheckbox">Hide </label>
                                    <label for="checkbox" ng-if="!formData.passwordCheckbox">Show </label>
                                </div>-->
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label ">Confirm Password  <span class="required"> *</span> </label>
                                <div class="col-sm-8">
                                  <div class="input-symbol">
                                    <input 
                                           ng-change="checkPassword()"
                                           type="password"
                                           ng-readonly="check_hrvalues_readonly"
                                           ng-model="formData.confirm_password"
                                           class="form-control" />
                
                                           <span class="fa fa-times-circle" aria-hidden="true" ng-if="!isPasswordConfirm && !check_hrvalues_readonly && isPasswordTouched" style="color:red;font-size: 14px;"></span>
                                           <span class="fa fa-check-circle" ng-if="isPasswordConfirm" style="color:green;font-size: 14px;" ></span>
                                  </div>
                
                                  </div>
                              </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label "> Type
                                    <span class="required">*</span>
                                </label>

                                <div class="col-md-4 padr6">
                                    <select ng-disabled="check_hrvalues_readonly" ng-model="formData.user_id" required ng-options="opt as opt.label for opt in user_types"
                                        class="form-control">
                                    </select>
                                </div>
                                <div class="col-md-4 " style=" padding-left: 5px !important;">
                                    <label class="control-label" 
                                    style="width: 100%;
                                    padding: 3.3px 8px;
                                    border-radius: 2px;
                                    background: #f4f7f7;
                                    border: 1px solid #c5c5c5;
                                    cursor: pointer;">
                                        <input type="checkbox" ng-model="formData.allow_login" ng-true-value="'1'" ng-false-value="'0'" ng-disabled="check_hrvalues_readonly"
                                        /> Allow Login
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label ">Job Title </label>

                                <div class="col-md-8">
                                    <input ng-readonly="check_hrvalues_readonly" type="text" ng-model="formData.job_title" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label ">First Name <span class="required">*</span>
                                </label>

                                <div class="col-md-8">
                                    <input required ng-readonly="check_hrvalues_readonly" type="text" ng-model="formData.first_name" ng-blur="updatePreferredName()" class="form-control"
                                    />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label ">Middle Name </label>

                                <div class="col-md-8">
                                    <input ng-readonly="check_hrvalues_readonly" type="text" ng-model="formData.middle_name" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label ">Last Name </label>

                                <div class="col-md-8">
                                    <input ng-readonly="check_hrvalues_readonly" type="text" ng-model="formData.last_name" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label ">Preferred Name </label>

                                <div class="col-md-8">
                                    <input ng-readonly="check_hrvalues_readonly" type="text" ng-model="formData.known_as" class="form-control" />
                                </div>
                            </div>
                            <!--<div class="form-group">
                                <label class="col-md-4 control-label ">Line Manager </label>

                                <div class="col-md-8">
                                    <input type="text" ng-model="formData.line_manager_name"
                                           id="formData.line_manager_name" class="form-control"
                                           ng-click="getSalePerson()" ng-readonly="check_hrvalues_readonly"/>
                                    <input type="hidden" ng-model="formData.line_manager_name_id" class="form-control"/>

                                </div>
                            </div>-->
                        </div>
                        <div class="col-md-5 col-md-offset-2">
                            <div class="form-group">
                                <label class="col-md-4 control-label ">Department</label>
                                <x-flexi-select x-flexi-select-title="'Department'" x-flexi-select-modal-id="'DeptSelectModal'" x-flexi-select-output='formData.department'
                                    x-flexi-select-data="dept_list" x-flexi-select-readonly="check_hrvalues_readonly">
                                </x-flexi-select>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Assign Roles </label>
                                <x-flexi-select x-flexi-select-title="'Roles'"
                                                x-flexi-select-modal-id="'RolesSelectModal'"
                                                x-flexi-select-output='formData.roles'
                                                x-flexi-select-data="all_roles"
                                                x-flexi-select-readonly="check_hrvalues_readonly">
                                </x-flexi-select>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label ">Line Manager</label>
                                <x-flexi-select x-flexi-select-title="'Line Manager'" x-flexi-select-modal-id="'LineManagerSelectModal'" x-flexi-select-output='formData.line_manager_name_id'
                                    x-flexi-select-data="all_employees" 
                                    x-flexi-select-show-cols="lineManagerShowCols"
                                    x-flexi-select-readonly="check_hrvalues_readonly" x-flexi-radio>
                                </x-flexi-select>
                                <!-- <div title="{{sel_linemanger_tooltip}}">
                                        <div class="panel-info " ng-class="{'dont-click readonly':check_hrvalues_readonly}">
                                            <div class="panel-body" ng-click="itemselectPage(1);getSalePersons('','','77')">
                                                <span>
                                                    <span>{{formData.line_manager_name}}</span>
                                                </span>

                                                <aside></aside>
                                            </div>
                                        </div>
                                    </div> -->

                            </div>
                            <!-- <div class="form-group">
                                <label class="col-md-4 control-label ">Territory (if Applicable)</label>

                                <x-flexi-select x-flexi-select-title="'Territories'" x-flexi-select-modal-id="'TerritoriesSelectModal'" x-flexi-select-output='formData.area'
                                    x-flexi-select-data="all_territories" x-flexi-select-readonly="check_hrvalues_readonly">
                                </x-flexi-select>
                            </div> -->
                            <div class="form-group">
                                <label class="col-md-4 control-label ">Start Date
                                    <!-- <span class="required">*</span> -->
                                </label>

                                <div class="col-md-8">
                                    <input jqdatepicker class="2date-picker form-control" id="start_date" ng-model="formData.start_date" ng-disabled="check_hrvalues_readonly"
                                        ng-class="{'pickdate':!check_hrvalues_readonly}" ng-change="testdate_by_id('start_date','status_inactive_date','earlier_than_status')"
                                        readonly="">
                                    <span class="fa fa-calendar  new_ca  form-control-feedback"></span>
                                    <span id="earlier_than_status"
                                          style="color:#F00; display: none;">Status change date is earlier then Start date</span>
                                    <!--ng-change="testdate(formData.start_date,formData.leave_date,1)"-->
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label ">Employment Type</label>

                                <div class="col-md-8">
                                    <button type="button" id="modaladdeventbtn_new" class="btn btn-info btn_blue pull-left margin_bottom" data-toggle="modal"
                                        data-target="#modaladdevent" style="display:none"> Add New
                                    </button>
                                    <!-- commented this from below line by Ahmad ng-change="onChangeEmployeetype()" -->
                                    <select ng-disabled="check_hrvalues_readonly" ng-model="formData.employee_type" ng-options="opt as opt.name for opt in employee_type_list"
                                        class="form-control">
                                        <option disabled value="">Select</option>
                                    </select>
                                </div>
                            </div>

                            <div ng-if="formData.employee_type.name == 'Contractor'" class="animated fadeIn">
                                <div class="form-group">
                                    <label class="col-md-4 control-label " title="Expected Contract End Date">Expt. Contract End Date
                                        <span class="required">*</span>
                                    </label>

                                    <div class="col-md-8">
                                        <input jqdatepicker class="2date-picker form-control" id="contract_end_date" ng-model="formData.contract_end_date" ng-disabled="check_hrvalues_readonly"
                                            required="" readonly="" ng-class="{'pickdate':!check_hrvalues_readonly}">
                                        <span class="fa fa-calendar  new_ca  form-control-feedback"></span>
                                        <!--ng-change="testdate(formData.start_date,formData.leave_date,1)"-->

                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label ">Job Status</label>

                                <div class="col-md-8">
                                    <select ng-disabled="check_hrvalues_readonly" ng-model="formData.job_status" ng-options="opt as opt.name for opt in jobStatuses"
                                        class="select2me form-control" id="job_status">
                                        <option disabled value="">Select</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label ">No. of Hours per week</label>
                                <div class="col-md-8">
                                    <input type="text" data-parsley-trigger="keyup" data-parsley-type="number" max="168" ng-model="formData.working_hours" class="form-control"
                                        ng-readonly="check_hrvalues_readonly" />
                                    <span class="place-gbp3">hrs</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label ">Status</label>
                                <div class="col-md-8">
                                    <select ng-disabled="check_hrvalues_readonly" ng-model="formData.status" ng-options="opt as opt.title for opt in status_data"
                                        class=" form-control" ng-change="onChangestatustype()" id="status_other">
                                    </select>
                                </div>
                                <!-- <div class="col-md-2">
                                    <button class="btn btn-icon pull-right" type="button" ng-click="historyHrTab('employeestatus')" title="Status History" ng-disabled="check_item_readonly">
                                        <i class="fa fa-history" aria-hidden="true"></i>
                                    </button>
                                </div> -->
                            </div>
                            <!--{{is_active_cause_data}}
                            {{is_cause_data}}-->
                            <!-- && !is_cause_data-->
                            <div ng-show="is_active_cause_data && !is_cause_data" class="animated fadeIn">
                                <div class="form-group">
                                    <label class="col-md-4 control-label ">Active Date</label>

                                    <div class="col-md-8">
                                        <input jqdatepicker class="2date-picker form-control" id="status_date" ng-model="formData.status_date" ng-disabled="check_hrvalues_readonly"
                                            ng-change="testdate_by_id('status_date','status_inactive_date','date_msg_status',formData.status_date)"
                                            readonly="">
                                        <!--required="" -->
                                        <span class="fa fa-calendar  new_ca  form-control-feedback"></span>
                                    </div>
                                </div>
                            </div>

                            <div ng-show="is_cause_data" class="animated fadeIn">

                                <div class="form-group">
                                    <label class="col-md-4 control-label ">Cause of Inactivity </label>

                                    <div class="col-md-8">
                                        <select ng-disabled="check_hrvalues_readonly" ng-model="formData.cause_of_inactivity" ng-options="opt.id as opt.name for opt in inactivity_types"
                                            class="select2me form-control" ng-change="onChangeCasetype()" id="cause_of_inactivity">
                                            <option disabled value="">Select</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-4 control-label ">
                                        <!--Inactive-->Status Change Date</label>

                                    <div class="col-md-8">
                                        <input jqdatepicker class="2date-picker form-control" id="status_inactive_date" ng-model="formData.status_inactive_date"
                                            ng-class="{'pickdate':!check_hrvalues_readonly}" ng-disabled="check_hrvalues_readonly"
                                            ng-change="testdate_by_id('start_date','status_inactive_date','later_than_start')"
                                            readonly="">
                                        <span class="fa fa-calendar  new_ca  form-control-feedback"></span>
                                        <span id="later_than_start"
                                              style="color:#F00; display: none;">Status change date is earlier then Start date</span>
                                        <span id="date_msg" ng-show="date_msg" style="color:#F00; display: none;"></span>
                                    </div>
                                </div>

                                <div class="form-group" ng-if="formData.cause_of_inactivity.id==999">
                                    <label class="col-md-4 control-label ">Leaving Date</label>

                                    <div class="col-md-8">
                                        <!-- min-date="newD" -->
                                        <input jqdatepicker class="2date-picker form-control" id="leave_date" ng-disabled="check_hrvalues_readonly" ng-class="{'pickdate':!check_hrvalues_readonly}"
                                            ng-model="formData.leave_date" ng-disabled="check_hrvalues_readonly" ng-change="testdate_by_id('start_date','leave_date','date_msg_leave')"
                                            readonly="">
                                        <span class="fa fa-calendar  new_ca  form-control-feedback"></span>
                                        <span id="date_msg_leave" style="color:#F00; display: none;">Status change date is earlier then Start date</span>
                                        <span id="date_msg" ng-show="date_msg" style="color:#F00; display: none;"></span>
                                    </div>
                                </div>
                                <div class="form-group" ng-if="formData.cause_of_inactivity.id==999">
                                    <label class="col-md-4 control-label ">Reason for Leaving</label>

                                    <div class="col-md-8">
                                        <select ng-disabled="check_hrvalues_readonly" ng-model="formData.reason_of_leaving" ng-options="opt as opt.name for opt in resign_type"
                                            class="select2me form-control" id="reason_of_leaving" ng-change="onChangeResigntype()">
                                            <option value="">Select</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <!--<div ng-show="is_cause_data" class="animated fadeIn">
                                <div class="form-group">
                                    <label class="col-md-4 control-label ">Inactive Date</label>

                                    <div class="col-md-8">
                                        <input jqdatepicker class="2date-picker form-control" id="status_inactive_date"
                                               ng-model="formData.status_inactive_date"
                                               ng-disabled="check_hrvalues_readonly"
                                               ng-click="testdate_by_id('status_date','status_inactive_date','date_msg_status')"
                                               readonly="">
                                        <span class="fa fa-calendar  new_ca  form-control-feedback"></span> <span
                                            id="date_msg_status" style="color:#F00; display: none;">Inactive Date is earlier then Active Date</span> <span
                                            id="date_msg" ng-show="date_msg"
                                            style="color:#F00; display: none;"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label ">Cause of Inactivity </label>

                                    <div class="col-md-8">
                                        <select ng-disabled="check_hrvalues_readonly"
                                                ng-model="formData.case_of_inactivity"
                                                ng-options="opt as opt.label for opt in leave_types"
                                                class="select2me form-control"
                                                ng-change="onChangeCasetype()" id="case_of_inactivity">
                                            <option></option>
                                        </select>
                                    </div>
                                </div>
                                &lt;!&ndash;<div class="form-group" ng-show="is_case_date">
                                              <label class="col-md-4 control-label ">Reactive Date</label>
                                              <div class="col-md-8">
                                                <p class="input-group">
                                                  <input readonly="readonly" type="text" class="form-control"
                                                      ng-model="formData.case_date"
                                              datepicker-popup="{{datePicker.format}}" datepicker-options="datePicker.options"
                                              is-open="datePicker.instances['case_date']"
                                               close-text="Close"
                                  data-parsley-pattern="/^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}|(?:(0[1-9]|1[012])[\- \/.](0[1-9]|[12][0-9]|3[01])[\- \/.](19|20)[0-9]{2})|[0-9]{4}/(0[1-9]|1[0-2])/(0[1-9]|[1-2][0-9]|3[0-1])$/" />
                                                  <span class="input-group-btn">
                                                  <button type="button"  ng-disabled="check_hrvalues_readonly"
                                              class="btn btn-default" ng-click="datePicker.open($event, 'case_date')"><i class="fa fa-calendar"></i></button>
                                                  </span> </p>
                                                <div > </div>
                                              </div>
                                            </div>&ndash;&gt;
                                <div class="form-group animated fadeIn" ng-show="is_case_no">
                                    <label class="col-md-4 control-label ">Other</label>

                                    <div class="col-md-8">
                                        <input ng-readonly="check_hrvalues_readonly" type="text" class="form-control"
                                               placeholder="Enter Details"
                                               ng-model="formData.other_case">

                                        <div></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label ">Reason for Leaving</label>

                                    <div class="col-md-8">
                                        <select ng-disabled="check_hrvalues_readonly"
                                                ng-model="formData.reason_of_leaving"
                                                ng-options="opt as opt.label for opt in resign_type"
                                                class="select2me form-control" id="reason_of_leaving"
                                                ng-change="onChangeResigntype()">
                                            <option></option>
                                        </select>

                                        <div></div>
                                    </div>
                                </div>
                                <div class="form-group animated fadeIn" ng-show="is_leave_other">
                                    <label class="col-md-4 control-label ">Other</label>

                                    <div class="col-md-8">
                                        <input ng-readonly="check_hrvalues_readonly" type="text" class="form-control"
                                               placeholder="Enter Details"
                                               ng-model="formData.other_leave">

                                        <div></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label ">Leaving Date</label>

                                    <div class="col-md-8">&lt;!&ndash; min-date="newD" &ndash;&gt;

                                        <input jqdatepicker class="2date-picker form-control" id="leave_date"
                                               ng-disabled="check_hrvalues_readonly"
                                               ng-model="formData.leave_date" ng-disabled="check_hrvalues_readonly"
                                               ng-change="testdate_by_id('start_date','leave_date','date_msg_leave')"
                                               readonly="">
                                        <span class="fa fa-calendar  new_ca  form-control-feedback"></span>

                                        &lt;!&ndash;<p class="input-group">
                                                              <input readonly="readonly" type="text" class="form-control"
                                                              ng-model="formData.leave_date"
                                                       ng-change="testdate(formData.start_date,formData.leave_date,1)"        id="endDate"
                                                      datepicker-popup="{{datePicker.format}}" datepicker-options="datePicker.options"
                                                      is-open="datePicker.instances['leave_date']"
                                                       close-text="Close"
                                          data-parsley-pattern="/^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}|(?:(0[1-9]|1[012])[\- \/.](0[1-9]|[12][0-9]|3[01])[\- \/.](19|20)[0-9]{2})|[0-9]{4}/(0[1-9]|1[0-2])/(0[1-9]|[1-2][0-9]|3[0-1])$/" />
                                                              <span class="invalid_date" ng-show="msg">invalid_date</span> <span class="input-group-btn">
                                                              <button type="button"  ng-disabled="check_hrvalues_readonly"
                                                      class="btn btn-default" ng-click="datePicker.open($event, 'leave_date')"><i class="fa fa-calendar"></i></button>
                                                              </span> </p>&ndash;&gt;
                                        <span id="date_msg_leave" style="color:#F00; display: none;">Leaving Date is earlier  then Start Date</span> <span
                                                id="date_msg" ng-show="date_msg"
                                                style="color:#F00; display: none;"></span></div>
                                </div>
                            </div>-->
                            <!-- <div class="form-group">
                                <label class="col-md-4 control-label">Assign View Bucket </label>
                                <x-flexi-select x-flexi-select-title="'View Buckets'" x-flexi-select-modal-id="'ViewBucketsModal'" x-flexi-select-output='formData.buckets'
                                    x-flexi-select-data="viewBuckets" x-flexi-select-readonly="check_hrvalues_readonly">
                                </x-flexi-select>
                            </div> -->
                        </div>
                    </div>

                    <div class="col-md-12" style="margin-top: 23px;">
                        <div class="col-md-12">
                            <!--<div class="pull-left"><button class="btn btn-edit" type="button"   ng-controller="ModuleMailController" ng-click="compose_mail()">Compose Mail</button> </div>-->

                            <div class="pull-right">

                                <div class="dropdown ib" ng-show="formData.id>0 &&  hr_general_module>0">
                                    <button class="dte-btn dropdown-toggle" type="button" data-toggle="dropdown">
                                        <i class="dte-ico"></i>
                                    </button>
                                    <ul class="dropdown-menu dte animated fadeIn">
                                        <span ng-click="set_document_internal(hr_general_module,' - General Information')">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i> Add Document</span>
                                        <span>
                                            <i class="fa fa-check" aria-hidden="true"></i> Add Task</span>
                                        <span>
                                            <i class="fa fa-envelope-o" aria-hidden="true"></i> Compose Email</span>
                                    </ul>
                                </div>

                                <button class="btn btn-delete active-btns" type="button" ng-if="formData.id>0 &&  allowdeletehr_gneral==1 && formData.id != userId && !check_hrvalues_readonly" ng-click="deletehrvalues()">
                                    Delete
                                </button>
                                <button class="btn btn-submit pic_block" type="submit" ng-if="!check_hrvalues_readonly && formData.id != userId">
                                    <i class="fa fa-check fa_display"></i> Save
                                </button>
                                <button class="btn btn-edit" type="button" ng-click="showEditForm()" ng-if="check_hrvalues_readonly && allowedithr_gneral==1  && formData.id != userId">
                                    <i class="fa fa-edit fa_display"></i> Edit
                                </button>
                                <button class="btn btn-cancel" type="button" ui-sref="{{btnCancelUrl}}">
                                    <i class="fa fa-undo fa_display"></i> Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 padl6">
        <div class="EmployeeInfo">
            <div class="employee-label" ng-if="formData.user_id.label!='Administrator'" 
            style="background-color:#71b9f3;">
                <i class="fa fa-user-o" aria-hidden="true"></i> {{formData.user_id.label}} </div>

            <div class="employee-label" ng-if="formData.user_id.label=='Administrator'"><i class="fa fa-cog" aria-hidden="true"></i> Admin</div>
            <div ng-controller="DocUploadDocument_single">
                <div class="fileUpload showupload">
                    
                    <span ng-if="!formData.emp_picture"><i class="fa fa-upload" aria-hidden="true"></i></span>
                    <span ng-if="formData.emp_picture"><i class="fa fa-upload" aria-hidden="true" style="color:#2196F3"></i></span>

                    <input  type="file" ngf-select="uploadFiles($file, $invalidFiles, 'employeeProfile')"
                        name="file" accept=".png,.jpeg,.jpg" class="upload" data-max-size="50"/>

                    <input ng-readonly="check_hrvalues_readonly" type="hidden" ng-model="formData.emp_picture">
                    <input ng-readonly="check_hrvalues_readonly" type="hidden" ng-init="formData.emp_picture = formData.emp_picture" ng-model="formData.emp_picture">
                </div>
            </div>

            <i ng-if="!formData.emp_picture" class="material-icons" style="font-size: 81px;color: #dedede;">&#xE853;</i>

            <div ng-if="formData.emp_picture" style="display:inline-block">
                <img class="d1img" ng-style="{'background-image':'url('+ imagePath+formData.emp_picture +')','background-size':'contain','background-position':'center','background-repeat':'no-repeat'}" />
            </div>
            

            <span class="name">
                {{formData.first_name + ' ' + formData.last_name}}
            </span>
            <span class="job">
                {{formData.job_title}}
            </span>
            <span class="email">
                <a href="mailto:{{formData.user_email}}">{{formData.user_email}}</a>
            </span>
            <span class="mobile" ng-if="formData.mobile_phone.length>0">
                <i class="fa fa-mobile" aria-hidden="true"></i>
                <div>{{formData.mobile_phone}}</div>
            </span>
            <span class="skype" ng-if="formData.skype_id.length>0">
                <i class="fa fa-skype" aria-hidden="true"></i>
                <div>{{formData.skype_id}}</div>
            </span>
        </div>
    </div>


</div>
<!--<div ng-include="'app/views/mail/compose_mail.html'"></div>-->