
<div class="modal fade"   id="show_add_folder_image" >
  <div class="modal-dialog"   >
    <div class="modal-content">
      <div class="modal-header"><!--ng-click="reload_popup(4,'folder_pop_type')"-->
        <button type="button" class="close"  data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add Folder </h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="widget">
              <div class="widget-body">
                <div class="row">
                  <div class="col-md-12 col-md-12">
                    <div class="form-group">
                      <label class="col-sm-3 control-label "> Parent </label>
                      <div class="col-sm-7">
                        <select  ng-disabled="check_hrvalues_readonly"   ng-model="formData2.folder_id"
                          ng-options="opt as opt.name for opt in list_folder_sub" id="folder_id"
                          class="select2me form-control"  >
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-3 control-label "> Name </label>
                      <div class="col-sm-7">
                        <input  ng-readonly="check_sub_readonly" required id="name"  type="text"
                        ng-model="formData2.name"  class="form-control" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-submit" type="submit"  ><i class="fa fa-check fa_display"></i>Save</button>
        <button type="button" class="btn btn-cancel"   data-dismiss="modal">Cancel</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
</div>
