<div class="row">
    <div class="col-lg-12">

        <!--   Add   permision for Company User /superadmin -->
        <a id="prompt" ng-click="add_form_price_list()" ng-if="allowadd_supplier_price_tab==1"
           class="btn btn-info btn_blue pull-right margin_bottom"><i class="fa fa-plus"></i> Add New</a>
    </div>
</div>

<!-- Row starts -->
<div class="row" ng-show="ship_column.length > 0">
    <div class="col-lg-12 col-md-12">
        <div class="widget">
            <div class="widget-body ">
                <div id="dt_example" class="example_alt_pagination">
                    <div class="panel panel-default" ng-controller="CrmPriceOfferListingController as table">
                        <!-- <div class="panel-heading">
                     <div class="panel-title">Alt. Contact Listing</div>
                  </div>-->

                        <!--    View    permision for Company User /superadmin -->
                        <table ng-table="table.tableParams5" ng-if="allowviewhr_supplier_price_tab ==1"
                               class="table table-bordered table-striped"
                               show-filter="true">
                            <thead>
                            <tr class="bg-col" ng-show="ship_column.length > 0">
                                <th ng-repeat="column in ship_column"
                                    ng-if="column.title != 'Id' "
                                    ng-show="column.visible" class="sortable sort-asc" ng-class="{ 'sort-asc': table.tableParams5.isSortBy(column.field, 'asc'), 'sort-desc': table.tableParams5.isSortBy(column.field, 'desc')
                  }"
                                    ng-click="table.tableParams5.sorting(column.field, !tableParams.isSortBy(column.field, 'asc') ? 'desc' : 'asc')">
                                    {{column.title}}
                                </th>

                                <th style="width: 11%;">Action</th>
                            </tr>
                            </tr>

                            </thead>
                            <tbody class="table-body">
                            <tr ng-class="{'dont-click':allowedit_supplier_price_tab==0}" ng-repeat="rec in ship_data"
                                ng-show="ship_column.length > 0">
                                <td ng-repeat="column in ship_column" ng-show="column.visible"
                                    ng-click="edit_form_price_list(rec.id)" sortable="column.field"
                                    ng-if="column.title != 'Id' "
                                        >{{rec[column.field]}}
                                </td>
                                <td class="text-left " ng-show="ship_column.length > 0">

                                    <!--   Edit    permision for Company User /superadmin -->
                                    <a ng-click="edit_form_price_list(rec.id)" title="Edit"
                                       ng-class="{'dont-click':allowedit_supplier_price_tab==0}"
                                       class="btn btn-primary icon_square"><i class="fa fa-edit"></i></a>

                                    <!--    Delete   permision for Company User /superadmin -->
                                    <a ng-click="delete_price_list(rec.id,$index,ship_data)" title="Delete"
                                       ng-if="allowdeletehr_supplier_price_tab==1"
                                       class="btn btn-primary icon_square"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                            <!--<tr ng-show="!ship_data">
                              <td class="text-center" colspan="{{ship_column.length+1}}">No record found!</td>
                            </tr>-->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
