<div class="row">

<div class="col-md-12 col-md-12">
<div class="widget" style="background:none;">
<!-- <div class="widget-header">
  <div class="title">
    Add Company General Information
  </div>
 
</div> -->
<div class="widget-body" style="background:none;"> 
<form autocomplete="off" name="alt_contact"  ng-controller="AltDepotAddController" ng-submit="add(rec)" class="form-horizontal" role="form" >
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label class="col-md-4 control-label">Location Name <span class="required">*</span></label>
        <div class="col-md-8">
          <input type="text" ng-model="rec.depot" id="depot" class="form-control"  ng-disabled ="check_readonly" tabindex="1" name="depot"  required  />
          <input type="hidden" ng-model="rec.id" id="update_id" class="form-control"/>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="col-md-4 control-label">Contact Person</label>
        <div class="col-md-8">
          <input type="text" ng-model="rec.contact_name" id="contact_name" class="form-control"  ng-disabled ="check_readonly" tabindex="8"    />
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label class="col-md-4 control-label">Address </label>
        <div class="col-md-8">
          <input type="text" ng-model="rec.address" id="address" class="form-control"  ng-disabled ="check_readonly" tabindex="2"   />
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="col-md-4 control-label">Job Title</label>
        <div class="col-md-8">
          <input type="text" ng-model="rec.role" id="role" class="form-control"  ng-disabled ="check_readonly" tabindex="9" />
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label class="col-md-4 control-label">Address 2</label>
        <div class="col-md-8">
          <input type="text" ng-model="rec.address_2" id="address_2" class="form-control"  ng-disabled ="check_readonly" tabindex="3" />
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="col-md-4 control-label">Direct Line</label>
        <div class="col-md-8">
          <input type="text" ng-model="rec.direct_line" id="direct_line" class="form-control"  ng-disabled ="check_readonly" tabindex="9" />
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label class="col-md-4 control-label">City</label>
        <div class="col-md-8">
          <input type="text" ng-model="rec.city" id="city" class="form-control"  ng-disabled ="check_readonly" tabindex="4"   />
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="col-md-4 control-label">Telephone  </label>
        <div class="col-md-8">
          <input type="text" ng-model="rec.telephone" id="telephone" class="form-control"  ng-disabled ="check_readonly" tabindex="10"   />
        </div>
      </div>
    </div>

  </div>
  
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label class="col-md-4 control-label">County </label>
        <div class="col-md-8">
          <input type="text" ng-model="rec.county" id="county" class="form-control"  ng-disabled ="check_readonly" tabindex="5"   />
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="col-md-4 control-label">Fax </label>
        <div class="col-md-8">
          <input type="text" ng-model="rec.fax" id="fax" class="form-control"  ng-disabled ="check_readonly" tabindex="11"   />
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label class="col-md-4 control-label">Postcode </label>
        <div class="col-md-8">
          <input type="text" ng-model="rec.postcode" id="postcode" class="form-control"  ng-disabled ="check_readonly" tabindex="6" />
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="col-md-4 control-label">Mobile</label>
        <div class="col-md-8">
          <input type="text" ng-model="rec.mobile" id="mobile" class="form-control"  ng-disabled ="check_readonly" tabindex="12"   />
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label class="col-md-4 control-label">Country </label>
        <div class="col-md-8">
          <select ng-model="depo_country_id" ng-options="opt as opt.name for opt in countries" class="select2me form-control"  ng-disabled ="check_readonly" tabindex="7">
          </select>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="col-md-4 control-label">Email </label>
        <div class="col-md-8">
          <input type="text" ng-model="rec.email" id="email" class="form-control"  ng-disabled ="check_readonly" tabindex="13"  data-parsley-type="email" />
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="row">
  	<div class="col-md-12">
    	 
        <p> 
        	<button aria-controls="collapseExample" aria-expanded="false" data-target="#collapseExample" data-toggle="collapse" type="button" class="btn btn-link collapsed"> Button with data-target </button>
        </p> 
       		<div id="collapseExample" class="collapse" aria-expanded="false" style="height: 0px;"> 
        	<div class="well"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. </div>
        	</div>
        
    </div>
  </div>
  
  

<accordion close-others="oneAtATime" ng-if="!tabHide">
   <accordion-group is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
      <accordion-heading>
      <span>Goods In Detail&nbsp;&nbsp;<em class="fa" ng-class="{'fa-chevron-down': !isOpen, 'fa-chevron-up': isOpen}"></em></span>
     </accordion-heading>
        <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label class="col-md-4 control-label">Contact Name </label>
        <div class="col-md-8">
          <input type="text" ng-model="rec.book_in_contact" id="book_in_contact" class="form-control"  ng-disabled ="check_readonly" 
                        tabindex="14"   />
        </div>
      </div>
    </div>
    <div class="col-md-6">
    <div class="form-group">
      <label class="col-md-4 control-label">Start Time </label>
      <div class="col-md-3">
        <input type="text" ng-model="rec.booking_start_time" id="start_time" class="form-control"  ng-disabled ="check_readonly" 
                        tabindex="18"   />
      </div>
      <label class="col-md-2 control-label">End Time </label>
        <div class="col-md-3">
          <input type="text" ng-model="rec.booking_end_time" id="end_time" class="form-control"  ng-disabled ="check_readonly" 
                          tabindex="19"   />
        </div>
    </div>
  </div>
    
  </div>
  
  <div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label class="col-md-4 control-label">Telephone  </label>
      <div class="col-md-8">
        <input type="text" ng-model="rec.book_in_tel" id="book_in_tel" class="form-control"  ng-disabled ="check_readonly" 
                        tabindex="15"   />
      </div>
    </div>
     <div class="form-group">
        <label class="col-md-4 control-label">Email </label>
        <div class="col-md-8">
          <input type="text" ng-model="rec.book_in_email" id="book_in_email" class="form-control"  ng-disabled ="check_readonly" 
                        tabindex="16"   />
        </div>
      </div>
    </div>
  <div class="col-md-6">
    <div class="form-group">
      <label class="col-md-4 control-label">Instructions</label>
      <div class="col-md-8" style="position:relative;">
        <textarea  style="height:83px;" ng-change="showWordsLimits()" ng-model="rec.booking_instructions" id="booking_instructions" class="form-control"  ng-disabled ="check_readonly" 
                        tabindex="17" maxlength="100"  /></textarea>
        <span class="word-counter">{{wordsLength}}/100</span> 
    </div>
  </div>
  </div>
  </div>
   </accordion-group>
</accordion>

  
  
  <div class="row">
                <div class="col-md-12">
                  <div class="hr_line2"></div>
                      <div class="pull-right">
                      <button class="btn btn-info btn_blue" type="submit" ng-if="!check_readonly"><i class="fa fa-check"></i> Submit</button>
                      <button class="btn btn-info btn_blue" type="button" ng-click="showAltDepotEditForm()" ng-if="check_readonly"><i class="fa fa-edit"></i> Edit</button>
                      <button class="btn default" type="button" ng-click="showAltDepotListing()"><i class="fa fa-undo"></i> Cancel</button>
                      </div>
                </div>
                </div>
</form>
</div>
</div>
</div>
