<div class="modal fade" id="modal_method">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="reload_popup(1,'modal_method')" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Method </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="widget">
                            <div class="widget-body">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label "> Name <span class="required">*</span></label>

                                            <div class="col-sm-7">
                                                <input ng-readonly="check_readonly" required id="name" type="text"
                                                       ng-model="formData6.name" class="form-control"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-submit" type="submit"><i class="fa fa-check fa_display"></i> Save</button>
                <button type="button" class="btn btn-cancel" ng-click="reload_popup(1,'modal_method')">Cancel</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>
