<div class="row">
    <div class="col-lg-12"><a id="prompt" ng-click="document_add_Form()"
                              class="btn btn_add pull-right margin_bottom"><i
            class="fa fa-plus fa_display"></i> Add New</a></div>
</div>

<!-- Row starts -->
<div class="row" ng-show="columns_doc.length > 0">
    <div class="col-lg-12 col-md-12">
        <div class="widget">
            <div class="widget-body ">
                <div id="dt_example" class="example_alt_pagination">
                    <div class="panel panel-default">
                        <table ng-table="table.tableParams5" class="table table-bordered table-striped"
                               show-filter="true">
                            <thead>
                            <tr class="bg-col" ng-show="columns_doc.length > 0">
                                <th ng-repeat="column in columns_doc"
                                    ng-if="	column.title != 'Id' && column.title != 'Image' "> {{column.title}}
                                </th>
                                <th style="width: 11%;">Action</th>
                            </tr>
                            </thead>
                            <tbody class="table-body">
                            <tr ng-repeat="record in data_doc" ng-show="columns_doc.length > 0">
                                <td ng-repeat="column in columns_doc" ng-click="editdocumentForm(record.id)"
                                    ng-if="column.title != 'Id' && column.title != 'Image'"> {{record[column.field]}}
                                </td>
                                <td><span ng-if=" record.image !='' "> <a title="View" target="_blank"  download="{{record.image}}"
                                                                          href="{{imagePath+record.image}}"
                                                                          class="tooltips_clss btn"> <i
                                        class="fa fa-eye"> </i></a> </span> <a title="Edit"
                                                                               ng-click="editdocumentForm(record.id)"
                                                                               class="tooltips_clss btn"> <i
                                        class="fa fa-edit"> </i></a> <a title="Delete"
                                                                        ng-click="deletedocument(record.id,$index,data_doc)"
                                                                        class="tooltips_clss btn"><i
                                        class="fa fa-times"> </i></a></td>
                            </tr>

                            <!--<tr ng-repeat="rec in data_doc" ng-show="columns_doc.length > 0" >
                              <td ng-repeat="column in columns_doc"  ng-click="detail(rec.id)" sortable="column.field"  ng-if="column.field != 'Size'">  {{rec[column.title]}} </td>
                              <td ng-repeat="column in columns_doc"  sortable="column.field" ng-if="column.field == 'Size'"> {{rec[column.title] | sizeConverter}} </td>
                              <td class="text-left "   ng-show="columns_doc.length > 0"><a target="_blank" href="{{basePath+'upload/sales/crm/'+rec.name}}" title="View" class="btn"><em class="fa fa-eye"></em></a>


                                <a ng-click="editForm(rec.id)" title="Edit" class="btn"><i class="fa fa-edit"></i></a> <a ng-click="delete(rec.id,$index,data_doc)" title="Delete" class="btn"><i class="fa fa-times"></i></a></td>
                            </tr>-->
                            <!-- <tr ng-show="columns_doc.length == 0">
                               <td>No record found!</td>
                             </tr>-->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
