
<div class="row">
  <div class="col-lg-12">
    <ol class="breadcrumb">
      <li><a data-target="#"><i class="fa fa-cog"></i> Mail</a></li>
      <!--<li class="active">Page</li>-->
    </ol>
  </div>
</div>
<div class="row" >
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-2">
        <a href="" class="btn btn-compose" data-toggle="modal" data-target="#compose">Compose</a>

        <div class="mailbox">
          <div class="box-header">
            <div class="box-title">
            Folders
            </div>
          </div>

          <div class="box-body no-padding">
              <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#"><img src="app/img/entypo/mail.svg" class="mailbox-icon"> Inbox
                  <span class="label label-primary pull-right">12</span></a></li>
                <li><a href="#"><img src="app/img/entypo/log-out.svg" class="mailbox-icon"> Sent</a></li>
                <li><a href="#"><img src="app/img/entypo/text-document.svg" class="mailbox-icon"> Drafts</a></li>
                <li><a href="#"><img src="app/img/entypo/tools.svg" class="mailbox-icon"> Junk <span class="label label-warning pull-right">65</span></a>
                </li>
                <li><a href="#"><img src="app/img/entypo/trash.svg" class="mailbox-icon"> Trash</a></li>
                <li><a href="#"><img src="app/img/entypo/archive.svg" class="mailbox-icon"> Archive</a></li>
                <li><a href="#"> <img src="app/img/entypo/folder.svg" class="mailbox-icon">  Add Folders </a></li>
                <li><a href="#" data-toggle="collapse" data-target="#of">Office Folders</a>
                <ul id="of" class="collapse">
                  <li>Folder 1</li>
                </ul>
              </ul>
            </div>
        </div>
      </div>
      <div class="col-md-10">
        <div class="mailbox" style="    border-top: 2px solid #ef8e8e;">
          <div class="box-header">
            <div class="box-title">
              Inbox
            </div>
            <div class="box-tools pull-right">
                <div class="has-feedback">
                  <input type="text" class="form-control input-sm" placeholder="Search Mail">
                  <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
            </div>
          </div>
          <div class="box-body no-padding">
              <div class="table-responsive mailbox-messages">
                <table class="table table-hover table-striped">
                  <tbody>
                  <tr>
                    <td><div class="icheckbox_flat-blue" aria-checked="false" aria-disabled="false" style="position: relative; left:6px;"><input type="checkbox" style="position:"><ins class="iCheck-helper" style="position: top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></td>
                    <td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                    <td class="mailbox-name"><a href="#">Farhan Afzal</a></td>
                    <td class="mailbox-subject"><b>Navson Launch Schedule</b> - Trying to find a solution to this problem...
                    </td>
                    <td class="mailbox-attachment"></td>
                    <td class="mailbox-date">5 mins ago</td>
                  </tr>
                  <tr>
                    <td><div class="icheckbox_flat-blue" aria-checked="false" aria-disabled="false" style="position: relative; left:6px;"><input type="checkbox" style="position:"><ins class="iCheck-helper" style="position: top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></td>
                    <td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
                    <td class="mailbox-name"><a href="#">Farhan Afzal</a></td>
                    <td class="mailbox-subject"><b>Navson Launch Schedule</b> - Trying to find a solution to this problem...
                    </td>
                    <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                    <td class="mailbox-date">28 mins ago</td>
                  </tr>
                  <tr>
                    <td><div class="icheckbox_flat-blue" aria-checked="false" aria-disabled="false" style="position: relative; left:6px;"><input type="checkbox" style="position:"><ins class="iCheck-helper" style="position: top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></td>
                    <td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
                    <td class="mailbox-name"><a href="#">Farhan Afzal</a></td>
                    <td class="mailbox-subject"><b>Navson Launch Schedule</b> - Trying to find a solution to this problem...
                    </td>
                    <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                    <td class="mailbox-date">11 hours ago</td>
                  </tr>
                  <tr>
                    <td><div class="icheckbox_flat-blue" aria-checked="false" aria-disabled="false" style="position: relative; left:6px;"><input type="checkbox" style="position:"><ins class="iCheck-helper" style="position: top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></td>
                    <td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                    <td class="mailbox-name"><a href="#">Farhan Afzal</a></td>
                    <td class="mailbox-subject"><b>Navson Launch Schedule</b> - Trying to find a solution to this problem...
                    </td>
                    <td class="mailbox-attachment"></td>
                    <td class="mailbox-date">15 hours ago</td>
                  </tr>
                  <tr>
                    <td><div class="icheckbox_flat-blue" aria-checked="false" aria-disabled="false" style="position: relative; left:6px;"><input type="checkbox" style="position:"><ins class="iCheck-helper" style="position: top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></td>
                    <td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                    <td class="mailbox-name"><a href="#">Farhan Afzal</a></td>
                    <td class="mailbox-subject"><b>Navson Launch Schedule</b> - Trying to find a solution to this problem...
                    </td>
                    <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                    <td class="mailbox-date">Yesterday</td>
                  </tr>
                  <tr>
                    <td><div class="icheckbox_flat-blue" aria-checked="false" aria-disabled="false" style="position: relative; left:6px;"><input type="checkbox" style="position:"><ins class="iCheck-helper" style="position: top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></td>
                    <td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
                    <td class="mailbox-name"><a href="#">Farhan Afzal</a></td>
                    <td class="mailbox-subject"><b>Navson Launch Schedule</b> - Trying to find a solution to this problem...
                    </td>
                    <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                    <td class="mailbox-date">2 days ago</td>
                  </tr>
                  <tr>
                    <td><div class="icheckbox_flat-blue" aria-checked="false" aria-disabled="false" style="position: relative; left:6px;"><input type="checkbox" style="position:"><ins class="iCheck-helper" style="position: top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></td>
                    <td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
                    <td class="mailbox-name"><a href="#">Farhan Afzal</a></td>
                    <td class="mailbox-subject"><b>Navson Launch Schedule</b> - Trying to find a solution to this problem...
                    </td>
                    <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                    <td class="mailbox-date">2 days ago</td>
                  </tr>
                  <tr>
                    <td><div class="icheckbox_flat-blue" aria-checked="false" aria-disabled="false" style="position: relative; left:6px;"><input type="checkbox" style="position:"><ins class="iCheck-helper" style="position: top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></td>
                    <td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                    <td class="mailbox-name"><a href="#">Farhan Afzal</a></td>
                    <td class="mailbox-subject"><b>Navson Launch Schedule</b> - Trying to find a solution to this problem...
                    </td>
                    <td class="mailbox-attachment"></td>
                    <td class="mailbox-date">2 days ago</td>
                  </tr>
                  <tr>
                    <td><div class="icheckbox_flat-blue" aria-checked="false" aria-disabled="false" style="position: relative; left:6px;"><input type="checkbox" style="position:"><ins class="iCheck-helper" style="position: top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></td>
                    <td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                    <td class="mailbox-name"><a href="#">Farhan Afzal</a></td>
                    <td class="mailbox-subject"><b>Navson Launch Schedule</b> - Trying to find a solution to this problem...
                    </td>
                    <td class="mailbox-attachment"></td>
                    <td class="mailbox-date">2 days ago</td>
                  </tr>
                  <tr>
                    <td><div class="icheckbox_flat-blue" aria-checked="false" aria-disabled="false" style="position: relative; left:6px;"><input type="checkbox" style="position:"><ins class="iCheck-helper" style="position: top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></td>
                    <td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
                    <td class="mailbox-name"><a href="#">Farhan Afzal</a></td>
                    <td class="mailbox-subject"><b>Navson Launch Schedule</b> - Trying to find a solution to this problem...
                    </td>
                    <td class="mailbox-attachment"></td>
                    <td class="mailbox-date">2 days ago</td>
                  </tr>
                  <tr>
                    <td><div class="icheckbox_flat-blue" aria-checked="false" aria-disabled="false" style="position: relative; left:6px;"><input type="checkbox" style="position:"><ins class="iCheck-helper" style="position: top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></td>
                    <td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
                    <td class="mailbox-name"><a href="#">Farhan Afzal</a></td>
                    <td class="mailbox-subject"><b>Navson Launch Schedule</b> - Trying to find a solution to this problem...
                    </td>
                    <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                    <td class="mailbox-date">4 days ago</td>
                  </tr>
                  <tr>
                    <td><div class="icheckbox_flat-blue" aria-checked="false" aria-disabled="false" style="position: relative; left:6px;"><input type="checkbox" style="position:"><ins class="iCheck-helper" style="position: top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></td>
                    <td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                    <td class="mailbox-name"><a href="#">Farhan Afzal</a></td>
                    <td class="mailbox-subject"><b>Navson Launch Schedule</b> - Trying to find a solution to this problem...
                    </td>
                    <td class="mailbox-attachment"></td>
                    <td class="mailbox-date">12 days ago</td>
                  </tr>
                  <tr>
                    <td><div class="icheckbox_flat-blue" aria-checked="false" aria-disabled="false" style="position: relative; left:6px;"><input type="checkbox" style="position:"><ins class="iCheck-helper" style="position: top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></td>
                    <td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
                    <td class="mailbox-name"><a href="#">Farhan Afzal</a></td>
                    <td class="mailbox-subject"><b>Navson Launch Schedule</b> - Trying to find a solution to this problem...
                    </td>
                    <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                    <td class="mailbox-date">12 days ago</td>
                  </tr>
                  <tr>
                    <td><div class="icheckbox_flat-blue" aria-checked="false" aria-disabled="false" style="position: relative; left:6px;"><input type="checkbox" style="position:"><ins class="iCheck-helper" style="position: top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></td>
                    <td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                    <td class="mailbox-name"><a href="#">Farhan Afzal</a></td>
                    <td class="mailbox-subject"><b>Navson Launch Schedule</b> - Trying to find a solution to this problem...
                    </td>
                    <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                    <td class="mailbox-date">14 days ago</td>
                  </tr>
                  <tr>
                    <td><div class="icheckbox_flat-blue" aria-checked="false" aria-disabled="false" style="position: relative; left:6px;"><input type="checkbox" style="position:"><ins class="iCheck-helper" style="position: top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></td>
                    <td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                    <td class="mailbox-name"><a href="#">Farhan Afzal</a></td>
                    <td class="mailbox-subject"><b>Navson Launch Schedule</b> - Trying to find a solution to this problem...
                    </td>
                    <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                    <td class="mailbox-date">15 days ago</td>
                  </tr>
                  </tbody>
                </table>
                <!-- /.table -->
              </div>
              <!-- /.mail-box-messages -->
            </div>
        </div>
      </div>
  </div>
  </div>
</div>

<div id="compose" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">New Message</h4>
      </div>
      <div class="modal-body" style="padding:0px;">
        <div class="recipients b-b-g">
          <input type="email" placeholder="Recipients" class="form-control">
        </div>
        <div class="message-subject b-b-g">
          <input type="Text" placeholder="Subject" class="form-control">
        </div>
        <div class="message-area b-b-g">
          <textarea class="form-control" rows="10" placeholder="Message"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
