<div class="row">
    <div class="col-md-12 col-md-12">
        <div class="widget" style="background:none;">
            <!-- <div class="widget-header"> commented
                          <div class="title">
                            Add Company General Information
                          </div>
                        </div> -->
            <div class="widget-body" style="background:none;">
                <!-- div style="margin-bottom:2px;" ng-show="check_cust_readonly">
                                <div style="text-align:right; margin:0px 0px 5px;">
                                 <button type="Edit" class="btn btn-warning btn-sm" ng-click="gotoEdit()"><em class="fa fa-edit fa-fw mr-edit"></em>Edit</button>
                                 <button type="Delete" class="btn btn-danger btn-sm"  ng-click="delete({id:id})"><em class="fa fa-trash fa-fw mr-edit"></em>Delete</button>
                              </div>
                            </div> -->
                <!-- <div style="margin-bottom:3px;" ng-show="!check_cust_readonly">
                                <div style="text-align:right;">
                                 <button type="button" class="btn btn-primary ng-scope pull-right btn-btnn" ng-click="addNew()"><em class="fa fa-plus-circle fa-fw mr-sm"></em>Add New</button>
                                </div>
                              </div> -->

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel-title2">General</div>
                        <div class="col-md-5">

                            <div class="form-group">
                                <label class="col-md-4 control-label">Customer No. <span ng-if="moduleCodeType == 1"
                                          class="required">*</span></label>

                                <div class="col-md-8">
                                    <input type="text" ng-model="rec.customer_code" class="form-control ng-pristine ng-untouched ng-valid" ng-if="moduleCodeType == 0" ng-readonly="product_type || rec.id > 0">
                                    <input type="text" class="form-control" ng-model="rec.customer_code" ng-readonly="check_cust_readonly" required ng-if="moduleCodeType == 1" />


                                    <input type="hidden" ng-model="rec.code_type" class="ng-pristine ng-untouched ng-valid">
                                    <input type="hidden" ng-model="rec.customer_no" class="form-control ng-pristine ng-untouched ng-valid">
                                </div>

                                <!-- <div class="col-md-8">
                                <input type="text" id="code" ng-model="code" class="form-control" readonly="readonly" tabindex="1"    />
                                <input type="hidden" id="customer_no" ng-model="rec.customer_no" class="form-control"/>
                                </div> -->
                            </div>
                            <div class="form-group">
                                <input type="hidden" id="id" ng-model="rec.id" class="form-control" />
                                <label class="col-md-4 control-label">Name
                                    <span class="required">*</span>
                                </label>

                                <div class="col-md-8">
                                    <input type="text" ng-model="rec.name" id="name" class="form-control" ng-readonly="check_cust_readonly" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Address Line 1</label>
                                <div class="col-md-8">
                                    <input type="text" ng-model="rec.address_1" id="address" class="form-control" ng-readonly="check_cust_readonly" placeholder="Address Line 1" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Address Line 2</label>
                                <div class="col-md-8">
                                    <input type="text" ng-model="rec.address_2" id="address_2" class="form-control" ng-readonly="check_cust_readonly" placeholder="Address Line 2" />
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-md-offset-4 padr6" title="City">
                                    <input type="text" ng-model="rec.city" id="city" class="form-control" ng-readonly="check_cust_readonly" placeholder="City">
                                </div>
                                <div class="col-md-4 padl6" title="County">
                                    <input type="text" ng-model="rec.county" id="county" class="form-control" ng-readonly="check_cust_readonly" placeholder="County">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-md-offset-4 padr6" title=" Postcode">
                                    <input type="text" ng-model="rec.postcode" id="postcode" class="form-control crm-postcode " ng-readonly="check_cust_readonly" placeholder="Postcode">
                                </div>
                                <div class="col-md-4 padl6">
                                    <ui-select ng-model="drp.country_id" ng-disabled="check_cust_readonly">
                                        <ui-select-match placeholder="Select Country">{{$select.selected.name}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="opt in country_type_arr | filter: $select.search">
                                            <div ng-bind-html="opt.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Telephone</label>
                                <div class="col-md-8">
                                    <input type="text" ng-model="rec.phone" id="phone" class="form-control" ng-readonly="check_cust_readonly">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Company Email</label>
                                <div class="col-md-8">
                                    <input type="email" ng-model="rec.email" id="phone" class="form-control" placeholder="info@company.com" ng-readonly="check_cust_readonly">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Fax</label>
                                <div class="col-md-8">
                                    <input type="text" ng-model="rec.fax" id="fax2" class="form-control" ng-readonly="check_cust_readonly">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Web</label>
                                <div class="col-md-8">
                                    <div class="input-symbol">

                                        <!-- condition to create link only in view mode if link exists.  -->
                                        <a href='{{rec.web_address}}' ng-if="rec.web_address.length>7 && check_cust_readonly" target='_blank' class="showpointer">
                                            <input type="text" ng-model="rec.web_address" id="web_address" class="form-control" ng-readonly="check_cust_readonly" ng-blur="set_link()" placeholder="https://" />
                                            <span>
                                                <i class="fa fa-external-link-square"
                                                   aria-hidden="true"></i>
                                            </span>
                                        </a>

                                        <!-- condition to not create a link only in view mode if no link exists.  -->
                                        <input type="text" ng-if="(rec.web_address.length==7 || rec.web_address.length==0) && check_cust_readonly" ng-model="rec.web_address" id="web_address" class="form-control" ng-readonly="check_cust_readonly" ng-blur="set_link()" placeholder="https://" />

                                        <!-- condition to not create a link only in Add/Edit mode.  -->
                                        <input type="text" ng-if="!check_cust_readonly" ng-model="rec.web_address" id="web_address" class="form-control" ng-readonly="check_cust_readonly" ng-blur="set_link()" placeholder="https://" />

                                    </div>
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Location Type</label>
                                <div class="col-md-8 pl0" style="margin-top: 2px;">
                                    <div class="col-md-4">
                                        <div class="pure-checkbox">
                                            <input type="checkbox" name="a" ng-model="rec.is_billing_address" ng-disabled="check_cust_readonly" id="genis_billing_address" ng-checked="rec.primary_is_billing_address > 0">
                                            <label for="genis_billing_address">Billing</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4 pl0">
                                        <div class="pure-checkbox">
                                            <input type="checkbox" name="c" ng-model="rec.is_invoice_address" ng-disabled="check_cust_readonly" id="genis_invoice_address" ng-checked="rec.primary_is_invoice_address > 0" class="">
                                            <label for="genis_invoice_address">Payment</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4 pl0">
                                        <div class="pure-checkbox">
                                            <input type="checkbox" name="b" ng-model="rec.is_delivery_collection_address" ng-disabled="check_cust_readonly" id="genis_delivery_collection_address" ng-checked="rec.primary_is_delivery_collection_address > 0" class="">
                                            <label for="genis_delivery_collection_address">Delivery</label>
                                        </div>
                                    </div>
                                    <!-- <div class="col-md-3">
                                                <div class="pure-checkbox">
                                                    <input type="checkbox" name="b" ng-model="rec.is_delivery_collection_address" ng-disabled="check_cust_readonly" id="genis_delivery_collection_address"
                                                        ng-checked="rec.primary_is_delivery_collection_address > 0" class="">
                                                    <label for="genis_delivery_collection_address">Default Delivery</label>
                                                </div>
                                            </div> -->
                                </div>
                            </div>
                            <!-- <div class="form-group">
                                <label class="col-md-4 control-label">View Bucket</label>

                                <div class="col-md-8">

                                    <ui-select ng-if="allowChangeBucket"
                                               ng-model="selectedSalesBucket.obj"
                                               ng-disabled="check_cust_readonly">
                                        <ui-select-match placeholder="Select View Bucket">{{$select.selected.name}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="opt in SaleBucketList | filter: $select.search">
                                            <div ng-bind-html="opt.name| highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>


                                    <div ng-if="!allowChangeBucket"
                                         title="{{SelBucketTooltip}}">
                                        <div class="panel-info pi2 dont-click readonly"
                                             ng-class="{'max-height':bucket_selected_array.length>5}">
                                            <div class="panel-body"
                                                 ng-click="!check_cust_readonly && getbucket_array(0)"
                                                 ng-class="{'dont-click readonly':check_cust_readonly}">
                                                <span ng-repeat="sp in bucket_selected_array track by $index">
                                                    <span ng-if="$index == 0">
                                                        <span>{{sp.name}}</span>
                                                    </span>
                                                    <span ng-if="$index > 0"> 
                                                        <span>;&nbsp;{{sp.name}}</span>
                                                    </span>
                                                </span>
                                                <aside>
                                                </aside>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <!-- <div ng-if="bucket_selected_array.length >0"
                                 class="form-group">
                                <label class="col-md-4 control-label">Salesperson </label>

                                <div class="col-md-8">

                                    <div title="{{sel_SalePersons_tooltip}}">
                                        <div class="panel-info pi2 dont-click readonly"
                                             ng-click="getSalePersons_general(0)"
                                             ng-class="{'max-height':selectedSalespersons.length>5}">
                                            <div class="panel-body">
                                                <span ng-repeat="sp in selectedSalespersons | orderBy: '-isPrimary' track by $index">
                                                    <span>
                                                        <span ng-class="{'text-primary':sp.isPrimary}">{{sp.name.trim()}};&nbsp;</span>
                                                    </span>
                                                </span>
                                                <aside></aside>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->

                            <div class="form-group">
                                <label class="col-md-4 control-label">Salesperson <!-- Code --> </label>
                                <div class="col-md-8">

                                    <div class="input-symbol">
                                        <input type="text" ng-click="get_empl_list('saleperson_code')" ng-model="rec.saleperson_code" id="saleperson_code" class="form-control" ng-disabled="check_cust_readonly" />
                                        <input type="hidden" ng-model="rec.saleperson_code_id" id="saleperson_code_id" class="form-control" ng-readonly="check_srm_readonly" />
                                        <span>
                                            <i class="fa fa-external-link"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-md-4 control-label">Status
                                    <span class="required">*</span>
                                </label>

                                <div class="col-md-8">
                                    <ui-select ng-model="drp.status_id" ng-disabled="check_cust_readonly" ng-class="{'not-click-allow':disableClass > 0}" ng-change="addNewPredefinedPopup(drp.status_id, 'STATUS', 'Status', drp)">
                                        <ui-select-match placeholder="Select Status">{{$select.selected.title}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="opt in rec.arr_crm_status | filter: $select.search">
                                            <div ng-bind-html="opt.title| highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <!-- <div class="col-md-2 adj-btn">
                                    <button class="btn btn-icon pull-right" type="button" title="Status History" ng-click="historytype('Status')" ng-disabled="check_cust_readonly">
                                        <i class="fa fa-history" aria-hidden="true"></i>
                                    </button>
                                </div> -->
                            </div>


                            <!--<div class="form-group">
                            <label class="col-md-4 control-label">Previous Customer Code </label>

                            <div class="col-md-8">
                            <input type="text" ng-model="rec.prev_code" id="prev_code" class="form-control"
                            ng-readonly="check_cust_readonly"/>
                            </div>
                            </div>-->
                        </div>
                        <div class="col-md-5 col-md-offset-2">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Credit Rating
                                    <!--<span class="required">*</span>-->
                                </label>

                                <div class="col-md-8">

                                    <ui-select ng-model="rec.credit_rating" ng-disabled="check_cust_readonly" ng-class="{'not-click-allow':disableClass > 0}" ng-change="addNewPredefinedPopup(rec.credit_rating, 'CREDIT_RATING', 'Credit Rating', drp)">
                                        <ui-select-match placeholder="Select Credit Rating">{{$select.selected.title}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="opt in rec.arr_crm_credit_rating | filter: $select.search">
                                            <div ng-bind-html="opt.title | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Credit Limit </label>

                                <div class="col-md-4 padr6">
                                    <div class="input-symbol">
                                        <input type="text" ng-if="!check_cust_readonly" ng-model="rec.credit_limit" id="credit_limit" class="form-control" />
                                        <!-- <span> {{drp.currency.code}} </span> -->
                                        <div class="form-control readonlydiv" ng-if="check_cust_readonly">
                                            {{rec.credit_limit | currency:""}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 padl6">
                                    <ui-select ng-model="drp.currency" ng-disabled="check_cust_readonly" ng-class="{'not-click-allow':disableClass > 0}" ng-change="addNewCurrencyPopup(drp)">
                                        <ui-select-match placeholder="Select Currency">
                                            {{$select.selected.code}}
                                        </ui-select-match>
                                        <!--name-->
                                        <ui-select-choices repeat="opt in arr_currency | filter: $select.search">
                                            <div ng-bind-html="opt.code | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Ownership Type</label>
                                <div class="col-md-8">
                                    <ui-select ng-model="rec.ownership_type" ng-disabled="check_cust_readonly" ng-class="{'not-click-allow':disableClass > 0}" ng-change="addNewPredefinedPopup(rec.ownership_type, 'OWNER', 'Owner', drp)">
                                        <ui-select-match placeholder="Select Ownership Type">
                                            {{$select.selected.label}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="opt in arr_type_of_Business | filter: $select.search">
                                            <div ng-bind-html="opt.label | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">No. Of Employee(s)</label>

                                <div class="col-md-2 padr6">
                                    <input type="number" class="form-control" pattern="^(0|[1-9][0-9]*)$" ng-readonly="check_cust_readonly" ng-model="rec.emp_no" data-parsley-trigger="keyup" data-parsley-minlength-message="Invalid Value" data-parsley-type-message="Invalid Value" data-parsley-error-message="Please enter numeric values only"
                                    />
                                    <!-- data-parsley-pattern="/^(?=.*[1-9])\d{0,25}(?:\.\d{0,25})?$/"-->
                                </div>
                                <label class="col-md-2 control-label pt7">Turnover</label>

                                <div class="col-md-4 padl6">
                                    <div class="input-symbol">

                                        <input ng-if="!check_cust_readonly" type="number" class="form-control" pattern="^[$\-\s]*[\d\,]*?([\.]\d{0,4})?\s*$" ng-model="rec.turnover" ng-readonly="check_cust_readonly" data-parsley-trigger="keyup" data-parsley-minlength-message="Invalid Value"
                                            data-parsley-type-message="Invalid Value" data-parsley-error-message="Invalid Value" />
                                        <!--[0-9]+([\.,][0-9]+)*-->
                                        <!--check_readonly_opp-->
                                        <input ng-if="check_cust_readonly" type="text" class="form-control" disabled>
                                        <span ng-if="check_cust_readonly" style="position: absolute;left: 7px;font-size: 11px;    color: black;">{{rec.turnover |
                                            currency : "" }}</span>
                                        <span>
                                            <!--     {{drp.currency.code}} -->{{drp.currency.code}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" title="Company Registration No.">Company Reg. No. </label>

                                <div class="col-md-2 padr6">
                                    <input type="text" ng-model="rec.company_reg_no" id="company_reg_no" class="form-control" ng-readonly="check_cust_readonly" />
                                </div>

                                <label class="col-md-2 control-label pt7" title="Date of Incorporation">Date Of Inc. </label>
                                <div class="col-md-4  padl6">
                                    <div class="input-symbol">
                                        <input jqdatepicker class="2date-picker form-control " id="date_of_inc" ng-model="rec.date_of_inc" ng-class="{'pickdate':!check_cust_readonly}" readonly="check_cust_readonly" ng-disabled="check_cust_readonly">
                                        <span class="fa fa-calendar"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label blue-label">Segment <span class="required">*</span></label>

                                <div class="col-md-8">
                                    <ui-select ng-model="drp.crm_segment_id" ng-disabled="check_cust_readonly" ng-class="{'not-click-allow':disableClass > 0}" ng-change="addNewPredefinedPopup(drp.crm_segment_id, 'SEGMENT', 'Segment', drp)">
                                        <ui-select-match placeholder="Select Segment">{{$select.selected.title}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="opt in segment_customer_arr | filter: $select.search">
                                            <div ng-bind-html="opt.title | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label blue-label">Sales Status<!-- Territory --> <span class="required">*</span></label>
                                <div class="col-md-8">
                                    <ui-select ng-model=" rec.region_id " ng-disabled="check_cust_readonly
                                " ng-class="{ 'not-click-allow':disableClass> 0}" ng-change="addNewPredefinedPopup(rec.region_id, 'REGION', 'Region', drp)">
                                        <ui-select-match placeholder="Select Sales Status">{{$select.selected.title}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="opt in region_customer_arr | filter: $select.search">
                                            <div ng-bind-html="opt.title | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Buying Group </label>

                                <div class="col-md-8">
                                    <ui-select ng-model="drp.buying_grp_id" ng-disabled="check_cust_readonly" ng-class="{'not-click-allow':disableClass > 0}" ng-change="addNewPredefinedPopup(drp.buying_grp_id, 'BUYING_GROUP', 'Buying Group', drp)">
                                        <ui-select-match placeholder="Select Buying Group">{{$select.selected.title}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="opt in bying_group_customer_arr | filter: $select.search">
                                            <div ng-bind-html="opt.title | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">Source Of CRM </label>

                                <div class="col-md-8">
                                    <ui-select ng-model="drp.sources_of_crm_id" ng-disabled="check_cust_readonly" ng-class="{'not-click-allow':disableClass > 0}" ng-change="addNewPredefinedPopup(drp.sources_of_crm_id, 'SOURCES_OF_CRM', 'Source Of CRM', drp)">
                                        <ui-select-match placeholder="Select Source Of CRM">{{$select.selected.name}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="opt in rec.arr_sources_of_crm | filter: $select.search">
                                            <div ng-bind-html="opt.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label"> Classification</label>
                                <div class="col-md-8 ">
                                    <ui-select ng-model="drp.customer_classification" ng-disabled="check_cust_readonly" ng-class="{'not-click-allow':disableClass > 0}">

                                        <ui-select-match placeholder="Select Classification">
                                            {{$select.selected.title}}
                                        </ui-select-match>
                                        <ui-select-choices repeat=" opt in arr_customer_classification | filter: $select.search">
                                            <div ng-bind-html="opt.title| highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Type</label>
                                <div class="col-md-8 ">
                                    <!--  || (drp.crm_type.id > 0 && rec.crm_code.length > 0)  -->
                                    <ui-select ng-model="drp.crm_type" ng-disabled="check_cust_readonly" ng-class="{'not-click-allow':!check_cust_readonly}">
                                        <ui-select-match placeholder="Select Type">
                                            {{$select.selected.title}}
                                        </ui-select-match>
                                        <ui-select-choices repeat=" opt in rec.arr_crm_type | filter: $select.search">
                                            <div ng-bind-html="opt.title| highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>

                            <div class="form-group" ng-if="drp.crm_type.id != undefined && drp.crm_type.id != 1">
                                <label class="col-md-4 control-label" title="Link to Indirect CRM" ng-if="drp.crm_type.id == 2">Link </label>
                                <label class="col-md-4 control-label" title="Link to Route To Market" ng-if="drp.crm_type.id == 3">Link</label>
                                <div class="col-md-8">
                                    <div class="panel-info pi2" ng-class="{'dont-click readonly':check_cust_readonly ,'max-height':selectedRouteToMarkets.length>21 }">
                                        <div class="panel-body " style="    height: 28px;" ng-click="ShowRouteToMarketList(drp.crm_type.id);">
                                            <aside>
                                            </aside>
                                            {{selectedRouteToMarkets}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-if="social_medias_general_form.length > 0" style="margin-bottom: 0 !important;">
                                <label class="col-md-4 control-label">Social Media</label>
                                <div class="col-md-8 genSocialMedia">
                                    <x-dynamic-select lookup-table="social_medias_general_form" fields="socialMediasGeneral" property-name="customerSM" qty="{{qty}}" default-option-index="{{defaultOption}}" read-only="check_cust_readonly">
                                    </x-dynamic-select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Additional Information</label>
                                <div class="col-md-8">
                                    <input type="text" maxlength="250" ng-model="rec.additionalInformation" id="additionalInformation" class="form-control" ng-readonly="check_cust_readonly" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">Anonymous Customer</label>

                                <div class="col-md-8 pl0">
                                    <div class="input-symbol">
                                        <label class="col-md-4" style="margin-top: 6px;">
                                            <input type="checkbox"
                                                   name="general_anonymous_customer"
                                                   id="general_anonymous_customer"
                                                   ng-model="rec.anonymous_customer1"
                                                   ng-checked="rec.anonymous_customer1"
                                                   ng-disabled="check_cust_readonly"></label>
                                    </div>
                                </div>
                            </div>
                            <!-- <div><pre>{{socialMediasGeneral | json}}</pre></div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default padb0" style="    margin-top: 15px;">
            <div class="panel-body">
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Primary Contact Name 
                            <span ng-if=" rec.cjob_title.length>0 || rec.cdirect_line.length>0 || rec.cdirect_line>0 || rec.cmobile.length>0 || rec.cemail.length>0 || rec.cphone.length>0 ||
                                                rec.cfax.length>0 || drp.pref_mthod_of_comm || rec.cbooking_instructions.length>0 ||
                                                rec.csocialmedia1 || rec.csocialmedia1_value.length>0 || rec.csocialmedia2 ||
                                                rec.csocialmedia2_value.length>0 || rec.csocialmedia3 || rec.csocialmedia3_value.length>0 ||
                                                rec.csocialmedia4 || rec.csocialmedia4_value.length>0 || rec.csocialmedia5 ||
                                                rec.csocialmedia5_value.length>0 || rec.alt_contact_id > 0"
                                  class="required">*</span>
                        </label>

                        <div class="col-md-8">
                            <input type="text" ng-model="rec.contact_person" id="contact_person" class="form-control" ng-readonly="check_cust_readonly" required ng-required="rec.cjob_title.length>0 || rec.cdirect_line.length>0 || rec.cdirect_line>0 ||
                                                rec.cmobile.length>0 || rec.cemail.length>0 || rec.cphone.length>0 ||
                                                rec.cfax.length>0 || drp.pref_mthod_of_comm || rec.cbooking_instructions.length>0 ||
                                                rec.csocialmedia1 || rec.csocialmedia1_value.length>0 || rec.csocialmedia2 ||
                                                rec.csocialmedia2_value.length>0 || rec.csocialmedia3 || rec.csocialmedia3_value.length>0 ||
                                                rec.csocialmedia4 || rec.csocialmedia4_value.length>0 || rec.csocialmedia5 ||
                                                rec.csocialmedia5_value.length>0 || rec.alt_contact_id > 0" />
                            <input type="hidden" ng-model="rec.alt_contact_id" id="alt_contact_id" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Job Title </label>

                        <div class="col-md-8">
                            <input type="text" ng-model="rec.cjob_title" id="job_title" class="form-control" ng-readonly="check_cust_readonly" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Direct Line </label>

                        <div class="col-md-8">
                            <input type="text" ng-model="rec.cdirect_line" id="direct_line" class="form-control" ng-readonly="check_cust_readonly" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Mobile </label>

                        <div class="col-md-8">
                            <input type="text" ng-model="rec.cmobile" id="mobile" class="form-control" ng-readonly="check_cust_readonly" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label">Telephone</label>

                        <div class="col-md-8">
                            <input type="text" ng-model="rec.cphone" id="telephone" class="form-control" ng-readonly="check_cust_readonly" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label">Fax </label>

                        <div class="col-md-8">
                            <input type="text" ng-model="rec.cfax" id="fax" class="form-control" ng-readonly="check_cust_readonly" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label">Email </label>

                        <div class="col-md-8">

                            <div class="input-symbol">
                                <input type="email" ng-model="rec.cemail" id="email" data-parsley-type="email" name="email" class="form-control" data-email-msg="Email format is not valid" ng-readonly="check_cust_readonly" placeholder="e.g. myname@example.com" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-5 col-md-offset-2">

                    <div class="form-group">
                        <label class="col-md-4 control-label" title="Prefer Method Of Communication">Pref. Method Of Comm.</label>

                        <div class="col-md-8">
                            <ui-select ng-model="drp.cpref_method_of_communication" ng-disabled="check_cust_readonly" ng-class="{'not-click-allow':disableClass > 0}" ng-change="addNewPredefinedPopup(drp.pref_mthod_of_comm, 'PREFER_METHOD', 'Preferred Method Of Communication', drp)">
                                <ui-select-match placeholder="Select Prefer Method Of Communication">
                                    {{$select.selected.title}}
                                </ui-select-match>
                                <ui-select-choices repeat="opt in arr_pref_method_comm | filter: $select.search">
                                    <div ng-bind-html="opt.title| highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>

                    <div class="form-group" style="margin-bottom: 0 !important;">
                        <label class="col-md-4 control-label">Social Media</label>
                        <div class="col-md-8 genContactSocialMedia">
                            <x-dynamic-select lookup-table="social_medias_contact_form" fields="socialMediasContactGeneral" property-name="primaryContactSM" qty="{{qty}}" default-option-index="{{defaultOption}}" read-only="check_cust_readonly">
                            </x-dynamic-select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Primary Contact Notes</label>

                        <div class="col-md-8" style="position:relative;">
                            <textarea style="height:100px !important; resize:none;" ng-model="rec.cbooking_instructions" id="cnotes" class="form-control" ng-disabled="check_cust_readonly" maxlength="250" />
                            </textarea>
                            <!-- <span class="word-counter">{{rec.cbooking_instructions.length}}/100</span> -->
                        </div>
                    </div>
                    <!-- <div><pre>{{socialMediasContactGeneral | json}}</pre></div>     -->
                </div>
            </div>
            <div class="row">
                <!-- style="right: unset;" -->
                <div class="col-md-12 affix">
                    <div class="pull-left">
                        <!-- <div class="communication">
                            <sidebar-notes ng-if="noRoleAssigned !=1" class="noselect"></sidebar-notes>
                            <sidebar-email ng-if="noRoleAssigned !=1" class="noselect"></sidebar-email>
                            <sidebar-attachment ng-if="noRoleAssigned !=1" class="noselect"></sidebar-attachment>
                        </div> -->
                    </div>
                    <div class="pull-right">

                        <!-- <div class="dropdown ib" ng-show="rec.id > 0 && cust_gneral_tab_module > 0">
                            <button class="dte-btn dropdown-toggle" type="button" data-toggle="dropdown">
                                <i class="dte-ico"></i>
                            </button>
                            <ul class="dropdown-menu dte animated fadeIn">
                                <span ng-click="set_document_internal(cust_gneral_tab_module)">
                                    <i class="fa fa-file-text-o"
                                       aria-hidden="true"></i> Add Document</span>
                                <span>
                                    <i class="fa fa-check"
                                       aria-hidden="true"></i> Add Task</span>
                                <span>
                                    <i class="fa fa-envelope-o"
                                       aria-hidden="true"></i> Compose Email</span>
                            </ul>
                        </div> -->

                        <!-- <button class="btn btn_blue active-btns" ng-show="rec.type == 3" type="button" ng-click="convert()">
                            Convert to CRM
                        </button> -->
                        <!--  ng-if="allowedit_customer_general_tab" -->
                        <!-- <button class="btn btn-default2 active-btns" ng-if="allowconvert_cust_general_tab && rec.id > 0 "  ng-show="rec.type == 3 && !(rec.crm_code.length>0)"  ng-disabled="!check_cust_readonly" 
                            type="button" ng-click="convert()"> Convert to CRM
                        </button> -->
                        <button class="btn btn-delete active-btns" type="button" ng-show="rec.id > 0 && allowdelete_cust_gneral__tab == 1 && !check_cust_readonly" ng-click="deleteCustomer()">
                            Delete
                        </button>
                        <button class="btn btn-submit pic_block" type="submit" ng-show="!check_cust_readonly">
                            <i class="fa fa-check fa_display"></i> Save
                        </button>
                        <button class="btn btn-edit" type="button" ng-click="showEditCRMForm()" ng-show="check_cust_readonly && allowedit_cust_gneral__tab">
                            <i class="fa fa-edit fa_display"></i> Edit
                        </button>
                        <button class="btn btn-cancel" type="button" ui-sref="app.customer()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>