RewriteEngine On
 
#RewriteBase /new # if hosting api files on root use only /
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^(.*)$ index.php [QSA,L]

RewriteRule ^user/login/?$ login.php [L]

#RewriteRule ^employee/([a-zA-Z0-9%.\-_]+)/?$ employee.php [L]
#RewriteRule ^accounts/([a-zA-Z0-9%.\-_]+)/?$ accounts.php [L]
#RewriteRule ^setup/([a-zA-Z0-9%.\-_]+)/?$ setup.php [L]
#RewriteRule ^hr/([a-zA-Z0-9%.\-_]+)/?$ hr.php [L]
#RewriteRule ^stock/([a-zA-Z0-9%.\-_]+)/?$ stock.php [L]
#RewriteRule ^stock/brand/([a-zA-Z0-9%.\-_]+)/?$ stock.php [L]


RewriteRule ^setup/(.*)$ setup.php [QSA,L]
RewriteRule ^employee/(.*)$ employee.php [QSA,L]
RewriteRule ^accounts/(.*)$ accounts.php [QSA,L]
RewriteRule ^hr/(.*)$ hr.php [QSA,L]
RewriteRule ^dashboard/(.*)$ dashboard.php [QSA,L]
RewriteRule ^stock/(.*)$ stock.php [QSA,L]
RewriteRule ^sales/(.*)$ sales.php [QSA,L]
RewriteRule ^gl/(.*)$ gl.php [QSA,L]
RewriteRule ^purchase/(.*)$ purchase.php [QSA,L]
RewriteRule ^modules/(.*)$ modules.php [QSA,L]
RewriteRule ^communication/(.*)$ communication.php [QSA,L]
RewriteRule ^crm_promotion_doc_view/(.*)$ crm_promotion_doc_view.php [QSA,L]
RewriteRule ^crm_competitor_doc_view/(.*)$ crm_competitor_doc_view.php [QSA,L]
RewriteRule ^crm_document_doc_view/(.*)$ crm_document_doc_view.php [QSA,L]
 
 RewriteRule ^reports/(.*)$ reports.php [QSA,L]
<FilesMatch "\.(htm|html|js|css)$">
<IfModule mod_expires.c>
ExpiresActive Off
</IfModule>
<IfModule mod_headers.c>
FileETag None
Header unset ETag
Header unset Pragma
Header unset Cache-Control
Header unset Last-Modified
Header set Pragma "no-cache"
Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
Header set Expires "Mon, 10 Apr 1972 00:00:00 GMT"
</IfModule>
</FilesMatch>